<div class="row my-row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 my-mt-5">
    <div class="card card-custom">
      <div class="card-header">
        <div class="card-title my-card-title">
          <div class="my-center">
            <img src="./assets/images/dashboard-user.png" class="user-image" alt="" />
            <br>
            <label class="text-dark center">Jame</label><br>
            <label class="text-dark center">S00012(LP)</label>
          </div>
        </div>
      </div>
      <div class="card-body customer-card-body" style="margin-top: 10px;">
        <div class="row my-row">
          <div class="col-10">
            <label>Premium 2021</label>
          </div>
          <div class="col-2">
            <img src="./assets/images/alert.png" class="icon-image" alt="" />
          </div>
        </div>

        <div>
          <label style="padding-left: 50px;"><span class="font-weight-bolder text-dark center font-24">200,000</span>
            <span><sup>MMk</sup></span></label>
        </div>
        <div>
          <div class="row my-row">
            <div class="col-12">
              <label class="font-weight-bolder text-dark underline">Products</label>
            </div>
          </div>
          <div class="row my-row">
            <div class="col-6">Motor</div>
            <div class="col-6">: 50000 MMK</div>
          </div>
          <div class="row my-row">
            <div class="col-6">Fire</div>
            <div class="col-6">: 30000 MMK</div>
          </div>
          <div class="row my-row">
            <div class="col-6">Education</div>
            <div class="col-6">: 20000 MMK</div>
          </div>
          <div class="row my-row">
            <div class="col-6">SportMan</div>
            <div class="col-6">: 100000 MMK</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 my-mt-5">
    <div class="card card-custom">
      <div class="my-p-10">
        <div class="my-center"><span>Recent Operations</span></div>
      </div>

      <div>
        <div class="row my-row lp-dashboard-box-header flex">
          <div class="col-10">Quotes</div>
          <div class="col-2 underline">All></div>
        </div>
        <div class="lp-dashboard-box-body">
          <div>Endowment</div>
          <div><span>Gery Guo </span>
            <span class="pl-10">Submitted</span>
          </div>
        </div>
        <br>
        <div class="lp-dashboard-box-body">
          <div>Education Saver</div>
          <div><span>Tony Tang </span>
            <span class="pl-10">Submitted</span>
          </div>
        </div>
        <br>

        <div class="row my-row lp-dashboard-box-header flex">
          <div class="col-10">Policies</div>
          <div class="col-2 underline">All></div>
        </div>
        <div class="lp-dashboard-box-body">
          <div>Endowment</div>
          <div><span>Gery Guo </span>
            <span class="pl-10">Submitted</span>
          </div>
        </div>
        <br>
        <div class="lp-dashboard-box-body">
          <div>Education Saver</div>
          <div><span>Gery Guo </span>
            <span class="pl-10">Submitted</span>
          </div>
        </div>
      </div>
      <br>

      <div>
        <div class="row my-row lp-dashboard-box-header">
          <div class="col-12">Campaign for Today
          </div>
        </div>
        <div class="lp-dashboard-box-body">
          <div>
            <span>- Campaign Name 1
          </span>
          </div>
          <div>
            <span>   Status
          </span>
          </div>
        </div>
        <div class="lp-dashboard-box-body">
          <div>
            <span>- Campaign Name 2
          </span>
          </div>
          <div>
            <span>   Status
          </span>
          </div>
        </div>
      </div>
  </div>

</div>