
.top-box{
  color: #B5B5C3;
  margin-left: 50px;
  span{
    color: #000;
   //  font-weight: 700;
  }
 }

.my-center{
  text-align : center;
}

.user-image{
  width: 80px;
}

.user-icon{
  width: 35px;
}

.icon-image{
  width: 20px;
}

.font-24{
  font-size: 24px !important;
}

.underline{
  text-decoration: underline;
}

.bold{
  font-weight: 600;
}

.flex{
  display : flex;
}

.my-border-left{
  border-left: 1px solid rgba(56, 55, 55, 0.12);
}

.my-card-title{
  justify-content: center;
  width: 100%;
}

.width-100{
  width : 100%;
}

.float-right{
  float : right;
}

.my-border-bottom{
  border-bottom: 1px solid rgb(218, 217, 217);
}

.my-border-none{
  border: none;
}

.my-p-10{
  padding: 10px;
}
.my-row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.my-mt-5{
  margin-top: 5px;;
}

.my-p-10{
  padding :15px;
}

.lp-dashboard-box-header{
  padding : 5px;
}

.lp-dashboard-box-body{
  padding-left : 30px;
}
