<div class="row" *ngIf="leadForm">
  <div class="col-12">

    <form action="#" class="form" [formGroup]="leadForm" (ngSubmit)="createLead()">

      <div class="card card-custom gutter-b">
        <div class="card-header" *ngIf="!isPopup">
          <div class="card-title">
            <h3 class="card-label left-border-image">{{"FORM.create_lead" | translate}}</h3>
          </div>
        </div>

        <div class="card-body px-10 py-3">

          <div>
            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.lead_id" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm " name="leadId" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('leadId')" [class.is-valid]="isControlValid('leadId')"
                      formControlName="leadId" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.phone_number" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" (change)="calculateLeadQuality()"
                      name="phoneNo" autocomplete="off" [class.is-invalid]="isControlInvalid('phoneNo')"
                      [class.is-valid]="isControlValid('phoneNo')" formControlName="phoneNo" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.subject" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="subject" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('subject')" [class.is-valid]="isControlValid('subject')"
                      formControlName="subject" />
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label"> {{"FORM.open_date" | translate}}</label>
                  <div class="col-sm-8">
                    <div class="input-group ">
                      <input matInput class="form-control-sm date-input" style="width: 100%;"
                        formControlName="openedDate" [matDatepicker]="openDate" readonly>
                      <mat-datepicker-toggle matSuffix [for]="openDate"></mat-datepicker-toggle>
                      <mat-datepicker #openDate disabled="true"></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.name" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="contactName" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('contactName')"
                      [class.is-valid]="isControlValid('contactName')" formControlName="contactName" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.act_date" | translate}}</label>
                  <div class="col-sm-8">
                    <div class="input-group ">
                      <input matInput class="form-control-sm date-input" style="width: 100%;"
                        formControlName="activationDate" [matDatepicker]="activitionDate" readonly>
                      <mat-datepicker-toggle matSuffix [for]="activitionDate">
                      </mat-datepicker-toggle>
                      <mat-datepicker #activitionDate disabled="true"></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{"FORM.precontact" | translate}}</label>
                  <div class="col-sm-10 checkgroup">
                    <div class="check-input">
                      <label class="col-form-label">SMS</label>
                      <input type="checkbox" formControlName="PCsms">
                    </div>
                    <div class="check-input">
                      <label class="col-form-label">Email</label>
                      <input type="checkbox" formControlName="PCemail">
                    </div>
                    <div class="check-input">
                      <label class="col-form-label">Phone</label>
                      <input type="checkbox" formControlName="PCphone">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.type" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" (change)="calculateLeadQuality('typeCode')"
                      [class.is-invalid]="isControlInvalid('typeCode')" [class.is-valid]="isControlValid('typeCode')"
                      [items]="typeOption" bindLabel="value" bindValue="code" formControlName="typeCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label"> {{"FORM.close_date" | translate}}</label>
                  <div class="col-sm-8">
                    <div class="input-group ">
                      <input matInput class="form-control-sm date-input" style="width: 100%;"
                        formControlName="closedDate" [matDatepicker]="closeDate" readonly>
                      <mat-datepicker-toggle matSuffix [for]="closeDate"></mat-datepicker-toggle>
                      <mat-datepicker #closeDate disabled="true"></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.status" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" [readonly]="true"
                      [class.is-invalid]="isControlInvalid('statusCode')"
                      [class.is-valid]="isControlValid('statusCode')" [items]="statusOption" bindLabel="value"
                      bindValue="code" formControlName="statusCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.exp_date" | translate}}</label>
                  <div class="col-sm-8">
                    <div class="input-group ">
                      <input matInput class="form-control-sm date-input" style="width: 100%;"
                        formControlName="expirationDate" [matDatepicker]="expDate">
                      <mat-datepicker-toggle matSuffix [for]="expDate"></mat-datepicker-toggle>
                      <mat-datepicker #expDate></mat-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.occupation" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" [class.is-invalid]="isControlInvalid('occupationCode')"
                      [class.is-valid]="isControlValid('occupationCode')" [items]="occupationOption" bindLabel="value"
                      bindValue="code" formControlName="occupationCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.company" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" [class.is-invalid]="isControlInvalid('companyCode')"
                      [class.is-valid]="isControlValid('companyCode')" [items]="companyOption" bindLabel="value"
                      bindValue="code" formControlName="companyCode">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.state" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" (change)="calculateLeadQuality('state')"
                      [class.is-invalid]="isControlInvalid('stateCode')" [class.is-valid]="isControlValid('stateCode')"
                      [items]="stateOption" bindLabel="value" bindValue="code" formControlName="stateCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.district" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" (change)="calculateLeadQuality('district')"
                      [class.is-invalid]="isControlInvalid('districtCode')"
                      [class.is-valid]="isControlValid('districtCode')" [items]="distinctOption" bindLabel="value"
                      bindValue="code" formControlName="districtCode">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.township" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" (change)="calculateLeadQuality()"
                      [class.is-invalid]="isControlInvalid('townshipCode')"
                      [class.is-valid]="isControlValid('townshipCode')" [items]="townshipOption" bindLabel="value"
                      bindValue="code" formControlName="townshipCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.validity_period" | translate}}</label>
                  <div class="col-sm-8">
                    <div class="input-group ">
                      <input type="text" readonly class="form-control form-control-sm" name="validityPeriod"
                        autocomplete="off" [class.is-invalid]="isControlInvalid('validityPeriod')"
                        [class.is-valid]="isControlValid('validityPeriod')" formControlName="validityPeriod" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.distribution_channel" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" (change)="getLeadQuality()" (clear)="clearLeadQuality()"
                      [class.is-invalid]="isControlInvalid('channelCode')"
                      [class.is-valid]="isControlValid('channelCode')" [items]="channelOption" bindLabel="value"
                      bindValue="code" formControlName="channelCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.assign_to" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" readonly class="form-control form-control-sm" name="assignToName"
                      autocomplete="off" [class.is-invalid]="isControlInvalid('assignToName')"
                      [class.is-valid]="isControlValid('assignToName')" formControlName="assignToName" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.product" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" (change)="calculateLeadQuality('product')"
                      (clear)="clear('product')" [class.is-invalid]="isControlInvalid('productId')"
                      [class.is-valid]="isControlValid('productId')" [items]="productOption2" bindLabel="value"
                      bindValue="code" formControlName="productId">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.email" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="email" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('email')" [class.is-valid]="isControlValid('email')"
                      formControlName="email" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.campaign_name" | translate}}</label>
                  <div class="col-sm-8" (click)="viewCampaignList()">
                    <input type="text" class="form-control form-control-sm " (change)="calculateLeadQuality()"
                      name="campaignName" readonly autocomplete="off" formControlName="campaignName" />
                    <span class="ng-clear-wrapper" (click)="clearDate('campaignName');$event.stopPropagation()"
                      title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.identity_type" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" [class.is-invalid]="isControlInvalid('identityType')"
                      [class.is-valid]="isControlValid('identityType')" [items]="identityTypeOption" bindLabel="value"
                      bindValue="code" formControlName="identityType">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.campaign_id" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" name="campaignNo" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('campaignNo')"
                      [class.is-valid]="isControlValid('campaignNo')" formControlName="campaignNo" />
                    <span class="ng-clear-wrapper" (click)="clearDate('campaignNo');$event.stopPropagation()"
                      title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.nrc_frc_passport" | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" *ngIf="leadForm.get('identityType').value == 'NRC'"
                      class="form-control form-control-sm " name="identityNumber" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('identityNumber')" (click)="openNRCModal()"
                      [class.is-valid]="isControlValid('identityNumber')" formControlName="identityNumber" readonly />
                    <input type="text" *ngIf="leadForm.get('identityType').value != 'NRC'"
                      class="form-control form-control-sm " name="identityNumber" autocomplete="off"
                      [class.is-invalid]="isControlInvalid('identityNumber')"
                      [class.is-valid]="isControlValid('identityNumber')" formControlName="identityNumber" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.source" | translate}}</label>
                  <div class="col-sm-8">
                    <ng-select class="ng-custom-select" (change)="calculateScore(leadForm.value.sourceCode,null)"
                      [class.is-invalid]="isControlInvalid('sourceCode')" (clear)="clear('source')"
                      [class.is-valid]="isControlValid('sourceCode')" [items]="sourceOption" bindLabel="value"
                      bindValue="code" formControlName="sourceCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.existing_customer" | translate}}</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm " name="existingCustomerName"
                      autocomplete="off" readonly formControlName="existingCustomerName" />
                    <span class="ng-clear-wrapper" (click)="clearDate('existingCustomerName');$event.stopPropagation()"
                      title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>
                  </div>
                  <div class="col-sm-1" *ngIf="!isAddProspect">
                    <a title="Edit Form Page" class="btn btn-primary btn-cus btn-sm mx-1"
                      (click)="checkExisting('customer')">
                      <span class="flaticon2-check-mark"></span>
                    </a>
                  </div>
                  <div class="col-sm-1" *ngIf="!isAddProspect">
                    <a title="Edit Form Page" class="btn btn-primary btn-cus btn-sm mx-1"
                      (click)="viewExisting('customer')">
                      <span class="flaticon2-user"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="align-items: center">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{"FORM.referral_customer" | translate}}</label>
                  <div class="col-sm-8" (click)="viewExisting('referral')">
                    <input type="text" class="form-control form-control-sm" name="referralCustomerName" readonly
                      autocomplete="off" [class.is-invalid]="isControlInvalid('referralCustomerName')"
                      [class.is-valid]="isControlValid('referralCustomerName')" readonly
                      formControlName="referralCustomerName" />
                    <span class="ng-clear-wrapper" (click)="clearDate('referralCustomerName');$event.stopPropagation()"
                      title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4  col-form-label">{{"FORM.existing_prospect" | translate}}</label>
                  <div class="col-sm-5">
                    <input type="text" readonly class="form-control form-control-sm " name="prospectCustomer"
                      autocomplete="off" formControlName="prospectCustomer" />
                    <span class="ng-clear-wrapper" *ngIf="!isAddProspect"
                      (click)="clearDate('prospectCustomer');$event.stopPropagation()" title="Clear all"><span
                        aria-hidden="true" class="ng-clear">×</span></span>
                  </div>
                  <div class="col-sm-1" *ngIf="!isAddProspect">
                    <a title="Edit Form Page" class="btn btn-primary btn-cus btn-sm mx-1"
                      (click)="checkExisting('prospect')" readonly="leadForm.value.existingCustomerName">
                      <span class="flaticon2-check-mark"></span>
                    </a>
                  </div>
                  <div class="col-sm-1" *ngIf="!isAddProspect">
                    <a title="Edit Form Page" class="btn btn-primary btn-cus btn-sm mx-1"
                      (click)="viewExisting('prospect')">
                      <span class="flaticon2-user"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <hr>
          <h3 class="card-label left-border-image">{{"FORM.more_detail" | translate}}</h3>

          <div class="row" style="align-items: center">
            <div class="col-sm-12">
              <div class="row" style="align-items: center">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label">{{"FORM.estimate_m_income" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control form-control-sm" name="monthlyIncome" autocomplete="off"
                        [class.is-invalid]="isControlInvalid('monthlyIncome')"
                        [class.is-valid]="isControlValid('monthlyIncome')" formControlName="monthlyIncome" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label">{{"FORM.facebook_acc" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control form-control-sm" name="facebookAcc" autocomplete="off"
                        [class.is-invalid]="isControlInvalid('facebookAcc')"
                        [class.is-valid]="isControlValid('facebookAcc')" formControlName="facebookAcc" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="align-items: center">


                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label">{{"FORM.marital_status" | translate}}</label>
                    <div class="col-sm-7">
                      <ng-select class="ng-custom-select" [class.is-invalid]="isControlInvalid('maritalStatus')"
                        [class.is-valid]="isControlValid('maritalStatus')" [items]="maritalOption" bindLabel="value"
                        bindValue="code" formControlName="maritalStatus">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5  col-form-label">{{"FORM.no_childern" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="number" class="form-control form-control-sm" name="numberOfChildren"
                        autocomplete="off" [class.is-invalid]="isControlInvalid('numberOfChildren')"
                        [class.is-valid]="isControlValid('numberOfChildren')" formControlName="numberOfChildren" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="align-items: center">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5  col-form-label">{{"FORM.asset" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control form-control-sm" name="asset" autocomplete="off"
                        [class.is-invalid]="isControlInvalid('asset')" [class.is-valid]="isControlValid('asset')"
                        formControlName="asset" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5  col-form-label">{{"FORM.score" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control form-control-sm" name="score" autocomplete="off"
                        [class.is-invalid]="isControlInvalid('score')" [class.is-valid]="isControlValid('score')"
                        formControlName="score" readonly />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="align-items: center">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5  col-form-label">{{"FORM.existing_insurance_plan" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control form-control-sm" name="existingInsurancePlan"
                        autocomplete="off" [class.is-invalid]="isControlInvalid('existingInsurancePlan')"
                        [class.is-valid]="isControlValid('existingInsurancePlan')"
                        formControlName="existingInsurancePlan" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5  col-form-label">{{"FORM.existing_insurance_coverage" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control form-control-sm" name="existingInsuranceCoverage"
                        autocomplete="off" [class.is-invalid]="isControlInvalid('existingInsuranceCoverage')"
                        [class.is-valid]="isControlValid('existingInsuranceCoverage')"
                        formControlName="existingInsuranceCoverage" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="align-items: center">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5  col-form-label">{{"FORM.financial_plan" | translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control form-control-sm" name="financialPlan" autocomplete="off"
                        [class.is-invalid]="isControlInvalid('financialPlan')"
                        [class.is-valid]="isControlValid('financialPlan')" formControlName="financialPlan" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label">{{"FORM.reject_reason" | translate}}</label>
                    <div class="col-sm-7">
                      <textarea type="text" readonly class="form-control form-control-sm" name="reason"
                        autocomplete="off" formControlName="reason"></textarea>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <hr>
          </div>

          <div class="mt-2">
            <div class="row" style="align-items: center;  justify-content: flex-end;">
              <div class="col-sm-2">
                <button type="button" class="btn btn-sm btn-primary ml-2" style="width: 100%;"
                  (click)="updateLeadStatus('save')">
                  <span class="">{{"FORM.btn_save" | translate}}</span>
                </button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-sm btn-secondary ml-2" style="width: 100%;"
                  (click)="updateLeadStatus('cancel')">
                  <span class="">{{"FORM.btn_cancel" | translate}}</span>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>