
<div class="addon-print" *ngIf="policyHolder">
  <div style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500;
  margin-bottom: 1.25rem; margin-top: 1.25rem">
    Policy Holder Information Details
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Name
    </div>
    <div class="col-sm-6"  style="flex: 0 0 50%; max-width: 50%;">
      {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      ID
    </div>
    <div class="col-sm-6"  style="flex: 0 0 50%; max-width: 50%;">
      {{policyHolder.cprNumber}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Date of Birth
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress"  style="flex: 0 0 50%; max-width: 50%;">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Mobile
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress"  style="flex: 0 0 50%; max-width: 50%;">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].mobileNo}}
      </ng-container>
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Email
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress"  style="flex: 0 0 50%; max-width: 50%;">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].eMailId}}
      </ng-container>
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Address
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress"  style="flex: 0 0 50%; max-width: 50%;">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].address1}} , {{policyHolder.partyAddress[0].address2}} ,
        {{policyHolder.partyAddress[0].address3}} , {{policyHolder.townshipName}} , {{policyHolder.districtName}} ,
        {{policyHolder.stateName}}
      </ng-container>
    </div>
  </div>
</div>

<div class="addon-print">
  <div  style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500;
  margin-bottom: 1.25rem; margin-top: 1.25rem">Policy Information Details</div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td  style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Policy Effective Date
      </td>
      
      <td  style="text-align: center ;
      padding: 5px 5px;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;">{{productDetail.formdate | date: 'dd/MM/YYYY'}}</td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Policy Expiry Date
      </td>
      <td style="text-align: center ;
      padding: 5px 5px;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;">{{productDetail.todate | date: 'dd/MM/YYYY'}}</td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Policy Duration
      </td>
      <td style="text-align: center ;
      padding: 5px 5px;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;">{{productDetail.paPolicyTermValue}}</td>
    </tr>
    <tr>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Currency
      </td>
      <td  colspan="10" style="padding: 5px 5px;
      text-align: center ;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;">{{productDetail.currency}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div  style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500;
  margin-bottom: 1.25rem; margin-top: 1.25rem">Risk Information Details</div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Name
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Occupation
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Gender
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        ID
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Date of Birth
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Father Name
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Phone Number
      </td>
    </tr>
    <tbody>
      <ng-container>
        <tr>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{lifeInsuredPolicy.paNameOfInsured}}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{lifeInsuredPolicy.occupationCd}}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{lifeInsuredPolicy.genderCdValue}}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{lifeInsuredPolicy.identityType}}-{{lifeInsuredPolicy.identityType !='NRC' ?
            lifeInsuredPolicy.identityNumber : lifeInsuredPolicy.identityNrc }} </td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{lifeInsuredPolicy.dateOfBirth | date: 'dd/MM/YYYY' }}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{lifeInsuredPolicy.fatherName}}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{lifeInsuredPolicy.phone}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="addon-print">
  <div style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500;
  margin-bottom: 1.25rem; margin-top: 1.25rem">Beneficiaries Information Details</div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        No.
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Name
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Relationship
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        ID
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Date of Birth
      </td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Share %
      </td>
    </tr>
    <tbody>
      <ng-container *ngFor="let data of beneficiaries; let i=index;">
        <tr>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{i+1}}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{data.beneficiaryName}}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{data.relationshipValue}}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{data.idType}}-{{data.idType !='NRC' ? data.idNumber : data.nrc }} </td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{data.dateOfBirth | date: 'dd/MM/YYYY' }}</td>
          <td style="padding: 5px 5px;
          text-align: center ;
          font-size: 12pt;border: 1px solid #005f99eb;
        border-collapse: collapse;">{{data.share}} % </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="addon-print">
  <div  style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500;
  margin-bottom: 1.25rem; margin-top: 1.25rem">Insurance Information Detail</div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Total SI
      </td>
      <td style="padding: 5px 5px;
      text-align: right !important;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;" colspan="4">{{productDetail.sumInsured | number : '1.2-2'}} {{productDetail.currency}}</td>
      <td style="background-color: #e9f8fe;color: #12609c;text-align: center ;
      padding: 5px 5px;
      font-size: 12pt; border: 1px solid #005f99eb;
    border-collapse: collapse;">
        Approximate Total Premium
      </td>
      <td style="padding: 5px 5px;
      text-align: right !important;
      font-size: 12pt;border: 1px solid #005f99eb;
    border-collapse: collapse;" colspan="4">{{premiumAmt}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="row">
    <div style="font-size:1.5rem;font-weight: 500 !important;margin-top: 2.5rem !important;margin-bottom: 1.25rem !important;margin-left: 1rem !important;">Declaration By Proposer</div>
  </div>
  <div class="row">
    <div class="col">
      <p style="font-size: 12pt;margin-top: 0;
      margin-bottom: 1rem;">
        I hereby declare that I am in good health and free from any physical injuries the day which I am submitting the
        proposal. I certify that the above-mentioned statements are true and correct to the best of my knowledge. I am
        fully aware that these are basic principles of the agreement between KBZMS General Insurance Co., Ltd. and me. I
        also know that if any information, declarations and supplements are inaccurate, the agreement will be voided and
        the benefits will be forfeited.
      </p>
      <p style="font-size: 12pt; color: red;margin-top: 0;
      margin-bottom: 1rem;">
        <b style="font-size: 1rem;">Remarks:</b> If beneficiary is under 18,the benefit shall be paid to his parents
        (or) lawful guardian. In case where the beneficiary dies before the insured, and the death of the insured
        occurred before the insured has not re-transferred the title of benefits, shall pay the death claim in the
        followings order:<br>
        <label style="line-height: normal;display: inline-block;
        margin-bottom: 0.5rem;">
          1.The insured’s husband or wife<br>
          2.The insured’s son or daughter<br>
          3.The insured’s grandchildren<br>
          4.The insured’s siblings<br>
          5.The insured’s parents<br>
        </label>
    </div>
  </div>
</div>

<div class="moter-print">

  <div style="display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 12pt;margin-top: 1.25rem !important;">
    <div>
      <label style="font-weight: 500 !important;">DATE</label>
      <div >{{signatureDate | date : "dd/MM/yyyy"}}</div>
    </div>
    <div >
      <label style="font-weight: 500 !important;">PROPOSER NAME AND SIGNATURE</label><br>
      <label style="display: inline-block;"> {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}}
        {{policyHolder.lastName}}</label>
      <div style="width: 150px;
      min-height: 30px;
      border-bottom: 1px #000 dashed;">
        <ng-container *ngIf="signId">
          <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" style="width: 150px;vertical-align: middle;">
        </ng-container>
      </div>
    </div>
  </div>


</div>