<button type="button" class="btn btn-outline-primary mt-5" style="position:absolute; top:0px;"
  (click)="createPdf()">Generate</button>
<div class="addon-print" *ngIf="policyHolder">
  <div class="title-style text-bold mt-5 mb-5">Policyholder Information Details</div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Name
    </div>
    <div class="col-sm-6">
      {{policyHolder.titleValue}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      ID
    </div>
    <div class="col-sm-6">
      {{policyHolder.idType}} - {{policyHolder.cprNumber}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Date of Birth
    </div>
    <div class="col-sm-6">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Mobile
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].mobileNo}}
      </ng-container>
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Email
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].eMailId}}
      </ng-container>
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Address
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].address1}} , {{policyHolder.partyAddress[0].address2}} ,
        {{policyHolder.partyAddress[0].address3}} , {{policyHolder.townshipName}} , {{policyHolder.districtName}} ,
        {{policyHolder.stateName}}
      </ng-container>
    </div>
  </div>

</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Policy Information Details</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Policy Effective Date
      </td>
      <td class="field-pd">{{productDetail.formdate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Policy Expiry Date
      </td>
      <td class="field-pd">{{productDetail.todate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Policy Duration
      </td>
      <td class="field-pd">{{productDetail.paPolicyTermValue}}</td>
    </tr>
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Currency
      </td>
      <td class="field-pd" colspan="10">{{productDetail.currency}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Risk Information Details</div>
  <table class="tbody-align" width="100%">
    <tr>
      <td class="field-col">
        Name
      </td>
      <td class="field-col">
        Occupation
      </td>
      <td class="field-col">
        Gender
      </td>
      <td class="field-col">
        ID
      </td>
      <td class="field-col">
        Date of Birth
      </td>
      <td class="field-col">
        Father Name
      </td>
      <td class="field-col">
        Phone Number
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container>
        <tr>
          <td class="field-pd">{{lifeInsuredPolicy.paNameOfInsured}}</td>
          <td class="field-pd">{{lifeInsuredPolicy.occupationCd}}</td>
          <td class="field-pd">{{lifeInsuredPolicy.genderCdValue}}</td>
          <td class="field-pd">{{lifeInsuredPolicy.identityType}}-{{lifeInsuredPolicy.identityType !='NRC' ?
            lifeInsuredPolicy.identityNumber : lifeInsuredPolicy.identityNrc }} </td>
          <td class="field-pd">{{lifeInsuredPolicy.dateOfBirth | date: 'dd/MM/YYYY' }}</td>
          <td class="field-pd">{{lifeInsuredPolicy.fatherName}}</td>
          <td class="field-pd">{{lifeInsuredPolicy.phone}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-3">Beneficiaries Information Details</div>
  <table class="tbody-align" width="100%">
    <tr>
      <td class="field-col">
        No.
      </td>
      <td class="field-col">
        Name
      </td>
      <td class="field-col">
        Relationship
      </td>
      <td class="field-col">
        ID
      </td>
      <td class="field-col">
        Date of Birth
      </td>
      <td class="field-col">
        Share %
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of beneficiaries; let i=index;">
        <tr>
          <td class="field-pd">{{i+1}}</td>
          <td class="field-pd">{{data.beneficiaryName}}</td>
          <td class="field-pd">{{data.relationshipValue}}</td>
          <td class="field-pd">{{data.idType}}-{{data.idType !='NRC' ? data.idNumber : data.nrc }} </td>
          <td class="field-pd">{{data.dateOfBirth | date: 'dd/MM/YYYY' }}</td>
          <td class="field-pd">{{data.share}} % </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="pagebreak"> </div>
<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Insurance Information Details</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Total SI
      </td>
      <td class="value-col" colspan="4">{{productDetail.sumInsured | number : '1.2-2'}} {{productDetail.currency}}</td>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Approximate Total Premium
      </td>
      <td class="value-col" colspan="4">{{premiumAmt}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="row">
    <div class="text-bold mt-10 mb-5 ml-4" style="margin-left:10px;font-size:1.5rem">Declaration By Proposer</div>
  </div>
  <div class="row">
    <div class="col">
      <p style="font-size: 12pt;">
        I hereby declare that I am in good health and free from any physical injuries the day which I am submitting the
        proposal. I certify that the above-mentioned statements are true and correct to the best of my knowledge. I am
        fully aware that these are basic principles of the agreement between KBZMS General Insurance Co., Ltd. and me. I
        also know that if any information, declarations and supplements are inaccurate, the agreement will be voided and
        the benefits will be forfeited.
      </p>
      <p style="font-size: 12pt;">
        <b style="font-size: 1rem;">Remarks:</b> If beneficiary is under 18,the benefit shall be paid to his parents
        (or) lawful guardian. In case where the beneficiary dies before the insured, and the death of the insured
        occurred before the insured has not re-transferred the title of benefits, shall pay the death claim in the
        followings order:<br>
        <label>
          1.The insured’s husband or wife<br>
          2.The insured’s son or daughter<br>
          3.The insured’s grandchildren<br>
          4.The insured’s siblings<br>
          5.The insured’s parents<br>
        </label>
    </div>
  </div>
</div>

<div class="moter-print">
  <div class="sign-row mt-5">
    <div class="sign-box">
      <br>
      <label class="mt-2">Date</label>
      <div class="sign-area sign-date">{{signatureDate | date : "dd/MM/yyyy"}}</div>
    </div>
    <div class="sign-box">
      <label class="text-bold">PROPOSER'S NAME AND SIGNATURE</label>
      <br>
      <label> {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}}
        {{policyHolder.lastName}}</label>
      <div class="sign-area">
        <ng-container *ngIf="fileId">
          <img [src]="DEFAULT_DOWNLOAD_URL+'?id='+fileId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer" *ngIf="isMobile">
  <button type="button" class="btn btn-outline-primary btn-elevate mr-2" (click)="createPdf()">Print</button>
  <button type="button" class="btn btn-outline-secondary btn-elevate mr-2" (click)="modal.dismiss()">Close</button>

</div>