<div class="addon-print" *ngIf="policyHolder">
  <div class="title-style text-bold mt-5 mb-5">Policy Holder</div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Name
    </div>
    <div class="col-sm-6">
      {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      ID
    </div>
    <div class="col-sm-6">
      {{policyHolder.cprNumber}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Date of Birth
    </div>
    <div class="col-sm-6">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Mobile
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].mobileNo}}
      </ng-container>
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Email
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].eMailId}}
      </ng-container>
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Address
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].address1}}/{{policyHolder.partyAddress[0].address2}}/{{policyHolder.partyAddress[0].address3}}/{{policyHolder.townshipName}}/{{policyHolder.districtName}}/{{policyHolder.stateName}}/{{policyHolder.cityName}}
      </ng-container>
    </div>
  </div>

</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Policy Information Detail</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Policy Effective Date
      </td>
      <td class="value-col">{{productDetail.formdate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Policy Expiry Date
      </td>
      <td class="value-col">{{productDetail.todate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Policy Duration
      </td>
      <td class="value-col">{{productDetail.paPolicyTermValue}}</td>
    </tr>
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Currency
      </td>
      <td class="value-col" colspan="10">{{productDetail.currency}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Risk Detailed Information</div>
  <table class="tbody-align" width="100%">
    <tr>
      <td class="field-col">
        Name
      </td>
      <td class="field-col">
        Occupation
      </td>
      <td class="field-col">
        Gender
      </td>
      <td class="field-col">
        ID
      </td>
      <td class="field-col">
        Date of Birth
      </td>
      <td class="field-col">
        Father Name
      </td>
      <td class="field-col">
        Phone Number
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container>
        <tr>
          <td class="field-value">{{lifeInsuredPolicy.paNameOfInsured}}</td>
          <td class="field-value">{{lifeInsuredPolicy.occupationCd}}</td>
          <td class="field-value">{{lifeInsuredPolicy.genderCdValue}}</td>
          <td class="field-value">{{lifeInsuredPolicy.identityType}}-{{lifeInsuredPolicy.identityType !='NRC' ? lifeInsuredPolicy.identityNumber : lifeInsuredPolicy.identityNrc }} </td>
          <td class="field-value">{{lifeInsuredPolicy.dateOfBirth  | date: 'dd/MM/YYYY' }}</td>
          <td class="field-value">{{lifeInsuredPolicy.fatherName}}</td>
          <td class="field-value">{{lifeInsuredPolicy.phone}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-3">Beneficiaries Detailed Information</div>
  <table class="tbody-align" width="100%">
    <tr>
      <td class="field-col">
        No.
      </td>
      <td class="field-col">
        Name
      </td>
      <td class="field-col">
        Relationship
      </td>
      <td class="field-col">
        ID
      </td>
      <td class="field-col">
        Date of Birth
      </td>
      <td class="field-col">
        Share %
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of beneficiaries; let i=index;">
        <tr>
          <td class="field-value">{{i+1}}</td>
          <td class="field-value">{{data.beneficiaryName}}</td>
          <td class="field-value">{{data.relationshipValue}}</td>
          <td class="field-value">{{data.idType}}-{{data.idType !='NRC' ? data.idNumber : data.nrc }} </td>
          <td class="field-value">{{data.dateOfBirth  | date: 'dd/MM/YYYY' }}</td>
          <td class="field-value">{{data.share}} % </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Insurance Detail</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Total SI
      </td>
      <td class="value-col" colspan="4">{{productDetail.sumInsured | number : '1.2-2'}}  {{productDetail.currency}}</td>
      <td class="field-col" style="background-color: #e9f8fe;color: #12609c;">
        Total Premium
      </td>
      <td class="value-col" colspan="4">{{premiumAmt}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="row">
    <div class="text-bold mt-10 mb-5 ml-4" style="margin-left:10px;font-size:1.5rem">Declaration By Proposer</div>
  </div>
  <div class="row">
    <div class="col">
      <p style="font-size: 12pt;">
        I hereby declare that I am in good health and free from any physical injuries the day which I submitting the
        proposal. I certify that the above-mentioned statements are true and correct to the best of my knowledge. I am
        fully aware that these are basic principles of the agreement between the insurance company and me. I also know
        that if any information, declarations and supplements are inaccurate, the agreement will be voided and the
        benefits will be forfeited.
      </p>
      <p style="font-size: 12pt;">
        <b style="font-size: 1rem;">Remarks:</b> The benefits will be issued to beneficiary's parents or guardians if
        he/she is under 18.The following policies
        will be practiced if the beneficiary is dead earlier than the insured, and meanwhile, the death of the insured
        occurred before the amendment or transfer is being made. 1.the insured's husband or wife 2.the insured's
        children 3.the insured's grandchildren 4.the insured's siblings 5.the insured's parents
    </div>
  </div>
</div>

<div class="moter-print">

  <div class="sign-row mt-5">
    <div class="sign-box">
      <label class="text-bold">DATE</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label class="text-bold">PROPOSER SIGNATURE</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>


</div>