<div class="data-header" *ngIf="lead">
    <div class="col-6">
        <img src="../../../assets/images/activity/activity-list-01.svg" alt="activity" />
        <label> {{ lead.leadId }} </label>
    </div>
    <div class="col-6">
        <section class="icon-group">
            <div class="actions">
                <img src="../../../assets/images/view-01.svg" (click)="actionBtn(lead, 'view' )" alt="View" />
            </div>
            <div class="actions">
                <img src="../../../assets/images/edit-01.svg" (click)="actionBtn(lead, 'edit' )" alt="edit" />
            </div>
        </section>
    </div>
</div>
<div class="data-content row">
    <div class="col-4">
        <label *ngIf="lead.contactName"> {{ lead.contactName }}</label>
        <label *ngIf="lead.productName">{{ lead.productName }} </label>
        <label *ngIf="lead.email">{{ lead.email }}, {{ lead.phoneNo }}</label>
    </div>
    <div class="col-4">
        <label *ngIf="lead.openedDate"> {{ lead.openedDate | date:'dd/MM/YYYY' }} </label>
        <label *ngIf="lead.statusCode == '01' " style="color: #FF8100 !important;"> Open </label>
        <label *ngIf="lead.statusCode == '02' " style="color: #005EAA !important;"> Assigned </label>
        <label *ngIf="lead.statusCode == '03' " style="color: #FF8100 !important;"> Follow Up </label>
        <label *ngIf="lead.statusCode == '04' " style="color: #DD5E5E !important;"> Reject </label>
        <label *ngIf="lead.statusCode == '05' " style="color: #00ACEA !important;"> Win </label>
        <label *ngIf="lead.statusCode == '06' " style="color: #DD5E5E !important;"> Lost </label>
    </div>
    <div class="col-4">
        <label> Score : <span>{{ lead.score }}</span> </label>
    </div>
</div>