<!--begin::Header-->
<ng-container *ngIf="extrasNotificationsDropdownStyle === 'dark'">
    <div class="d-flex flex-column bgi-size-cover bgi-no-repeat rounded-top">
        <!--begin::Title-->
        <h4 class="d-flex flex-left rounded-top " style="padding:10px 22px; font-weight: 600; ">

            <span class="text-black ">Notifications</span>

        </h4>

        <div class="drop" *ngIf="data.length>0">
            <div class="tab-pane " id="topbar_notifications_events " role="tabpanel "
                [ngClass]="getActiveCSSClasses( 'topbar_notifications_events') "
                *ngFor="let noti of data; let i =index">
                <div class="navi navi-hover my-4 " data-scroll="true "
                    style="position: relative; max-height: 300px; overflow: auto;padding: 0px 5px;">

                    <!-- <div class="navi-item" (click)="navDetail(noti)">
                        <div class="navi-link ">
                            <div class="navi-icon mr-2 " *ngIf="noti.policyStatus=='success'">
                                <i class="flaticon2-bell text-success "></i>
                            </div>
                            <div class="navi-icon mr-2 " *ngIf="noti.policyStatus!='success'">
                                <i class="flaticon2-bell text-danger "></i>
                            </div>
                            <div class="navi-text ">
                                <div class="font-weight-bold ">
                                    {{noti.title}} ( {{noti.resourceId}})
                                </div>
                                <div class="text-muted ">
                                    {{noti.message}}
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="card card-custom" class="{{noti.policyStatus | firstWord}}">
                        <div class="card-header" style="padding: 10px;">

                            <div class="card-title">
                                <div class="navi-icon mr-2 " *ngIf="noti.policyStatus!='FAIL'">
                                    <i class="flaticon2-bell text-success "></i>
                                </div>
                                <div class="navi-icon mr-2 " *ngIf="noti.policyStatus=='FAIL'">
                                    <i class="flaticon2-bell text-danger "></i>
                                </div>
                                <label class="title" >{{noti.title}} <br>
                                    <span class="date-title">{{noti.createdAt}}</span>
                                </label>
                            </div>

                        </div>
                        <div class="card-body customer-card-body" style="margin-top: 10px;">
                            <div class="row">
                                <p style="justify-content: center; margin-left: 15px;"> {{noti.message}} (
                                    {{noti.resourceId}}) </p>

                            </div>


                        </div>
                    </div>
                    <!--end::Item-->

                </div>
            </div>
        </div>
        <div *ngIf="data.length == 0">
            <div class="card-body customer-card-body" style="margin-top: 10px;">
                <div class="row">
                    <p style="justify-content: center; margin-left: 15px;"> There is No Notifications </p>
                </div>
            </div>
        </div>