.scroll {
    overflow: auto !important;
}

.drop {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    font-size: 1rem;
    font-weight: 800;
}

.date-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 2em;
}

.label {
    font-size: 0.8rem;
    font-weight: 800;
}

.card.card-custom>.card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    /* min-height: 70px; */
    padding-top: 0;
    max-height: 50px;
    padding-bottom: 0;
    background-color: transparent;
}

.FAIL {
    background: var(--new-fail-color);
    color: var(--primary-text-color);
}

.SUCCESS {
    background: var(--new-success-color);
    color: var(--primary-text-color);
}

.ACTIVE {
    background: var(--new-warning-color);
    color: var(--primary-text-color);
}

.PENDING {
    background: var(--new-success-color);
    color: var(--primary-text-color);
}

.CLOSE {
    background: var(--secondary-text-color);
    color: var(--primary-text-color);
}

.APPROVED {
    background: var(--new-warning-color);
    color: var(--primary-text-color);
}

.DRAFT {
    background: var(--new-success-color);
    color: var(--primary-text-color);
}