<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{"FORM.Addons Coverage" | translate}} :</h3>
    </div>
  </div>
  <div class="card-body customer-card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center">
        <thead>
          <tr>
            <th style="text-align: left;">
              {{"FORM.Addons Coverage" | translate}}
            </th>
            <th *ngIf="product.code == 'CLFR01'">
              {{"FORM.Option" | translate}}
            </th>
            <th *ngIf="addon.sumInsured" style="text-align: right;">
              {{"FORM.Sum Insured" | translate}}
            </th>
            <th *ngIf="addon.unit" style="text-align: right;">
              {{"FORM.Unit" | translate}}
            </th>
            <th *ngIf="addon.premium" style="text-align: right;">
              {{"FORM.Premium" | translate}}
            </th>
          </tr>
        </thead>
        <tbody class="tbody-align">
          <ng-container *ngFor="let addon of product.addOns;let i = index">
            <tr *ngIf="addOnData[addon.id]">
              <td style="text-align: left;">{{addon.description}}</td>
              <td *ngIf="product.code == 'CLFR01'">
                <ng-container *ngIf="addon.code == 'FRAD010' || addon.code == 'FRAD008' ">
                  <ng-select class="ng-custom-select" [items]="fireOptionData[addon.code]" bindLabel="value"
                    bindValue="code" disabled [(ngModel)]="addOnData[addon.id].option" [clearable]="false"></ng-select>
                </ng-container>
              </td>
              <td *ngIf="addon.sumInsured">
                <!-- <ng-container *ngIf="addOnData[addon.id]"> -->
                {{addOnData[addon.id].sum > 0 ? (addOnData[addon.id].sum | number) : addOnData[addon.id].sum}}
                <!-- </ng-container> -->
              </td>
              <td *ngIf="addon.unit">
                {{addOnData[addon.id] ? addOnData[addon.id].unit : 0}}
              </td>
              <td *ngIf="addon.premium">
                <!-- <ng-container *ngIf="addOnData[addon.id]"> -->
                {{addOnData[addon.id].premium > 0 ? (addOnData[addon.id].premium | number) :
                addOnData[addon.id].premium}}
                <!-- </ng-container> -->
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>