.btn-about {
    text-align: end;
    text-align: end;
    padding: 0;
    margin-top: 150px;
    button:last-child{
        margin-right: 0 !important;
    }
}

h3{
    font-size: 1.5rem;
}

.col-4{
    padding-left: 26px;
    span {
        color: red;
        display: inline-block;
        padding: 0 0 0 5px;
    }
}

button{
    width: 120px;
}

label{
    font-size: 1rem;
}

.title{
    padding-top:10px;
    margin-left: 5px;
}