<div class="row">
    <div class="col-6">
        <div class="col-md-6 text-left">
            <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
        </div>

    </div>
    <div class="col-6">
        <!-- <div class="btn btn-primary " mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
            Previous
        </div> -->
        <div class="btn btn-sm btn-primary " style="text-align: right; float: right;" mwlCalendarToday [(viewDate)]="viewDate">
            <label style="font-size: 1rem;">Today</label>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">

        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="calendarView.Month" [cellTemplate]="customCellTemplate" [events]="events" [viewDate]="viewDate" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <!-- <mwl-calendar-week-view *ngSwitchCase="calendarView.Week" [events]="events" [viewDate]="viewDate" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-week-view> 
                    <mwl-calendar-day-view *ngSwitchCase="calendarView.Day" [events]="events" [viewDate]="viewDate" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-day-view> -->
        </div>
        <ng-template #customCellTemplate let-day="day" let-openDay="openDay" let-locale="locale" let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay" let-eventClicked="eventClicked" let-tooltipTemplate="tooltipTemplate"
            let-tooltipAppendToBody="tooltipAppendToBody" let-tooltipDelay="tooltipDelay" let-trackByEventId="trackByEventId" let-validateDrag="validateDrag">
            <div class="cal-cell-top">
                <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{
                            day.badgeTotal
                            }}</span>
                <span class="cal-day-number">{{
                            day.date | calendarDate: 'monthViewDayNumber':locale
                            }}</span>
            </div>
            <div class="cal-events" *ngIf="day.events.length > 0">
                <div class="cal-event" *ngFor="let event of day.events | slice:0:showAll ? undefined :20; trackBy: trackByEventId" [ngStyle]="{ backgroundColor: getColor(event)}"></div>
                <span class="cal-day-badge" *ngIf="day.events.length > 20">
                            + {{ day.events.length - 20 }}
                        </span>
            </div>
        </ng-template>

    </div>

</div>