<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label left-border-image">Daily Sales Analysis by Branch</h3>
                </div>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;">
                        <span class="">Generate</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;">
                        <span class="">Cancel</span>
                    </button>
                </div>
            </div>
            <div class="card-body px-10 py-3">
                <form action="#" class="form" [formGroup]="createFormGroup">
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">From Date</label>
                                <div class="col-sm-6">
                                    <input type="text" readonly class="form-control form-control-sm"
                                        formControlName="fromDate" [min]="fromMinDate" [max]="fromMaxDate"
                                        [matDatepicker]="picker1" (dateChange)="doValid('FromDate')" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <button type="button" style="margin: 0 !important;" (click)="clearDate('FromDate')"
                                        class="btn btn-primary btn-elevate mx-2">Clear</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">To Date</label>
                                <div class="col-sm-6">
                                    <input type="text" readonly class="form-control form-control-sm"
                                        formControlName="toDate" [min]="fromMinDate" [max]="fromMaxDate"
                                        [matDatepicker]="picker" (dateChange)="doValid('ToDate')" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <button type="button" style="margin: 0 !important;" (click)="clearDate('ToDate')"
                                        class="btn btn-primary btn-elevate mx-2">Clear</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Agent Name</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select" placeholder="Please Select"
                                        (change)="changeOptions($event, 'agent')" [items]="selectOptions.agents"
                                        bindLabel="agentName" bindValue="id" formControlName="agentId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Company</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.companies.length == 0 "
                                        class="ng-custom-select" placeholder="Please Select"
                                        (change)="changeOptions($event, 'company')" [items]="selectOptions.companies"
                                        bindLabel="companyName" bindValue="id" formControlName="companyId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Channel</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.channels.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'channel')"
                                        [items]="selectOptions.channels" bindLabel="channelName" bindValue="id"
                                        formControlName="channelId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Region</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.regions.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'region')"
                                        [items]="selectOptions.regions" bindLabel="regionsName" bindValue="id"
                                        formControlName="regionId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Cluster</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.cluster.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'cluster')"
                                        [items]="selectOptions.cluster" bindLabel="clusterName" bindValue="id"
                                        formControlName="clusterId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Branch</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.branches.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'branch')"
                                        [items]="selectOptions.branches" bindLabel="brancheName" bindValue="id"
                                        formControlName="branchId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div style="width: 100%;
        overflow: hidden; position: relative;">
            <div style="width: 40%;float: left; position: relative;">
                <br *ngIf="createFormGroup.value.agentId">
                <br *ngIf="createFormGroup.value.companyId">
                <br *ngIf="createFormGroup.value.channelId">
                <br *ngIf="createFormGroup.value.regionId">
                <br *ngIf="createFormGroup.value.clusterId">
                <br *ngIf="createFormGroup.value.branchId">
                <h3 class="card-label left-border-image" style="font-size: 1.15rem;">AGENT SALES REPORT</h3>
            </div>
            <div style="width: 30%; float: left; position: relative;">
                <br *ngIf="createFormGroup.value.agentId">
                <br *ngIf="createFormGroup.value.companyId">
                <br *ngIf="createFormGroup.value.channelId">
                <br *ngIf="createFormGroup.value.regionId">
                <br *ngIf="createFormGroup.value.clusterId">
                <br *ngIf="createFormGroup.value.branchId">
                <div>
                    <span *ngIf="createFormGroup.value.fromDate">From Date: {{
                        formatDateDDMMYYY(createFormGroup.value.fromDate) }} </span>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <span *ngIf="createFormGroup.value.toDate">To Date: {{
                        formatDateDDMMYYY(createFormGroup.value.toDate) }}</span>
                </div>
            </div>
            <div class="search-display">
                <br *ngIf="createFormGroup.value.agentId">
                <br *ngIf="createFormGroup.value.companyId">
                <span *ngIf="createFormGroup.value.agentId">Agent: {{ agentName }} </span>
                <span *ngIf="createFormGroup.value.companyId">Company: {{ companyName }} </span>
                <span *ngIf="createFormGroup.value.channelId">Channel: {{ channelName }} </span>
                <span *ngIf="createFormGroup.value.regionId">Region: {{ regionName }} </span>
                <span *ngIf="createFormGroup.value.clusterId">Cluster: {{ clusterName }} </span>
                <span *ngIf="createFormGroup.value.branchId">Branch: {{ branchName }}</span>
            </div>
        </div>
        <table border="1">
            <tr style="border-top: 1px solid #000;" *ngIf="productList.length > 0">
                <th colspan="5"></th>
                <th *ngFor="let product of productList; let i = index">{{ product.productName }}</th>
            </tr>
            <tr>
                <th>No</th>
                <th>Branch</th>
                <th>Channel</th>
                <th>Agent Name</th>
                <th>Agent No.</th>
                <th *ngFor="let product of productList; let i = index">
                    <span>No of Policies
                        <div class="right-border-transform"></div>
                    </span>
                    <span>Premium</span>
                </th>
            </tr>
            <tr *ngFor="let report of reports; let i = index">
                <td>{{ i + 1}}</td>
                <td>{{ report.branchName }}</td>
                <td>{{ report.channelName }}</td>
                <td>{{ report.agentName }}</td>
                <td>{{ report.agentNo }}</td>
                <td *ngFor="let policy of reports[i].productPolicies; let j = index; ">
                    <span *ngIf="policy.noOfPolicies">{{ policy.noOfPolicies }}
                        <div class="right-border-transform"></div>
                    </span>
                    <span *ngIf="policy.noOfPolicies">{{ policy.premium }}</span>
                    <span *ngIf="!policy.noOfPolicies">
                        <div class="right-border-transform"></div>
                    </span>
                    <span *ngIf="!policy.noOfPolicies"></span>
                </td>
            </tr>
        </table>
    </div>
</div>