<div class="row" *ngIf="actForm">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form action="#" class="form" [formGroup]="actForm" (ngSubmit)="backLocation()">
                    <div class="row">

                        <div class="col-sm-6" *ngIf="pageStatus == 'edit'">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.policy_no" | translate}}</label>
                                <input type="text" class="form-control form-control-sm" name="policyNumber"
                                    autocomplete="off" [class.is-invalid]="isControlInvalid('policyNumber')"
                                    [class.is-valid]="isControlValid('policyNumber')" formControlName="policyNumber" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.policy_date" | translate}}</label>
                                <div class="input-group ">
                                    <input matInput class="form-control-sm date-input" style="width: 100%;"
                                        formControlName="policyInceptionDate" [matDatepicker]="policyInceptionDate"
                                        readonly>
                                    <mat-datepicker-toggle matSuffix [for]="policyInceptionDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #policyInceptionDate disabled="false"></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.policy_status" | translate}}</label>
                                <input type="text" class="form-control form-control-sm" name="actTitle"
                                    autocomplete="off" [class.is-invalid]="isControlInvalid('status')"
                                    [class.is-valid]="isControlValid('status')" formControlName="status" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.policy_edate" | translate}}</label>
                                <div class="input-group ">
                                    <input matInput class="form-control-sm date-input" style="width: 100%;"
                                        formControlName="policyExpiryDate" [matDatepicker]="policyExpiryDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="policyExpiryDate"></mat-datepicker-toggle>
                                    <mat-datepicker #policyExpiryDate disabled="false"></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="form-label">{{"FORM.quote_no" | translate}} </label>
                                <div class="input-group ">
                                    <input type="text" class="form-control form-control-sm" name="quoteNumber"
                                        autocomplete="off" [class.is-invalid]="isControlInvalid('quoteNumber')"
                                        [class.is-valid]="isControlValid('quoteNumber')"
                                        formControlName="quoteNumber" />

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.gross_premium" | translate}}</label>
                                <input type="tel" currencyMask
                                    [options]="{ prefix: '', thousands: ',', precision: 0,allowNegative:false,align:'left' }"
                                    class="form-control form-control-sm currency-input-tag" name="grossPremium"
                                    autocomplete="off" [class.is-invalid]="isControlInvalid('grossPremium')"
                                    [class.is-valid]="isControlValid('grossPremium')" formControlName="grossPremium" />
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.policy_holder_code" | translate}}</label>
                                <input type="text" class="form-control form-control-sm" name="policyHolderCode"
                                    autocomplete="off" [class.is-invalid]="isControlInvalid('policyHolderCode')"
                                    [class.is-valid]="isControlValid('policyHolderCode')"
                                    formControlName="policyHolderCode" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.net_premium" | translate}}</label>
                                <input type="tel" currencyMask
                                    [options]="{ prefix: '', thousands: ',', precision: 0,allowNegative:false,align:'left' }"
                                    class="form-control form-control-sm currency-input-tag" name="netPremium"
                                    autocomplete="off" [class.is-invalid]="isControlInvalid('netPremium')"
                                    [class.is-valid]="isControlValid('netPremium')" formControlName="netPremium" />
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{"FORM.policy_holder" | translate}}</label>
                                <input type="text" class="form-control form-control-sm" name="policyHolder"
                                    autocomplete="off" [class.is-invalid]="isControlInvalid('policyHolder')"
                                    [class.is-valid]="isControlValid('policyHolder')" formControlName="policyHolder" />
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn btn-default btn-elevate"
                        (click)="backLocation()">{{"FORM.btn_cancel" | translate}}</button>
                    <button type="button" class="btn btn-primary btn-elevate mx-2"
                        (click)="backLocation()">{{"FORM.btn_save" | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>