.error {
    color: red;
}

.hide {
    display: none;
}

.inner-addon {
    position: relative;
}

.input-group i {
    line-height: 0;
    font-size: 0.9rem;
}

.inner-addon .fas {
    position: absolute;
    padding: 16px 17px;
    z-index: 100;
    cursor: pointer;
}

.left-addon .fas {
    left: 0px;
}

.right-addon .fas {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


.next-btn{
    overflow: hidden;
    margin: 47px 0 0 0;
}
.fna-segment {
   // width: 98%;
    margin: 0 15px;
    overflow: hidden;
        div {
        width: 49%;
        color: #fff;
        float: left;
    }
    div:last-child {
        float: right;
    }
}



@media screen and (min-width: 320px) and (max-width: 460px) {
    .chart-grid {
        width: 100%;
        padding: 0 !important;
    }
    .fna-segment{
        width: 100%;
    }
}

@media screen and (min-width: 461px) and (max-width: 680px) {
    .fna-segment{
        width: 100%;
    }
}