<div class="row" style="align-items: center;  justify-content: center;">
    <div class="col-8">
        <div class="card card-custom" style="margin-bottom: 15px;">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label left-border-image">{{"FORM.reset_password" | translate}}</h3>
                </div>
            </div>
            <div class="card-body ">
                <form action="#" class="form" [formGroup]="resetForm">
                    <div class="row" style="align-items: center;  justify-content: center;">
                        <div class="col-sm-12">

                            <div class="form-group row inner-addon left-addon">
                                <label class="col-sm-4 col-form-label">{{"FORM.old_password" | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="input-group col-8 mx-auto">
                                        <input name="password" [type]="showoldPassword ? 'text' : 'password'" id="password-field" class="pwd-control form-control form-control-sm " name="oldPassword" placeholder="{{'FORM.old_password' | translate}}" autocomplete="off" [class.is-invalid]="confirmPassword()" [class.is-invalid]="iscomfirmPassword('newPassword','confirmNewPassword')"
                                            [class.is-invalid]="isControlInvalid('oldPassword')" [class.is-valid]="isControlValid('oldPassword')" formControlName="oldPassword">
                                        <i alt="show" class="fas fa-eye eye-show" (click)="showoldPassword = !showoldPassword" [class.hide]="showoldPassword"></i>
                                        <i alt="hide" class="fas fa-eye-slash eye-hide" (click)="showoldPassword = !showoldPassword" [class.hide]="!showoldPassword"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;  justify-content: center;">
                        <div class="col-sm-12">
                            <div class="form-group row inner-addon left-addon">
                                <label class="col-sm-4 col-form-label">{{"FORM.new_password" | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="input-group col-8 mx-auto">
                                        <input name="password" [type]="shownewPassword ? 'text' : 'password'" id="password-field" class="pwd-control form-control form-control-sm " name="newPassword" placeholder="{{'FORM.new_password' | translate}}" autocomplete="off" [class.is-invalid]="confirmPassword()" [class.is-invalid]="iscomfirmPassword('newPassword','confirmNewPassword')"
                                            [class.is-invalid]="isControlInvalid('newPassword')" [class.is-valid]="isControlValid('newPassword')" formControlName="newPassword">
                                        <i alt="show" class="fas fa-eye eye-show" (click)="shownewPassword = !shownewPassword" [class.hide]="shownewPassword"></i>
                                        <i alt="hide" class="fas fa-eye-slash eye-hide" (click)="shownewPassword = !shownewPassword" [class.hide]="!shownewPassword"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;  justify-content: center;">
                        <div class="col-sm-12">
                            <div class="form-group row inner-addon left-addon">
                                <label class="col-sm-4 col-form-label">{{"FORM.comfirm_password" | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="input-group col-8 mx-auto">
                                        <input name="password" [type]="showcomfirmPassword ? 'text' : 'password'" id="password-field" class="pwd-control form-control form-control-sm " name="comfirmPassword" placeholder="{{'FORM.comfirm_password' | translate}}" autocomplete="off" [class.is-invalid]="confirmPassword()"
                                            [class.is-invalid]="iscomfirmPassword('newPassword','confirmNewPassword')" [class.is-invalid]="isControlInvalid('confirmNewPassword')" [class.is-valid]="isControlValid('confirmNewPassword')" formControlName="confirmNewPassword">
                                        <i alt="show" class="fas fa-eye eye-show" (click)="showcomfirmPassword = !showcomfirmPassword" [class.hide]="showcomfirmPassword"></i>
                                        <i alt="hide" class="fas fa-eye-slash eye-hide" (click)="showcomfirmPassword = !showcomfirmPassword" [class.hide]="!showcomfirmPassword"></i>
                                        <div *ngIf="!isMatch"><label class="error">{{"ERROR.not_match" | translate}}</label></div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="align-items: center;  justify-content: flex-end; margin-top: 15px;">
                        <div class="col-sm-5">
                            <button type="button" [disabled]="!isMatch || resetForm.invalid" class="btn btn-sm btn-primary ml-2" style="width: 100%;" (click)="requestAuth()">
                                <span class="">{{"FORM.requset_auth" | translate}}</span>
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-sm btn-secondary ml-2" style="width: 100%;" (click)="cancel()">
                                <span class="">{{"FORM.btn_cancel" | translate}}</span>
                            </button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>