.error {
    color: red;
}

.hide {
    display: none;
}

.inner-addon {
    position: relative;
}

.input-group i {
    line-height: 0;
    font-size: 1rem;
}

.inner-addon .fas {
    position: absolute;
    padding: 16px 17px;
    z-index: 100;
    cursor: pointer;
}

.left-addon .fas {
    left: 0px;
}

.right-addon .fas {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}