<div class="row" style="align-items: center;  justify-content: center;">
    <div class="col-8">
        <div class="card card-custom" style="margin-bottom: 15px;">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label left-border-image">Reset Password</h3>
                </div>
            </div>
            <div class="card-body ">
                <form action="#" class="form" [formGroup]="resetForm">
                    <div class="row" style="align-items: center;  justify-content: center;">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Old Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control form-control-sm " name="oldPassword" placeholder="Old Password" autocomplete="off" [class.is-invalid]="confirmPassword()" [class.is-invalid]="iscomfirmPassword('newPassword','comfirmPassword')" [class.is-invalid]="isControlInvalid('oldPassword')"
                                        [class.is-valid]="isControlValid('oldPassword')" formControlName="oldPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;  justify-content: center;">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">New Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control form-control-sm " name="newPassword" placeholder="New Password" autocomplete="off" [class.is-invalid]="confirmPassword()" [class.is-invalid]="iscomfirmPassword('newPassword','comfirmPassword')" [class.is-invalid]="isControlInvalid('newPassword')"
                                        [class.is-valid]="isControlValid('newPassword')" formControlName="newPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;  justify-content: center;">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Comfirm Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control form-control-sm " name="comfirmPassword" placeholder="Comfirm Password" autocomplete="off" [class.is-invalid]="confirmPassword()" [class.is-invalid]="iscomfirmPassword('newPassword','comfirmPassword')" [class.is-invalid]="isControlInvalid('comfirmPassword')"
                                        [class.is-valid]="isControlValid('comfirmPassword')" formControlName="comfirmPassword">
                                    <div *ngIf="!isMatch"><label class="error">Password and confirm does not match</label></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="align-items: center;  justify-content: flex-end; margin-top: 15px;">
                        <div class="col-sm-5">
                            <button type="button" [disabled]="!isMatch || resetForm.invalid" class="btn btn-sm btn-primary ml-2" style="width: 100%;" (click)="requestAuth()">
                                <span class="">Request Authentication</span>
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-sm btn-secondary ml-2" style="width: 100%;" (click)="cancel()">
                                <span class="">Cancel</span>
                            </button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>