<div class="dashboard-main" (window:resize)="onResize($event)" [ngStyle]="{'height': mainContentHeight + 1 + 'px' }">
  <section [ngStyle]="{'height': mainContentHeightPx}">
    <div style="margin: 0 0 10px 0;">
      <div class="profile" [ngStyle]="{'padding-bottom': profilePadding}">
        <div class="img-content" [ngStyle]="{'width': profileImgW,  'height': profileImgW}">
          <!-- assets/images/dashboard-usr.svg -->
          <img *ngIf="data?.agentInfo?.attId!=null" [src]="DEFAULT_DOWNLOAD_URL+ data?.agentInfo?.attId"
            style="width: 100%; height: 100%;" alt="profile" />
          <!-- <img  src="../../../assets/images/dashboard-usr.svg" alt="profile"> -->
          <img *ngIf="data?.agentInfo?.attId==null" src="./assets/temp-img/user_profile.png" alt="profile">

        </div>
        <ion-icon class="text-left icon-style" name="camera" (click)="presentActionSheet()"></ion-icon>

        <ion-label class="title-color">{{ data?.agentInfo?.employeeName }}</ion-label>
        <ion-label>{{ data?.role }}</ion-label>
      </div>
      <div class="premium" [ngStyle]="{'padding': productPadding}">
        <ion-label class="premuim-color">{{"CARD.premium" | translate}}</ion-label>
        <!-- <ion-label>{{ data?.agentInfo?.totalPremium||0 | number: '1.2-2' }} <span><small>MMK</small></span></ion-label> -->
        <ion-label>{{ totalPremium || (data?.agentInfo?.totalPremium || 0) | number: '1.2-2' }} <span><small>MMK</small></span></ion-label>
      </div>
    </div>
    <div class="product">
      <div class="row">
        <div class="col-sm-6">
          <h2>{{"CARD.products" | translate}}</h2>
        </div>
        <div class="col-sm-6">

          <h2 style="margin-left: 50%;">{{"CARD.premium" | translate}}</h2>
        </div>
      </div>
      <ion-list [ngStyle]="{'height': profileHpx}">
        <ion-item lines="full" *ngFor="let product of data?.yearlyProductPremium">
          <ion-thumbnail slot="start">
            <img [src]="DEFAULT_DOWNLOAD_URL+'/'+product.productSmallIcon" class="prod-icon" alt="" srcset="">
            <!-- <img *ngIf="productSmallIcon" [src]="DEFAULT_DOWNLOAD_URL+'/'+product.productSmallIcon" class="prod-icon" alt=""
              (error)="changeSource($event)"
              srcset=""> -->
          </ion-thumbnail>
          <ion-text>{{ product.productName }}</ion-text>
          <ion-text style="font-weight: 600;">{{ product.premium||0 | number: '1.2-2' }} MMK</ion-text>
        </ion-item>
      </ion-list>
    </div>
  </section>
  <section class="sales-performance" [ngStyle]="{'height': mainContentHeightPx}">
    <h2 class="title-color">{{"CARD.recent_operations" | translate}}</h2>
    <div>
      <div class="date">
        <div>{{"CARD.quotes" | translate}}</div>
        <div><a (click)="goToSaleQuotation()">{{"CARD.all" | translate}}</a></div>
      </div>
      <ion-list [ngStyle]="{'height': salesHpx}">
        <ion-row *ngFor="let q of recentObj?.quotations | slice:0:3">
          <ion-col>{{ q.productName }}</ion-col>
          <ion-col>{{ q.customerName }}</ion-col>
          <ion-col>{{ q.status == "in_progress" ? "In Progress" : (q.status | titlecase) }}</ion-col>
        </ion-row>
      </ion-list>
    </div>
    <div>
      <div class="date">
        <div>{{"CARD.policies" | translate}}</div>
        <div><a (click)="goToSalePolicies()">{{"CARD.all" | translate}}</a></div>
      </div>
      <ion-list [ngStyle]="{'height': salesHpx}">
        <ion-row *ngFor="let p of recentObj?.policies  | slice: 0:3">
          <ion-col>{{ p.productName }}</ion-col>
          <ion-col>{{ p.customerName }}</ion-col>
          <ion-col>{{ p.status == "in_progress" ? "In Progress" : (p.status | titlecase) }}</ion-col>
        </ion-row>
      </ion-list>
    </div>
    <div>
      <div class="date">
        <div style="width: 100%;">Campaign for Today</div>
        <div></div>
      </div>
      <ion-list style="height:100px;overflow: scroll;">
        <ion-row *ngFor="let c of campaignArray">
          <ion-col>{{ c.campaignName }}</ion-col>
          <ion-col>{{ c.status }}</ion-col>
        </ion-row>
      </ion-list>
    </div>
  </section>
  <section class="chart" [ngStyle]="{'height': mainContentHeightPx}">
    <div class="sub-chart">
      <h2 class="title-color">{{"CARD.things_to_followup" | translate}}</h2>
      <div class="row" style="margin: 0;">
        <div class="col-5 sub-title">{{"CARD.calendar" | translate}}</div>
        <div class="col-5">{{"CARD.today" | translate}}
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        <div class="col-2 underline pointer link" (click)="goToCalendar()"><a>{{"CARD.all" | translate}}</a></div>
      </div>
      <ion-list [ngStyle]="{'height': chartHpx}">
        <ion-item lines="full" *ngFor="let followup of followUpArray  | slice: 0:3">
          <ion-thumbnail slot="start">
            <img [src]="getImageURL(followup.activityType)" class="prod-icon" alt="" srcset="">
          </ion-thumbnail>
          <ion-text style="margin: 0; width: 100%; ">
            <ion-text style="margin: 0; font-weight: 600;  width: 100%;display: block; ">{{ followup.title }}</ion-text>
            <ion-text style="margin: 0;float: left; ">{{ followup.customerName }}</ion-text>
            <ion-text style="margin: 0;">Due {{ followup.dueDate | date:'mediumDate' }}</ion-text>
          </ion-text>
        </ion-item>
      </ion-list>
    </div>
    <div class="sub-chart">
      <h2 class="title-color">Overdue Activities</h2>
      <div class="row" style="margin: 0;">
        <div class="col-5 sub-title">{{"CARD.backlog" | translate}}</div>
        <div class="col-5">{{"CARD.today" | translate}}
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        <div class="col-2 underline pointer link" (click)="goToCalendar()"><a>{{"CARD.all" | translate}}</a></div>
      </div>
      <ion-list [ngStyle]="{'height': chartHpx}">
        <ion-item lines="full" *ngFor="let log of backlogArray | slice: 0:2">
          <ion-thumbnail slot="start">
            <img [src]="getImageURL(log.activityType)" class="prod-icon" alt="" srcset="">
          </ion-thumbnail>
          <ion-text style="margin: 0; width: 100%; ">
            <ion-text style="margin: 0; font-weight: 600;  width: 100%;display: block; ">{{ log.title }}</ion-text>
            <ion-text style="margin: 0;float: left; ">{{ log.customerName }}</ion-text>
            <ion-text style="margin: 0;">Due {{ log.dueDate | date:'mediumDate' }}</ion-text>
          </ion-text>
        </ion-item>
      </ion-list>
    </div>
    <div class="sub-chart">
      <h2 class="title-color">Opportunities</h2>
      <div class="row" style="margin: 0;">
        <div class="col-10 sub-title">Opportunities Assigned</div>
        <div class="col-2 underline pointer link" (click)="goToLeadList()"><a>{{"CARD.all" | translate}}</a></div>
      </div>
      <ion-list [ngStyle]="{'height': chartHpx}">
        <ion-item lines="full" *ngFor="let obj of assignLeadArray | slice: 0:3">
          <ion-avatar slot="start">
            <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
          </ion-avatar>
          <ion-text style="margin: 0; margin: 0; font-weight: 600;"> {{ obj.contactName }}</ion-text>
          <ion-text style="margin: 0; margin: 0;">Assigned on {{ obj.openDate | date:'shortDate' }}
          </ion-text>
        </ion-item>
      </ion-list>
    </div>
  </section>
</div>