<div class="fna-bram-tab row" *ngIf="isData">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="inbound">
            <th class="col-3" mat-header-cell *matHeaderCellDef> Inbound Logistics </th>
            <td class="col-3" mat-cell *matCellDef="let element" [ngClass]="{'low': element.inboundRisk == '001' , 
                'medium': element.inboundRisk == '002', 
                'high': element.inboundRisk == '003' }"> {{
                element.inbound }} </td>

        </ng-container>
        <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef> Operations </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'low': element.operationRisk == '001' , 
            'medium': element.operationRisk == '002', 
            'high': element.operationRisk == '003'}"> {{element.operation }} </td>
        </ng-container>
        <ng-container matColumnDef="outbound">
            <th mat-header-cell *matHeaderCellDef> Outbound Logistics </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'low': element.outboundRisk == '001' , 
            'medium': element.outboundRisk == '002', 
            'high': element.operationRisk == '003' }"> {{ element.outbound }}
            </td>
        </ng-container>
        <ng-container matColumnDef="marketing">
            <th mat-header-cell *matHeaderCellDef> Marketing/Sales </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'low': element.marketingRisk == '001' , 
            'medium': element.marketingRisk == '002', 
            'high': element.marketingRisk == '003'}"> {{ element.marketing }} </td>
        </ng-container>
        <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef> Service </th>
            <td mat-cell *matCellDef="let element"
                [ngClass]="{'low': element.serviceRisk == '001' , 'medium': element.serviceRisk == '002', 'high': element.serviceRisk == '003'}">
                {{element.service}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8 table2" multiTemplateDataRows>
        <ng-container matColumnDef="name">
            <td class="col-3" mat-cell *matCellDef="let data;let i = dataIndex" [attr.rowspan]="getRowSpan('Name',i)"
                [style.display]="getRowSpan('Name', i) ? '' : 'none'">
                {{ data.name }} </td>
        </ng-container>

        <ng-container matColumnDef="dataList">
            <td mat-cell *matCellDef="let data"
                [ngClass]="{'low': data.risk == '001' , 'medium': data.risk == '002', 'high': data.risk == '003'}"> {{
                data.productName }} </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
</div>
<div *ngIf="!isData" style="color: gray; text-align: center;"> There is no data </div>
<div class="btn-group col-12">
    <button type="button" class="btn"
        [ngStyle]="{'background-color': inputSwitch === 'inputs' ? '#005f99' : '#A6A6A6' }"
        (click)="fnaSwitchEvent('inputs')">Previous</button>
    <button type="button" class="btn"
        [ngStyle]="{'background-color': inputSwitch === 'product' ? '#005f99' : '#A6A6A6' }"
        (click)="fnaSwitchEvent('product')">Next</button>
</div>