<div class="row" *ngIf="customerForm">
    <div class="col-12">
        <div class="card card-custom" [class.gutter-b]="!isPopup">
            <div class="card-header">
                <div class="card-title" *ngIf="pageName=='Customer'">
                    <h3 class="card-label left-border-image">{{pageStatus == "create" ? "Create Prospect Profile" : "Customer Detail"}}</h3>
                </div>
                <div class="card-title" *ngIf="pageName=='Prospect'">
                    <h3 class="card-label left-border-image">{{pageStatus == "create" ? "Create Prospect Profile" : "Prospect Profile Detail"}}</h3>
                </div>
                <div class="card-toolbar" *ngIf="!isPopup">
                    <button type="button" *ngIf="isDetail" class="icon" (click)="toggleAccordion('Detail')">
                        <span class="flaticon2-back"></span>
                    </button>
                    <button type="button" *ngIf="!isDetail" class="icon ml-2" (click)="toggleAccordion('Detail')">
                        <span class="flaticon2-down"></span>
                    </button>
                </div>
            </div>
            <div class="card-body px-10 py-3" [ngClass]="isDetail ? 'active' : 'inactive'">
                <form action="#" class="form" [formGroup]="customerForm" (ngSubmit)="doCustomer()">
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.cs_title" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('titleCode')" [class.is-valid]="isControlValid('titleCode')" [items]="titleOption" bindLabel="value" bindValue="code" formControlName="titleCode">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.father_name" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="fatherName" autocomplete="off" [class.is-invalid]="isControlInvalid('fatherName')" [class.is-valid]="isControlValid('fatherName')" formControlName="fatherName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.first_name" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="firstName" autocomplete="off" [class.is-invalid]="isControlInvalid('firstName')" [class.is-valid]="isControlValid('firstName')" formControlName="firstName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.mobile" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " (input)="onInputChange($event)" maxlength="12" name="phone" autocomplete="off" [class.is-invalid]="isControlInvalid('phone')" [class.is-valid]="isControlValid('phone')" formControlName="phone" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.middle_name" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="middleName" autocomplete="off" [class.is-invalid]="isControlInvalid('middleName')" [class.is-valid]="isControlValid('middleName')" formControlName="middleName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.email" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control form-control-sm " name="email" autocomplete="off" [class.is-invalid]="isControlInvalid('email')" [class.is-valid]="isControlValid('email')" formControlName="email" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.last_name" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="lastName" autocomplete="off" [class.is-invalid]="isControlInvalid('lastName')" [class.is-valid]="isControlValid('lastName')" formControlName="lastName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.date_of_birth" | translate}}</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm ">
                                        <input matInput class="form-control-sm date-input" style="width: 100%;" formControlName="dateOfBirth" [class.is-invalid]="isControlInvalid('dateOfBirth')" [class.is-valid]="isControlValid('dateOfBirth')" [matDatepicker]="picker" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- <div class="col-1">
                            <button type="button" style="width: auto;
                            float: right;
                            margin: 0 !important;" (click)="clearDOB('dateOfBirth')" class="btn btn-primary btn-elevate mx-2">Clear</button>
                        </div> -->
                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.natoinality" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('nationalityCode')" [class.is-valid]="isControlValid('nationalityCode')" [items]="nationalityOption" bindLabel="value" bindValue="code" formControlName="nationalityCode">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.occupation" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('occupationCode')" [class.is-valid]="isControlValid('occupationCode')" [items]="occupationOption" bindLabel="value" bindValue="code" formControlName="occupationCode">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{"FORM.id_type" | translate}}</label>
                                <div class="col-sm-10">
                                    <div class="">
                                        <mat-radio-group name="identityType" formControlName="identityType" (click)="isIdentitiyType()">
                                            <mat-radio-button class="example-margin" value="NRC">NRC</mat-radio-button>
                                            <mat-radio-button class="example-margin" value="FRC">FRC</mat-radio-button>
                                            <mat-radio-button class="example-margin" value="PASSPORT">Passport
                                            </mat-radio-button>
                                            <mat-radio-button class="example-margin" value="OTHERS">Others
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.id_no" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" *ngIf="customerForm.get('identityType').value == 'NRC'" class="form-control form-control-sm " name="identityNumber" autocomplete="off" [class.is-invalid]="isControlInvalid('identityNumber')" (click)="openModal()" [class.is-valid]="isControlValid('identityNumber')"
                                        formControlName="identityNumber" readonly />
                                    <input type="text" *ngIf="customerForm.get('identityType').value != 'NRC'" class="form-control form-control-sm " name="identityNumber" autocomplete="off" [class.is-invalid]="isControlInvalid('identityNumber')" [class.is-valid]="isControlValid('identityNumber')"
                                        formControlName="identityNumber" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.gender" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('genderCode')" [class.is-valid]="isControlValid('genderCode')" [items]="genderOption" bindLabel="value" bindValue="code" formControlName="genderCode">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.township" | translate}} </label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('townshipCode')" (change)="onChangeTownship()" [class.is-valid]="isControlValid('townshipCode')" [items]="townshipOption" bindLabel="value" bindValue="code" formControlName="townshipCode">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.district" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('districtCode')" (change)="onChangeDistrict()" [class.is-valid]="isControlValid('districtCode')" [items]="districtOption" bindLabel="value" bindValue="code" formControlName="districtCode" [readonly]="true">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.state" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('stateCode')" (change)="onChangeState()" [class.is-valid]="isControlValid('stateCode')" [items]="stateOption" bindLabel="value" bindValue="code" formControlName="stateCode"  [readonly]="true">
                                    </ng-select>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.party_code" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " readonly="true" name="partyCode" autocomplete="off" [class.is-invalid]="isControlInvalid('partyCode')" [class.is-valid]="isControlValid('partyCode')" formControlName="partyCode" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.house" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="houseNumber" autocomplete="off" [class.is-invalid]="isControlInvalid('houseNumber')" [class.is-valid]="isControlValid('houseNumber')" formControlName="houseNumber" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.road" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="road" autocomplete="off" [class.is-invalid]="isControlInvalid('road')" [class.is-valid]="isControlValid('road')" formControlName="road" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.block_area" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="blockArea" autocomplete="off" [class.is-invalid]="isControlInvalid('blockArea')" [class.is-valid]="isControlValid('blockArea')" formControlName="blockArea" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.status" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select ng-custom-select-sm" [class.is-invalid]="isControlInvalid('statusCode')" [class.is-valid]="isControlValid('statusCode')" [items]="statusOption" bindLabel="value" bindValue="code" formControlName="statusCode">
                                    </ng-select>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.company_name" | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="companyName" autocomplete="off" [class.is-invalid]="isControlInvalid('companyName')" [class.is-valid]="isControlValid('companyName')" formControlName="companyName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: right;">
                        <button type="button" class="btn btn-light btn-elevate" (click)="backLocation()">{{"FORM.btn_cancel" | translate}}</button>
                        <button type="button" class="btn btn-primary btn-elevate mx-2" *ngIf="cusAccess.edit" (click)="doCustomer()">{{"FORM.btn_save" | translate}}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="!isPopup && oldId">
    <div class="card card-custom gutter-b" *ngIf="fnaAccess.view">
        <div class="card-header" *ngIf="!isPopup">
            <div class="card-title">
                <h3 class="card-label left-border-image">FNA</h3>
            </div>
            <div class="card-toolbar">
                <!-- <button type="button" class="btn btn-primary btn-circle" (click)="add('FNA')">
                    <span class="flaticon2-plus"></span>
                </button> -->
                <button type="button" *ngIf="isFNA" class="icon" (click)="toggleAccordion('FNA')">
                    <span class="flaticon2-back"></span>
                </button>
                <button type="button" *ngIf="!isFNA" class="icon ml-2" (click)="toggleAccordion('FNA')">
                    <span class="flaticon2-down"></span>
                </button>
            </div>
        </div>
        <div class="card-body px-10 py-3" [ngClass]="isFNA ? 'active' : 'inactive'">


            <section>

                <app-material-table-view #fna [data]="fnaList" [colum]="FNAELEMENT_COL" [displayedColumns]="FNAdisplayedColumns" [selectable]="isPopup">
                </app-material-table-view>

            </section>

        </div>

    </div>

    <div class="card card-custom gutter-b" *ngIf="activityAccess.view">
        <div class="card-header" *ngIf="!isPopup">
            <div class="card-title">
                <h3 class="card-label left-border-image">Activity</h3>
            </div>
            <div class="card-toolbar">
                <!-- <button type="button" class="btn btn-primary btn-circle" (click)="add('Activity')">
                    <span class="flaticon2-plus"></span>
                </button> -->
                <button type="button" *ngIf="isActivity" class="icon" (click)="toggleAccordion('Activity')">
                    <span class="flaticon2-back icon"></span>
                </button>
                <button type="button" *ngIf="!isActivity" class="icon ml-2" (click)="toggleAccordion('Activity')">
                    <span class="flaticon2-down icon"></span>
                </button>
            </div>
        </div>
        <div class="card-body px-10 py-3" [ngClass]="isActivity ? 'active' : 'inactive'">

            <section>

                <app-material-table-view #activity [data]="activityList" [colum]="ACTIVITY_ELEMENT_COL" [displayedColumns]="ACTIVITYdisplayedColumns" [selectable]="isPopup">
                </app-material-table-view>

            </section>

        </div>

    </div>
    <div class="card card-custom gutter-b" *ngIf="quoAccess.view">
        <div class="card-header" *ngIf="!isPopup">
            <div class="card-title">
                <h3 class="card-label left-border-image">Quotation</h3>
            </div>
            <div class="card-toolbar">
                <!-- <button type="button" class="btn btn-primary btn-circle" (click)="add('Quotation')">
                    <span class="flaticon2-plus"></span>
                </button> -->
                <button type="button" *ngIf="isQuotation" class="icon" (click)="toggleAccordion('Quotation')">
                    <span class="flaticon2-back icon"></span>
                </button>
                <button type="button" *ngIf="!isQuotation" class="icon ml-2" (click)="toggleAccordion('Quotation')">
                    <span class="flaticon2-down icon"></span>
                </button>
            </div>
        </div>
        <div class="card-body px-10 py-3" [ngClass]="isQuotation ? 'active' : 'inactive'">


            <section>

                <app-material-table-view #quotation [data]="quatationList" [colum]="QUOTATION_ELEMENT_COL" [displayedColumns]="QuotationdisplayedColumns" [selectable]="isPopup">
                </app-material-table-view>

            </section>

        </div>

    </div>

    <div class="card card-custom gutter-b" *ngIf="policyAccess.view">
        <div class="card-header" *ngIf="!isPopup">
            <div class="card-title">
                <h3 class="card-label left-border-image">Application</h3>
            </div>
            <div class="card-toolbar">
                <!-- <button type="button" class="btn btn-primary btn-circle" (click)="add('Application')">
                    <span class="flaticon2-plus"></span>
                </button> -->
                <button type="button" *ngIf="isApplication" class="icon" (click)="toggleAccordion('Application')">
                    <span class="flaticon2-back icon"></span>
                </button>
                <button type="button" *ngIf="!isApplication" class="icon ml-2" (click)="toggleAccordion('Application')">
                    <span class="flaticon2-down icon"></span>
                </button>
            </div>
        </div>
        <div class="card-body px-10 py-3">

            <section [ngClass]="isApplication ? 'active' : 'inactive'">

                <app-material-table-view #application [data]="applicationList" [colum]="APPLICATION_ELEMENT_COL" [displayedColumns]="ApplicationdisplayedColumns" [selectable]="isPopup">
                </app-material-table-view>

            </section>

        </div>

    </div>

    <div class="card card-custom gutter-b">
        <div class="card-header" *ngIf="!isPopup">
            <div class="card-title">
                <h3 class="card-label left-border-image">Attachment</h3>
            </div>
            <div class="card-toolbar">
                <!-- <button type="button" class="btn btn-primary btn-circle" (click)="addAttachment()">
                    <span class="flaticon2-plus"></span>
                </button> -->
                <button type="button" *ngIf="isAttachment" class="icon" (click)="toggleAccordion('Attachment')">
                    <span class="flaticon2-back icon"></span>

                </button>
                <button type="button" *ngIf="!isAttachment" class="icon ml-2" (click)="toggleAccordion('Attachment')">
                    <span class="flaticon2-down icon"></span>
                </button>
            </div>
        </div>
        <div class="card-body px-10 py-3">


            <section [ngClass]="isAttachment ? 'active' : 'inactive'">

                <app-material-table-view #attachment [data]="attachmentList" [colum]="ATTACHMENT_ELEMENT_COL" [displayedColumns]="AttachmentdisplayedColumns" (emitter)="actionBtn($event)" [selectable]="isPopup">
                </app-material-table-view>
            </section>

        </div>

    </div>
</ng-container>
