<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
            Activity List
        </div>
    </div>

    <div *ngIf="data.length>0">
        <ng-container *ngFor="let event of data">
            <div class="row" style="margin: 10px 0px;">
                <div class="col" (click)="navigateToDetail('edit',event.meta)">
                    <label><span style="margin-right: 5px;"  [ngClass]="event.type"></span>{{event.title}}</label>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="data.length==0">
        <ng-container>
            <div class="row" style="margin: 10px 0px;">
                <div class="col">
                    <label>There is no activity today </label>
                </div>
            </div>
        </ng-container>
    </div>

</div>