.Open {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #3dc2ff;
}

.Face {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #3880ff;
}

.Online {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffc409;
}

.Phone {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #2dd36f;
}