.Open {
    background-color: #3dc2ff;
    color: white;
}

.Face {
    background-color: #3880ff;
    color: white;
}

.Online {
    background-color: #ffc409;
    color: white;
}

.Phone {
    background-color: #2dd36f;
    color: white;
}

.icon {
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
    top: 10px;
}