<div class="row" *ngIf="pageStatus == 'edit'">
    <div class="col-12" *ngIf="actForm">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <!-- begin:Table -->
                <div class="table-responsive angular-bootstrap-table">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                Related to <br> {{actForm.controls.relatedTo.value}}
                            </div>
                            <div class="col-sm">
                                Owner <br> {{actForm.controls.assignName.value}}
                            </div>
                            <div class="col-sm">
                                Status <br> {{activityStatus[actForm.controls.status.value]}}
                            </div>
                            <div class="col-sm">
                                Date <br>
                                <ng-container *ngIf="actForm.controls.planDateStr.value">
                                    {{actForm.controls.planDateStr.value | date: "dd-MM-YYYY"}}
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end: Table -->
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="actForm">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form action="#" class="form" [formGroup]="actForm" (ngSubmit)="doActivity()">
                    <div class="row">

                        <div class="col-sm-12" *ngIf="pageStatus == 'edit'">
                            <div class="form-group">
                                <label class="form-label">Activity No.</label>
                                <input type="text" class="form-control form-control-sm" name="activityNo" autocomplete="off" [class.is-invalid]="isControlInvalid('activityNo')" [class.is-valid]="isControlValid('activityNo')" formControlName="activityNo" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Activity Type</label>
                                <select class="form-control form-control-sm" name="actType" autocomplete="off" [class.is-invalid]="isControlInvalid('activityType')" [class.is-valid]="isControlValid('activityType')" formControlName="activityType">
                                    <option value="">Select Activity Type</option>
                                    <option value="{{item}}" *ngFor="let item of activityType">{{item}}</option>
                                </select>
                                <!-- <input type="text" class="form-control form-control-sm" name="actType" autocomplete="off"
                  [class.is-invalid]="isControlInvalid('activityType')"
                  [class.is-valid]="isControlValid('activityType')" formControlName="activityType" /> -->
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Activity Title</label>
                                <input type="text" class="form-control form-control-sm" name="actTitle" autocomplete="off" [class.is-invalid]="isControlInvalid('activityTitle')" [class.is-valid]="isControlValid('activityTitle')" formControlName="activityTitle" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Activity Description</label>
                                <textarea name="" rows="4" class="form-control form-control-sm" name="actDesc" autocomplete="off" [class.is-invalid]="isControlInvalid('activityDescription')" [class.is-valid]="isControlValid('activityDescription')" formControlName="activityDescription"
                                    style="resize: false;"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label class="form-label">Planned Date </label>
                                <div class="input-group ">

                                    <input matInput class="form-control-sm date-input" style="width: 100%;" formControlName="planDateStr" [matDatepicker]="planDateStr" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="planDateStr"></mat-datepicker-toggle>
                                    <mat-datepicker #planDateStr disabled="false"></mat-datepicker>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label">Actual Date</label>
                                <div class="input-group ">
                                    <input matInput class="form-control-sm date-input" style="width: 100%;" formControlName="actualDateStr" [matDatepicker]="actualDateStr" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="actualDateStr"></mat-datepicker-toggle>
                                    <mat-datepicker #actualDateStr disabled="false"></mat-datepicker>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="form-label">Due Date</label>
                                <div class="input-group ">
                                    <input matInput class="form-control-sm date-input" style="width: 100%;" formControlName="dueDateStr" [matDatepicker]="dueDateStr" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="dueDateStr"></mat-datepicker-toggle>
                                    <mat-datepicker #dueDateStr disabled="false"></mat-datepicker>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group" (click)="openModal('quotation')">
                                <label class="form-label">Related To</label>
                                <input type="text" class="form-control form-control-sm" name="relatedTo" autocomplete="off" formControlName="relatedTo" />
                                <span class="ng-clear-wrapper" (click)="clearDate('relatedTo');$event.stopPropagation()" title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group" (click)="viewCustomer()">
                                <label class="form-label">Customer Name</label>
                                <input type="text" class="form-control form-control-sm" name="customerName" autocomplete="off" [class.is-invalid]="isControlInvalid('customerId')" [class.is-valid]="isControlValid('customerId')" formControlName="customerName" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group" (click)="viewAgent('agent')">
                                <label class="form-label">Assign To</label>
                                <input type="text" class="form-control form-control-sm" name="assignName" autocomplete="off" [class.is-invalid]="isControlInvalid('assignTo')" [class.is-valid]="isControlValid('assignTo')" formControlName="assignName" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Status</label>
                                <select class="form-control form-control-sm" name="status" autocomplete="off" [class.is-invalid]="isControlInvalid('status')" [class.is-valid]="isControlValid('status')" formControlName="status">
                                    <option value="01">Open</option>
                                    <option value="02">Complete</option>
                                    <option value="03">Cancel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-elevate" (click)="backLocation()">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-elevate mx-2" *ngIf="dataAccess.edit">Save</button>
                </form>
            </div>
        </div>
    </div>