<div *ngIf="policyHolder">
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Policy Holder Information Details
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Name
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;">
      {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      ID
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;">
      {{policyHolder.cprNumber}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Date of Birth
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;" *ngIf="policyHolder.partyAddress">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Mobile
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].mobileNo}}
      </ng-container>
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Email
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].eMailId}}
      </ng-container>
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Address
    </div>
    <div style="flex: 0 0 75%; max-width: 75%;" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].address1}} , {{policyHolder.partyAddress[0].address2}} ,
        {{policyHolder.partyAddress[0].address3}} , {{policyHolder.townshipName}} , {{policyHolder.districtName}} ,
        {{policyHolder.stateName}}
      </ng-container>
    </div>
  </div>
</div>

<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Policy Information Details
  </div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Effective Date</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{policyInfo.insuranceStartDate | date: 'dd/MM/YYYY'}}</td>

      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Expiry Date
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{policyInfo.insuranceEndDate | date: 'dd/MM/YYYY'}}</td>

      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Duration
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{policyInfo.sumInsuredMainCover}} Units</td>
    </tr>
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Plan</td>
      <td colspan="2"
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{policyInfo.basicCoverId=='HEALTH'? 'Health Insurance' : 'Critical Illness Insurance' }}</td>

      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Payment Frequency</td>
      <td colspan="2"
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{policyInfo.paymentFrequency == 'S'? 'Semi-Annually' : 'Lump Sum' }}</td>

    </tr>
  </table>
</div>

<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Risk Information Details
  </div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Name
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Occupation
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Gender
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        ID
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Date of Birth
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Father Name
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Phone Number
      </td>
    </tr>
    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
      <ng-container *ngFor="let riskDetail of riskDetails;">
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt;">
            {{riskDetail.firstName}} {{riskDetail.middleName}} {{riskDetail.lastName}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt;">
            {{riskDetail.occupationCdValue}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt;">
            {{riskDetail.genderCdValue}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt;">
            {{riskDetail.identityType}} - {{riskDetail.identityType == 'NRC' ? riskDetail.identityNrc : riskDetail.identityNumber}}
          </td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt;">
            {{riskDetail.dateOfBirth | date: 'dd/MM/YYYY'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt;">
            {{riskDetail.fatherName}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt;">
            {{riskDetail.phone}}
          </td>
      </ng-container>
    </tbody>
  </table>
</div>

<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Beneficiaries Information Details
  </div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        No.
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Name
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Relationship
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        ID
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Date of Birth
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Share %
      </td>
    </tr>
    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
      <ng-container *ngFor="let data of beneficiaries;let i = index">
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{i+1}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{data.beneficiaryName}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{data.relationshipValue}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{data.idType}} - {{data.idType == 'NRC' ? data.nrc : data.idNumber}}
          </td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{data.dateOfBirth | date: 'dd/MM/YYYY'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{data.share}} %</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Coverage Information Details</div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        No.</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Coverage Name</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Units</td>
    </tr>
    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
      <ng-container>
        <tr *ngFor="let data of AddonData; let i=index">
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{i+1}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{data.keyName}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{data.value}} Units</td>
        </tr>
        <tr *ngIf="AddonData.length > 0">
          <td colspan="2"
            style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
            Total</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{coveragesTotalValue}} Units </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>


<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Payment Schedule Information Details</div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        No. of Installment</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Installment Premium</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Stamp Duty</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Total Premium</td>
    </tr>
    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
      <ng-container>
        <tr *ngFor="let data of tempPaymentSchedule; let i=index">
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: center; font-size: 12pt;">
            {{i+1}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.premium | number : '1.2-2'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.levy | number : '1.2-2'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{(data.premium + data.levy) | number : '1.2-2'}}</td>
        </tr>
        <tr *ngIf="tempPaymentSchedule.length > 0">
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
            Annual Premium</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{totalP | number : '1.2-2'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse;text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
            Total payable premium</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{(totalP + totalL) | number : '1.2-2'}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>


<div>
  <div style="display: flex; flex-wrap: wrap; margin-right: -12.5px; margin-left: -12.5px;">
    <div style="margin-left: 10px; font-size: 1.5rem; font-weight: 500; margin-top: 2.5rem; margin-bottom: 1.25rem;">
      Declaration By Proposer</div>
  </div>
  <div style="display: flex; flex-wrap: wrap; margin-right: -12.5px; margin-left: -12.5px;">
    <div style="flex-basis: 0; flex-grow: 1; max-width: 100%;">
      <p style="font-size: 12pt; padding: 0px 10px; text-align: justify;">
        I hereby declare that I am in good health which I submitting the proposal.I certify that
        the above-mentioned statements are true and correct to the best of my knowledge. I am fully aware that these are
        basic principles of the agreement between KBZMS General Insurance Co., Ltd. and me. I also know that if any
        information, declarations and supplements are inaccurate, the agreement will be voided and the benefits will be
        forfeited.
      </p>
      <br>
      <p style="font-size: 12pt; margin-top: 0; margin-bottom: 1rem;">
        <b>Remark: </b> The benefits will be issued to beneficiary’s parents or guardians if he/she is under 18.
      </p>
    </div>
  </div>
</div>

<div>
  <div style="display: flex; justify-content: space-between; margin-top: 15px; font-size: 12pt; margin-top: 1.25rem;">
    <div>
      <br>
      <label
        style="display: inline-block; margin-top: 0.5rem; margin-bottom: 0.5rem; font-family: inherit; line-height: normal;">
        DATE</label>
      <div style="width: 150px; min-height: 30px; border-bottom: 1px #000 dashed;">
        {{signatureDate | date : "dd/MM/yyyy"}}</div>
    </div>

    <div>
      <label
        style="font-weight: 500; display: inline-block; margin-bottom: 0.5rem; font-family: inherit; line-height: normal;">
        PROPOSER NAME AND SIGNATURE</label>
      <br>
      <label style="display: inline-block; margin-bottom: 0.5rem; font-family: inherit; line-height: normal;">
        {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}</label>
      <div style="width: 150px; min-height: 30px; border-bottom: 1px #000 dashed;">
        <ng-container *ngIf="signId">
          <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" style="width: 150px;">
        </ng-container>
      </div>
    </div>
  </div>
</div>