<div class="farmer-print">
  <div class="title-style left-border-image mt-5">DECLARATION BY PROPOSER</div>
  <p class="mb-1">I hereby certify that above statements are true and correct with my present health conditions.
  </p>
  <div class="sign-row">
    <div class="sign-box">
      <label>Witness's Signature</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="Default_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
    <div class="sign-box">
      <label>Insured's Signature</label>
      <div class="sign-area">
      </div>
    </div>
  </div>
  <div class="sign-row">
    <div class="sign-box">
      <label>Witness's Name </label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>Insured's Name</label>
      <div class="sign-area"></div>
    </div>
  </div>
  <div class="sign-row">
    <div class="sign-box">
      <label>N.R.C No</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>N.R.C No</label>
      <div class="sign-area"></div>
    </div>
  </div>
  <div class="sign-row">
    <div class="sign-box">
      <label>Address</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>Address</label>
      <div class="sign-area"></div>
    </div>
  </div>
  <div class="sign-row">
    <div class="sign-box">
      <label>Health Conditions (Based on appearance )</label>
    </div>
    <div class="sign-box">
      <label>
        <span>Good</span>
        <input type="checkbox" name="health" id="">
        <span class="ml-2">Bad</span>
        <input type="checkbox" name="health" id="">
      </label>
    </div>
  </div>
  <!-- <p class="mb-1">
    Health Conditions (Based on appearance )
  </p> -->
<!-- 
  <div class="sign-row">
    <div class="sign-box">
      <label>Date</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="Default_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>
  <div class="sign-row">
    <div class="sign-box">
      <label>Inspector Signature</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="Default_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>
  <div class="sign-row">
    <div class="sign-box">
      <label>Name</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="Default_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>
  <div class="sign-row">
    <div class="sign-box">
      <label>Position</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="Default_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div> -->

</div>