<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Basic Coverage :</h3>
    </div>
  </div>
  <div class="card-body customer-card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center">
        <thead>
          <tr>
            <th>
              Basic Coverage
            </th>
            <th *ngIf="coverage.sumInsured" style="text-align: right;">
              Sum Insured
            </th>
            <th *ngIf="coverage.unit" style="text-align: right;">
              Unit
            </th>
            <th *ngIf="coverage.premium" style="text-align: right;">
              Premium
            </th>
          </tr>
        </thead>
        <tbody class="tbody-align">
          <ng-container *ngFor="let coverage of product.coverages;let i = index">
            <tr *ngIf="coverageData[coverage.id]">
              <td>{{coverage.description}}</td>
              <td *ngIf="coverage.sumInsured">
                <!-- <ng-container *ngIf="coverageData[coverage.id]"> -->
                {{coverageData[coverage.id].sum > 0 ? (coverageData[coverage.id].sum | number) :
                coverageData[coverage.id].sum}}
                <!-- </ng-container> -->
              </td>
              <td *ngIf="coverage.unit">
                {{coverageData[coverage.id] ? coverageData[coverage.id].unit : 0}}
              </td>
              <td *ngIf="coverage.premium">
                <!-- <ng-container *ngIf="coverageData[coverage.id]"> -->
                {{coverageData[coverage.id].premium > 0 ? (coverageData[coverage.id].premium | number) :
                coverageData[coverage.id].premium}}
                <!-- </ng-container> -->
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>