<div class="form-group">
    <div class="row" style="align-items: center;">
        <div class="col-sm-6">
            <label class="col-sm-6 text-bold ">Optional Covers</label>
        </div>
    </div>
    <hr>
    <div>
        <div class="row" style="align-items: center;">

            <div class="col-sm-6">
                <label class="col-sm-6 text-bold left-border-image">{{"FORM.medical_expense" | translate}}</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isMedical" [color]="primary" class="toggle ft-right" (toggleChange)="toggleChange('medical')"></mat-slide-toggle>
            </div>
        </div>

        <div class="row" style="align-items: center; margin-top: 10px;" *ngIf="isMedical">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-sm-8">
                        <ng-select class="ng-custom-select" [(ngModel)]="planOption" (change)="changePlan()" [items]="planOptionOption" bindLabel="value" bindValue="code">
                        </ng-select>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-12  text-bold">{{"FORM.premium" | translate}} : <span>{{medPremium}}</span></label>
            </div>
        </div>

        <div class="row" style="align-items: center; margin-top: 10px;">

            <div class="col-sm-6">
                <label class="col-sm-6 text-bold left-border-image">{{"FORM.cross_border" | translate}}</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isCross" [color]="primary" class="toggle ft-right" (toggleChange)="toggleChange('cross')"></mat-slide-toggle>
            </div>
        </div>
    </div>

    <div class="row" style="align-items: center; margin-top: 10px;" *ngIf="isCross">
        <div class="col-sm-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{"FORM.start_date" | translate}}</label>
                <div class="col-sm-8">
                    <div class="input-group input-group-sm ">
                        <input matInput class="form-control-sm date-input" style="width: 100%;" (ngModelChange)="calculateDate($event,'start')" [(ngModel)]="startDate" [matDatepicker]="start" readonly>
                        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                        <mat-datepicker #start disabled="false"></mat-datepicker>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{"FORM.end_date" | translate}}</label>
                <div class="col-sm-8">
                    <div class="input-group input-group-sm ">
                        <input matInput class="form-control-sm date-input" style="width: 100%;" (ngModelChange)="calculateDate($event,'end')" [(ngModel)]="endDate" [matDatepicker]="end" readonly>
                        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                        <mat-datepicker #end disabled="false"></mat-datepicker>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="align-items: center; margin-top: 10px;" *ngIf="isCross">
        <div class="col-sm-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{"FORM.source_place" | translate}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm " name="option1" autocomplete="off" [disabled]="true" [(ngModel)]="option1" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{"FORM.destination_place" | translate}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm " name="option2" autocomplete="off" [disabled]="true" [(ngModel)]="option2" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group row">
                <label class="col-sm-12  text-bold">{{"FORM.premium" | translate}} : <span>{{crossPremium | number:'1.2-2'}}</span></label>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 mx-auto">
        <button class="btn btn-block btn-secondary" (click)="backPage()"> {{"FORM.btn_previous" | translate }} </button>
    </div>
    <div class="col-sm-6 mx-auto">
        <button class="btn btn-block btn-primary" (click)="nextPage()"> {{"FORM.btn_save_and_next" | translate }} </button>
    </div>
</div>