<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label left-border-image"> {{"FORM.rerun_list" | translate}}</h3>
                </div>
                <div class="card-toolbar">
                    <span class="flaticon2-magnifier-tool search-tool" (click)="getList()"></span>
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="cancel()">
                        <span class="">{{"CARD.cancel" | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="card-body px-10 py-3">
                <form action="#" class="form" [formGroup]="reRunForm">
                    <div class="row" style="align-items: center;">
                        <app-start-end-date [formInput]="reRunForm" remove-host [colClass]="'col-xl-4 col-sm-6'">
                        </app-start-end-date>
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.type" | translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select"
                                        [class.is-invalid]="isControlInvalid('typeCode')"
                                        [class.is-valid]="isControlValid('typeCode')" [items]="typeOption"
                                        bindLabel="value" [clearable]="false" bindValue="code"
                                        formControlName="typeCode">
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="align-items: center;">
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select"
                                        [class.is-invalid]="isControlInvalid('name')"
                                        [class.is-valid]="isControlValid('name')" [items]="nameOption"
                                        bindLabel="value" [clearable]="false" bindValue="code"
                                        formControlName="name">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Status</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select"
                                        [class.is-invalid]="isControlInvalid('status')"
                                        [class.is-valid]="isControlValid('status')" [items]="statusOption"
                                        bindLabel="value" [clearable]="false" bindValue="code"
                                        formControlName="status">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b data">
            <div class="card-body customer-card-body">
                <div style="float:right ; margin-top:15px" *ngIf="!isCRM && listFromSale.length > 0">
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;"
                        (click)="reRunRenewal()">
                        <span class="">{{"CARD.renewalRerun" | translate}}</span>
                    </button>
                    <!-- <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="reRunPolicyStatus(listFromCRM)">
                    <span class="">{{"CARD.renewalPolicyStatus" | translate}}</span>
                </button> -->
                </div>
                <app-material-table-view #matTableCRM [data]="listFromCRM" [colum]="ELEMENT_COL"
                    [displayedColumns]="displayedColumns" (emitter)="actionBtn($event)">
                </app-material-table-view>
            </div>
        </div>
    </div>
</div>