<table class="table table-bordered">
  <thead>
    <tr>
      <th>End of Policy Year</th>
      <th>Age</th>
      <th>Premium Paid</th>
      <th>Death/PTD Benefit</th>
      <th>Surrender Value</th>
      <th>Maturity Benefit</th>
    </tr>
  </thead>
  <tbody *ngIf="premiumRate.length > 0 && surrendRate.length > 0">
    <tr *ngFor="let item of showDatas;let i = index">
      <td>{{item.endOfPolicyYear}}</td>
      <td>{{item.age}}</td>
      <td style="text-align: right;">{{(item.premiumPaid | number) || "-"}}</td>
      <td style="text-align: right;">{{item.deathBenefit | number}}</td>
      <td style="text-align: right;">{{(item.surrenderValue | number) || "-"}}</td>
      <td style="text-align: right;">{{(item.maturityBenefit | number) || "-"}}</td>
    </tr>
  </tbody>
</table>
<hr class="mb-5">
<ng-container *ngIf="showDatas.length > 0">
  <app-education-life-grip [parentData]="showDatas"></app-education-life-grip>
</ng-container>
<div class="row mt-3">
  <div class="col-sm-6 mx-auto">
    <button class="btn btn-block btn-secondary" (click)="backPage()"> {{"FORM.btn_previous" | translate }} </button>
  </div>
  <div class="col-sm-6 mx-auto">
    <button class="btn btn-block btn-primary" (click)="nextPage()"> {{"FORM.btn_save_and_next" | translate }} </button>
  </div>
</div>