<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
      Preview Print Form
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="padding: 0.8rem !important;">
    <div id="printable">
      <div id="second-print">
        <app-print-view-box [config]="configData" [product]="product" [resourcesId]="resourcesId" [tempData]="tempData" [configOrder]="configOrder">
        </app-print-view-box>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-elevate mr-2" (click)="printPDf()">Print</button>
    <button type="button" class="btn btn-outline-secondary btn-elevate mr-2" (click)="modal.dismiss()">Close</button>
  </div>
</div>
