<table class="table table-bordered">
  <thead class="tbody-align">
    <tr>
      <th></th>
      <th style="text-align: left;">
        Base Coverage
      </th>
      <th *ngIf="product.code == 'CLFR01'">
        Option
      </th>
      <th *ngIf="addOns.isSum">
        Sum Insured
      </th>
      <th *ngIf="addOns.isUnit">
        Unit
      </th>
      <th *ngIf="addOns.isPremium">
        Premium
      </th>
    </tr>
  </thead>
  <tbody class="tbody-align" *ngIf="!isLoading">
    <ng-container *ngFor="let addon of product.addOns;let i = index">
      <tr *ngIf="addon.show">

        <ng-container *ngIf="addOnsData[addon.id]">
          <td>
            <input type="checkbox" [(ngModel)]="addOnsData[addon.id].checked" (change)="changeOption(addon)">
          </td>
        </ng-container>
        <td style="text-align: left;">{{addon.description}}</td>
        <!-- <ng-container *ngIf="addOnsData[addon.id].checked"> -->
        <ng-container *ngIf="addOnsData[addon.id]">
          <td *ngIf="product.code == 'CLFR01'" style="text-align: left;">
            <ng-container *ngIf="addon.code == 'BURGLARY' || addon.code == 'STHTC' ">
              <ng-select class="ng-custom-select" [items]="fireOptionData[addon.code]" bindLabel="value"
                bindValue="code" (change)="rechangeOption(addon)" [(ngModel)]="addOnsData[addon.id].option"
                [clearable]="false"></ng-select>
            </ng-container>
          </td>
          <td *ngIf="addon.sumInsured">
            <ng-container *ngIf="!addon.sumInsuredStr">
              <input type="text" class="form-control form-control-sm" [disabled]="!addOnsData[addon.id].checked"
                [(ngModel)]="addOnsData[addon.id].sum">
            </ng-container>
            <ng-container *ngIf="addon.sumInsuredStr">
              <!-- {{addOnsData[addon.id].sum}} -->
              {{addOnsData[addon.id].sum > 0 ? (addOnsData[addon.id].sum | number) : addOnsData[addon.id].sum}}
            </ng-container>
          </td>
          <td *ngIf="addon.unit">
            <!-- <ng-container *ngIf="addon.unitStr"></ng-container> -->
            <ng-container *ngIf="!addon.unitStr">
              <input type="text" class="form-control form-control-sm" [disabled]="!addOnsData[addon.id].checked"
                [(ngModel)]="addOnsData[addon.id].unit">
            </ng-container>
            <ng-container *ngIf="addon.unitStr">
              {{addOnsData[addon.id].unit}}
            </ng-container>
          </td>
          <td *ngIf="addon.premium">
            <!-- <ng-container *ngIf="addon.premiumStr"></ng-container> -->
            <ng-container *ngIf="!addon.premiumStr">
              <input type="text" class="form-control form-control-sm" [disabled]="!addOnsData[addon.id].checked"
                [(ngModel)]="addOnsData[addon.id].premium">
            </ng-container>
            <ng-container *ngIf="addon.premiumStr">
              {{addOnsData[addon.id].premium > 0 ? (addOnsData[addon.id].premium | number) :
              addOnsData[addon.id].premium}}
            </ng-container>
          </td>
          <!-- </ng-container> -->
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>
<hr>
<app-motor-addon [product]="product" [editData]="editData" [resourcesId]="resourcesId" [optionId]="optionId" [premiumAmt]="premiumAmt" ></app-motor-addon>
<hr>
<div class="row" *ngIf="!fireAdd">
  <div class="col-sm-6 mx-auto">
    <button class="btn btn-block btn-secondary" (click)="backPage()"> Previous </button>
  </div>
  <div class="col-sm-6 mx-auto">
    <button class="btn btn-block btn-primary" (click)="nextPage()"> Save & Next </button>
  </div>
</div>
<div *ngIf="fireAdd" style="text-align: right;">
  <button class="btn btn-primary" (click)="nextPage()"> Save </button>
</div>