.sub-inner {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.left-border {
    transform: skewX(-30deg);
    width: 85px;
    background: #fff;
    height: 457px;
    position: absolute;
    bottom: 0;
    left: 34px;
    z-index: 1;
}

.right-border {
    transform: skewX(30deg);
    width: 85px;
    background: #fff;
    height: 457px;
    position: absolute;
    bottom: 0;
    right: 34px;
    z-index: 1;
}

.inner {
    height: 120px;
}
////////////////////////////////////////////
.investment {
    width: 145px;
    margin: 0 auto;
    position: relative;
    //left: -6px;
    overflow: hidden;
    .freedom-left-inner {
        width: 50%;
        float: left;
        height: 120px;
        background: #f2f2f2;
        position: relative;
        .progress {
            top: 31px;
            left: 62px;
            width: 22.75px;
        }
    }
    .freedom-right-inner {
        width: 50%;
        float: right;
        height: 120px;
        background: #f2f2f2;
    }
    a {
        position: absolute;
        top: 88px;
        text-decoration: underline;
        color: #f5821f;
        width: 97%;
        text-align: center;
        display: block;
        left: 5px;
        font-size: 14px;
        font-weight: bold;
    }
}

.saving {
    width: 320px;
    margin: 0 auto;
    position: relative;
    // left: -7px;
    overflow: hidden;
    .education-left-inner {
        width: 50%;
        float: left;
        height: 120px;
        background: #f2f2f2;
        position: relative;
        a {
            position: absolute;
            bottom: 21px;
            text-decoration: underline;
            color: #7f7f7f;
            width: 100%;
            text-align: center;
            display: block;
            margin-left: 15px;
            font-size: 14px;
            font-weight: bold;
        }
        .progress {
            left: 77px;
            top: 30px;
        }
    }
    .retirement-right-inner {
        width: 50%;
        float: right;
        height: 120px;
        background: #f2f2f2;
        position: relative;
        a {
            position: absolute;
            bottom: 21px;
            text-decoration: underline;
            color: #7f7f7f;
            width: 100%;
            text-align: center;
            display: block;
            margin-left: -10px;
            font-size: 14px;
            font-weight: bold;
        }
        .progress {
            left: 50px;
            top: 30px;
        }
    }
}

.protection {
    width: 460px;
    margin: 0 auto;
    position: relative;
    // left: -37px;
    overflow: hidden;
    width: 100%;
    .income-left-inner {
        padding: 0;
        height: 140px;
        background: #f2f2f2;
        a {
            position: absolute;
            bottom: 30px;
            text-decoration: underline;
            color: #22aae1;
            width: 100%;
            text-align: center;
            display: block;
            margin-left: 17px;
            font-size: 14px;
            font-weight: bold;
        }
        .progress {
            top: 18px;
            left: 83px;
        }
    }
    .health-middle-inner {
        padding: 0;
        height: 140px;
        background: #f2f2f2;
        a {
            position: absolute;
            bottom: 30px;
            text-decoration: underline;
            color: #f5821f;
            width: 100%;
            text-align: center;
            display: block;
            font-size: 14px;
            font-weight: bold;
        }
        .progress {
            top: 18px;
            left: 62px;
        }
    }
    .asset-right-inner {
        height: 140px;
        padding: 0;
        background: #f2f2f2;
        a {
            position: absolute;
            bottom: 30px;
            text-decoration: underline;
            color: #f5821f;
            width: 100%;
            text-align: center;
            display: block;
            margin-left: -20px;
            font-size: 14px;
            font-weight: bold;
        }
        .progress {
            left: 43px;
            top: 18px;
        }
    }
}

.left-transparent {
    height: 360px;
    position: absolute;
    background: #fff;
    width: 70px;
    top: 0;
    transform: skewX(-29.2deg);
    left: 28px;
    z-index: 1;
}

.right-transparent {
    height: 360px;
    position: absolute;
    background: #fff;
    width: 70px;
    top: 0;
    transform: skewX(29.2deg);
    right: 28px;
    z-index: 1;
}

.investment-dot {
    position: absolute;
    top: 120px;
    width: 100%;
    border-bottom: medium dashed #d9d9d9;
    z-index: 2;
    span {
        position: absolute;
        top: -100px;
        color: #7f7f7f;
        text-decoration: underline;
    }
}

.saving-dot {
    position: absolute;
    top: 240px;
    width: 100%;
    border-bottom: medium dashed #d9d9d9;
    z-index: 2;
    span {
        position: absolute;
        top: -100px;
        color: #7f7f7f;
        text-decoration: underline;
    }
}

.protection-dot {
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-bottom: medium dashed #d9d9d9;
    z-index: 2;
    span {
        position: absolute;
        top: -100px;
        color: #7f7f7f;
        text-decoration: underline;
    }
}

.progress {
    top: 10px;
    left: 69%;
    width: 15%;
    height: 55%;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    //background: #fff;
    border-radius: 0 !important;
}

.progress span {
    display: block;
    //height: 71%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sub-progress {
    background-color: #d6185e;
    animation: progressBar1 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes progressBar1 {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-rotate {
    color: #fff;
    position: relative;
    top: 45%;
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

.saving-border {
    width: 1px;
    height: 90%;
    background: #d9d9d9;
    position: absolute;
    right: 0;
    top: 8px;
}

.btn-next {
    width: 100%;
    overflow: hidden;
    margin: 47px 0 0 0;
}

.inactive-freedon-left {
    // background-image: url(../../../../../assets/images/inactive.png);
    background-color: #cac9ca !important;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.inactive-freedon-right {
    background-color: #cac9ca !important;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}
.red {
    background: red;
}

.investment-1 {
    text-align: center;
    width: 120px;
    margin: 0 auto;
    height: 25px;
    //background: #aaaaaa;
    transform: skewX(60deg);
    left: 6px;
    position: relative;
    label {
        transform: skewX(-60deg);
        color: #fff;
        font-size: 13px;
        margin: 0;        
    }
}

.bg-protection {
    background: #ff8100 !important;
    height: 100%;
    width: 100%;
}

.bg-saving {
    background: #ffd300 !important;
    height: 100%;
    width: 100%;
}

.bg-freedom {
    background: #00acea !important;
    height: 100%;
    width: 100%;
}

.lpp-icon {
    width: 35px;
    position: absolute;
}
