<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
      {{data.jobType=='CRM' ? "Management Portal " : data.jobType}}
    </div>
  </div>


  <div class="overlay overlay-block cursor-default modal-body">
   
    <div class="row" style="align-items: center;">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Job Type</label>
          <div class="col-sm-8">
            <div type="text" class="form-control form-control-sm " name="name" autocomplete="off">{{data.jobType=='CRM'
              ? "Management Portal " : data.jobType}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="align-items: center;">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Job Name</label>
          <div class="col-sm-8">
            <div type="text" class="form-control form-control-sm " name="name" autocomplete="off">{{data.jobName}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="align-items: center;">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Description</label>
          <div class="col-sm-8">
            <div type="text" class="form-control form-control-sm"  name="name" autocomplete="off">
              <ul class="error-list">
                <li *ngFor="let item of data.errorDescription">{{item}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="closeModal()">Close</button>
    <button type="button" *ngIf="data.status == 'FAIL'" class="btn btn-primary btn-elevate mr-2"
      (click)="reRun()">Re-Run</button>
  </div>
</div>