<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
      {{data.jobType}} 
    </div>
  </div>

  
    <div class="overlay overlay-block cursor-default modal-body">
      <div class="row" style="align-items: center">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-bold">Job Type  -</label>
            <div class="col-sm-8">
            {{data.jobType}}
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="align-items: center">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-bold">Error Description  - </label>
            <div class="col-sm-8">
            {{data.errorDescription}}
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>