<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
      Configuration Input
    </div>

  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <!-- <div class="form-group" >
      <label for="item"></label>
    </div> -->
    <div class="form-group" *ngFor="let item of InputArry"
      style="display: flex;align-items: center; justify-content: space-between;">
      <label style="margin-bottom: 0px;margin-right: 15px;">{{item | titlecase}}</label>
      <!-- <div class="col-md-6 col-xl-4"> -->
      <div style="display: flex">
        <div *ngIf="inputData[item] >= 2" style="margin-right: 10px;">
          <label for="">On Reference</label>
          <span class="switch switch-icon">
            <label>
              <input type="checkbox" name="disabled" [checked]="inputData[item] == 3"
                (change)="changeCheckReadByRef(item,$event)" />
              <span></span>
            </label>
          </span>
        </div>
        <div *ngIf="inputData[item] >= 1" style="margin-right: 10px;">
          <label for="">Read Only</label>
          <span class="switch switch-icon">
            <label>
              <input type="checkbox" name="disabled" [checked]="inputData[item] >= 2"
                (change)="changeCheckRead(item,$event)" />
              <span></span>
            </label>
          </span>
        </div>
        <div>
          <label for="">Show</label>
          <span class="switch switch-icon">
            <label>
              <input type="checkbox" name="disabled" [checked]="inputData[item] >= 1"
                (change)="changeCheck(item,$event)" />
              <span></span>
            </label>
          </span>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">{{"FORM.btn_cancel” | translate }}</button>
    <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">{{"FORM.btn_save” | translate }}</button>
  </div>
</div>