<div class="moter-print">

  <div class="sign-row">
    <div class="sign-box">
      <label>Witness Signature</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="Default_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
    <div class="sign-box">
      <label>Name</label>
      <div class="sign-area">
      </div>
    </div>
  </div>

  <div class="sign-row">
    <div class="sign-box">
      <label>Phone</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>Date</label>
      <div class="sign-area"></div>
    </div>
  </div>

</div>