<div *ngIf="config && (!config.multi || config.multi == 'false')" class="config.size" [formGroup]="group">
  <div class="form-group" [ngClass]="{'row': config.inlineStyle}">
    <label *ngIf="config.isLabel"
      class="{{config.inlineStyle ? 'col-'+config.labelSize+' col-form-label' : ''}}">{{config.label}}</label>
    <div *ngIf="!config.inlineStyle;else InlineForm">
      <ng-select [formControlName]="config.name" (change)="doFunction()"
        class="ng-custom-select" placeholder="{{config.placeholder}}">
        <!-- <ng-option [value]="null">Select {{config.label}}</ng-option> -->
        <ng-container *ngIf="config.master == 'true';else Otheroption">
          <ng-option *ngFor="let opt of masterOption" [value]="opt.value">{{opt.text}}</ng-option>
        </ng-container>
        <ng-template #Otheroption>
          <ng-option *ngFor="let opt of config.options" [value]="opt.value">{{opt.text}}</ng-option>
        </ng-template>
      </ng-select>
      <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
    </div>
    <ng-template #InlineForm>
      <div class="col-{{config.inputSize}}">
        <ng-select [formControlName]="config.name" (change)="doFunction()" class="ng-custom-select" placeholder="{{config.placeholder}}">
          <!-- <ng-option [value]="null">Select {{config.label}}</ng-option> -->
          <!-- <option *ngFor="let opt of config.options" [value]="{{opt.value}}">{{opt.text}}</option> -->
          <ng-container *ngIf="config.master == 'true';else Otheroption2">
            <ng-option *ngFor="let opt of masterOption" [value]="opt.value">{{opt.text}}</ng-option>
          </ng-container>
          <ng-template #Otheroption2>
            <ng-option *ngFor="let opt of config.options" [value]="opt.value">{{opt.text}}</ng-option>
          </ng-template>
        </ng-select>
        <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
      </div>
    </ng-template>
  </div>
</div>


<div *ngIf="config && config.multi && config.multi == 'true'" class="config.size" [formGroup]="group">
  <div class="form-group" [ngClass]="{'row': config.inlineStyle}">
    <label *ngIf="config.isLabel"
      class="{{config.inlineStyle ? 'col-'+config.labelSize+' col-form-label' : ''}}">{{config.label}}</label>
    <div *ngIf="!config.inlineStyle;else InlineForm">
      <mat-select [formControlName]="config.name" (change)="doFunction()" class="form-control form-control-sm" multiple>
        <!-- <mat-option *ngFor="let opt of config.options" value="{{opt.value}}">{{opt.text}}</mat-option> -->
        <ng-container *ngIf="config.master == 'true';else Otheroption3">
          <mat-option *ngFor="let opt of masterOption" value="{{opt.value}}">{{opt.text}}</mat-option>
        </ng-container>
        <ng-template #Otheroption3>
          <mat-option *ngFor="let opt of config.options" value="{{opt.value}}">{{opt.text}}</mat-option>
        </ng-template>
      </mat-select>
      <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
    </div>
    <ng-template #InlineForm>
      <div class="col-{{config.inputSize}}">
        <mat-select [formControlName]="config.name" (change)="doFunction()" class="form-control form-control-sm"
          multiple>
          <ng-container *ngIf="config.master == 'true';else Otheroption4">
            <mat-option *ngFor="let opt of masterOption" value="{{opt.value}}">{{opt.text}}</mat-option>
          </ng-container>
          <ng-template #Otheroption4>
            <mat-option *ngFor="let opt of config.options" value="{{opt.value}}">{{opt.text}}</mat-option>
          </ng-template>
        </mat-select>
        <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
      </div>
    </ng-template>
  </div>
</div>

<!--  -->