<div *ngIf="config" [formGroup]="group">
  <ng-container *ngIf="config.type == 'date';else policyDate ">
    <div class="form-group" [ngClass]="{'row': config.inlineStyle}">
      <label *ngIf="config.isLabel"
        class="{{config.inlineStyle ? 'col-'+config.labelSize+' col-form-label' : ''}}">{{config.label}}</label>
      <div *ngIf="!config.inlineStyle;else InlineForm">
        <!-- <input type="{{config.type}}" class="form-control form-control-sm" name="{{config.name}}" placeholder="{{config.placeholder}}"
        [formControlName]="config.name" /> -->
        <!-- <mat-form-field class="form-control-sm" appearance="fill"> -->
        <div class="input-group ">
          <input matInput class="form-control-sm date-input" [formControlName]="config.name" [min]="fromMinDate"
            [max]="fromMaxDate" [matDatepicker]="picker" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="{{isDisabled}}"></mat-datepicker>
          <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
        </div>
        <!-- </mat-form-field> -->
        <!-- <div class="input-group ">
          <input type="text" name="{{config.name}}" class="form-control form-control-sm " autocomplete="off"
            placeholder="dd/mm/yyyy" ngbDatepicker #d="ngbDatepicker" [minDate]="fromMinDate" [maxDate]="fromMaxDate"
            [formControlName]="config.name" readonly="true" />
          <div class="input-group-append" (click)="d.toggle()">
            <span class="input-group-text">
              <i class="text-dark-50 flaticon-calendar"></i>
            </span>
          </div>
        </div> -->
        <!-- <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error> -->
      </div>
      <ng-template #InlineForm>
        <div class="col-{{config.inputSize}}">
          <!-- <input type="{{config.type}}" class="form-control form-control-sm" name="{{config.name}}" placeholder="{{config.placeholder}}"
          [formControlName]="config.name" /> -->
          <!-- <mat-form-field appearance="fill"> -->
          <div class="input-group ">
            <input matInput class="form-control-sm date-input" [formControlName]="config.name" [min]="fromMinDate"
              [max]="fromMaxDate" [matDatepicker]="picker" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="{{isDisabled}}"></mat-datepicker>
            <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
          </div>
          <!-- </mat-form-field> -->
          <!-- <div class="input-group ">
            <input type="text" name="{{config.name}}" class="form-control form-control-sm " autocomplete="off"
              placeholder="dd/mm/yyyy" ngbDatepicker #d="ngbDatepicker" [minDate]="fromMinDate" [maxDate]="fromMaxDate"
              [formControlName]="config.name" readonly="true" />
            <div class="input-group-append" (click)="d.toggle()">
              <span class="input-group-text">
                <i class="text-dark-50 flaticon-calendar"></i>
              </span>
            </div>
          </div> -->
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #policyDate>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'row': config.inlineStyle}">
          <label *ngIf="config.isLabel"
            class="{{config.inlineStyle ? 'col-'+config.labelSize+' col-form-label' : ''}}">{{config.label}}</label>
          <div *ngIf="!config.inlineStyle;else InlineForm">
            <!-- <div class="input-group ">
              <input type="text" name="{{config.name}}" class="form-control form-control-sm " autocomplete="off"
                placeholder="dd/mm/yyyy" ngbDatepicker #d="ngbDatepicker" [minDate]="fromMinDate"
                [maxDate]="fromMaxDate" [formControlName]="config.name" (ngModelChange)="doValid()" readonly="true" />
              <div class="input-group-append" (click)="d.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div> -->
            <div class="input-group">
              <input matInput class="form-control-sm date-input" [formControlName]="config.name" [min]="fromMinDate"
                [max]="fromMaxDate" [matDatepicker]="picker" (dateChange)="doValid()" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="{{isDisabled}}"></mat-datepicker>
              <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
            </div>
            <!-- <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error> -->
          </div>
          <ng-template #InlineForm>
            <div class="col-{{config.inputSize}}">
              <!-- <input type="{{config.type}}" class="form-control form-control-sm" name="{{config.name}}" placeholder="{{config.placeholder}}"
              [formControlName]="config.name" /> -->
              <!-- <div class="input-group ">
                <input type="text" name="{{config.name}}" class="form-control form-control-sm " autocomplete="off"
                  placeholder="dd/mm/yyyy" ngbDatepicker #d="ngbDatepicker" [minDate]="fromMinDate"
                  [maxDate]="fromMaxDate" [formControlName]="config.name" (ngModelChange)="doValid()" readonly="true" />
                <div class="input-group-append" (click)="d.toggle()">
                  <span class="input-group-text">
                    <i class="text-dark-50 flaticon-calendar"></i>
                  </span>
                </div>
              </div>
              <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error> -->
              <div class="input-group">
                <input matInput class="form-control-sm date-input" [formControlName]="config.name" [min]="fromMinDate"
                  [max]="fromMaxDate" [matDatepicker]="picker" (dateChange)="doValid()" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="{{isDisabled}}"></mat-datepicker>
                <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'row': config.inlineStyle}">
          <label *ngIf="config.isLabel"
            class="{{config.inlineStyle ? 'col-'+config.labelSize+' col-form-label' : ''}}">{{config.endLabel}}</label>
          <div *ngIf="!config.inlineStyle;else InlineForm2">
            <!-- <div class="input-group ">
              <input type="text" name="{{config.endName}}" id="{{config.endName}}" class="form-control form-control-sm "
                autocomplete="off" placeholder="dd/mm/yyyy" ngbDatepicker #da="ngbDatepicker" [minDate]="toMinDate"
                [maxDate]="toMaxDate" [formControlName]="config.endName" readonly="true" />
              <div class="input-group-append" (click)="da.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div> -->
            <!-- <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error> -->
            <div class="input-group">
              <input matInput class="form-control-sm date-input" [formControlName]="config.endName" [min]="toMinDate"
                [max]="toMaxDate" [matDatepicker]="picker2" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 disabled="true"></mat-datepicker>
            </div>
          </div>
          <ng-template #InlineForm2>
            <div class="col-{{config.inputSize}}">
              <div class="input-group">
                <input matInput class="form-control-sm date-input" [formControlName]="config.endName" [min]="toMinDate"
                  [max]="toMaxDate" [matDatepicker]="picker2" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 disabled="true"></mat-datepicker>
              </div>
              <!-- <div class="input-group ">
                <input type="text" name="{{config.endName}}" class="form-control form-control-sm " autocomplete="off"
                  placeholder="dd/mm/yyyy" id="{{config.endName}}" ngbDatepicker #da="ngbDatepicker"
                  [minDate]="toMinDate" [maxDate]="toMaxDate" [formControlName]="config.endName" readonly="true" />
                <div class="input-group-append" (click)="da.toggle()">
                  <span class="input-group-text">
                    <i class="text-dark-50 flaticon-calendar"></i>
                  </span>
                </div>
              </div> -->
              <!-- <app-print-error [control]="group.controls[config.name]" [valid]="config.validation"></app-print-error> -->
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
</div>