<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label left-border-image">{{ title }}</h3>
                </div>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="getAllReports()">
                        <span class="flaticon2-magnifier-tool search-tool"></span>
                    </button>
                    <button type="button" [disabled]="!isData" (click)="generateReportExcel()" class="btn btn-primary ml-2" style="min-width: 50px;">
                        <span class="">{{"FORM.generate"|translate}}</span>
                    </button>
                    <button type="button" (click)="cancelReport()" class="btn btn-primary ml-2" style="min-width: 50px;">
                        <span class="">{{"FORM.btn_cancel"|translate}}</span>
                    </button>
                </div>
            </div>
            <div class="card-body px-10 py-3">
                <form action="#" class="form" [formGroup]="createFormGroup">
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6 from-date">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.from_month"|translate}}</label>
                                <div class="col-sm-8 input-date">
                                    <input type="text" readonly class="form-control form-control-sm" formControlName="fromDate" [min]="fromMinDate" [max]="fromMaxDate" [matDatepicker]="picker1" (dateChange)="doValid('FromDate')" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                                    <span class="ng-clear-wrapper" (click)="clearDate('FromDate')" title="Clear">
                                        <span aria-hidden="true" class="ng-clear">×</span>
                                    </span>
                                </div>
                                <!-- <button type="button" style="margin: 0 !important;" (click)="clearDate('FromDate')" class="btn btn-primary btn-elevate mx-2">{{"FORM.clear"|translate}}</button> -->
                            </div>
                        </div>
                        <div class="col-sm-6 from-date">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.to_month"|translate}}</label>
                                <div class="col-sm-8 input-date">
                                    <input type="text" readonly class="form-control form-control-sm" formControlName="toDate" [min]="fromMinDate" [max]="fromMaxDate" [matDatepicker]="picker" (dateChange)="doValid('ToDate')" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                    <span class="ng-clear-wrapper" (click)="clearDate('ToDate')" title="Clear">
                                        <span aria-hidden="true" class="ng-clear">×</span>
                                    </span>
                                </div>
                                <!-- <button type="button" style="margin: 0 !important;" (click)="clearDate('ToDate')" class="btn btn-primary btn-elevate mx-2">{{"FORM.clear"|translate}}</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;" *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                        <div class="col-sm-6" *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.company"|translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select" placeholder="Please Select" (change)="changeOptions($event, 'channel')" [items]="selectOptions.companies" bindLabel="name" bindValue="id" formControlName="companyId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.channel"|translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.channels.length == 0 " class="ng-custom-select" placeholder="Please Select" (change)="changeOptions($event, 'region')" [items]="selectOptions.channels" bindLabel="name" bindValue="id" formControlName="channelId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;" *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.region"|translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.regions.length == 0 " class="ng-custom-select" placeholder="Please Select" (change)="changeOptions($event, 'cluster')" [items]="selectOptions.regions" bindLabel="name" bindValue="id" formControlName="regionId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.cluster"|translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.cluster.length == 0 " class="ng-custom-select" placeholder="Please Select" (change)="changeOptions($event, 'branch')" [items]="selectOptions.cluster" bindLabel="name" bindValue="id" formControlName="clusterId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;" *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.branch"|translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.branches.length == 0 " class="ng-custom-select" placeholder="Please Select" (change)="changeOptions($event, 'agent')" [items]="selectOptions.branches" bindLabel="name" bindValue="id" formControlName="branchId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">{{"FORM.agent_name"|translate}}</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.agents.length == 0 " class="ng-custom-select" placeholder="Please Select" (change)="changeOptions($event, 'office')" [items]="selectOptions.agents" bindLabel="agentName" bindValue="agentId" formControlName="agentId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="isData">
    <div class="col-12">
        <div style="width: 100%;
        overflow: hidden; position: relative;">
            <div style="width: 30%;float: left; position: relative;">
                <br *ngIf="createFormGroup.value.companyId">
                <br *ngIf="createFormGroup.value.clusterId">
                <h3 class="card-label left-border-image" style="font-size: 1.15rem;">{{ title }}</h3>
            </div>
            <div style="width: 30%; float: left; position: relative;">
                <br *ngIf="createFormGroup.value.companyId">
                <br *ngIf="createFormGroup.value.clusterId">
                <div class="date-display">
                    <span *ngIf="createFormGroup.value.fromDate">{{"FORM.from_month"|translate}}: {{
                        createFormGroup.value.fromDate | date: 'MM/yyyy' }} </span>
                    <span *ngIf="createFormGroup.value.toDate">{{"FORM.to_month"|translate}}: {{
                        createFormGroup.value.toDate | date: 'MM/yyyy' }}</span>
                </div>
            </div>
            <div class="search-display">
                <div *ngIf="createFormGroup.value.companyId != '' || 
                createFormGroup.value.channelId !='' || createFormGroup.value.regionId != '' ">
                    <span *ngIf="createFormGroup.value.companyId">{{"FORM.company"|translate}}: {{ companyName }} </span>
                    <span *ngIf="createFormGroup.value.channelId">{{"FORM.channel"|translate}}: {{ channelName }} </span>
                    <span *ngIf="createFormGroup.value.regionId">{{"FORM.region"|translate}}: {{ regionName }} </span>
                </div>
                <div *ngIf="createFormGroup.value.clusterId != '' || 
                createFormGroup.value.branchId !='' || createFormGroup.value.agentId !='' ">
                    <span *ngIf="createFormGroup.value.clusterId">{{"FORM.cluster"|translate}}: {{ clusterName }} </span>
                    <span *ngIf="createFormGroup.value.branchId">{{"FORM.branch"|translate}}: {{ branchName }}</span>
                    <span *ngIf="createFormGroup.value.agentId">{{"FORM.agent"|translate}}: {{ agentName }} </span>
                </div>
            </div>
        </div>
        <div style="width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
        max-height: 500px;">
            <table border="1">
                <!-- <tr style="border-top: 1px solid #000;" *ngIf="productList.length > 0">
                    <th>{{"FORM.agent_name"|translate}}</th>
                    <th>{{"FORM.branch_name"|translate}}</th>
                    <th>{{"FORM.activity"|translate}}</th>
                    <th>{{"FORM.target"|translate}}</th>
                    <th *ngFor="let product of productList; let i = index">{{ product.headerMonthName }}</th>
                </tr> -->
                <tr style="border-top: 1px solid #000;" *ngIf="productList.length > 0">
                    <th>Agent Name</th>
                    <th>Branch Name</th>
                    <th>Activity Name</th>
                    <th>Target</th>
                    <th *ngFor="let product of productList; let i = index">{{ product.headerMonthName }}</th>
                </tr>
                <tr *ngFor="let data of dataList; let i = index">
                    <td class="text-left">{{ data.agentName }}</td>
                    <td class="text-left">{{ data.branchName }}</td>
                    <td class="text-left">{{ data.activitiesName }}</td>
                    <td class="text-right" *ngIf="data.target">{{ (data.target || 0) | number:'1.2-2' }}</td>
                    <td class="text-right" *ngIf="!data.target">0.00</td>
                    <td class="text-right" *ngFor="let monthly of dataList[i].productDataList; let j = index; ">
                        <label *ngIf="monthly.monthlyValue">{{ (monthly.monthlyValue || 0) | number:'1.2-2' }}</label>
                        <label *ngIf="!monthly.monthlyValue">0.00</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div *ngIf="!isData" style="color: gray; text-align: center;"> There is no data </div>