.btn-about {
    text-align: end;
    text-align: end;
    padding: 0;
    margin-top: 150px;
    button:last-child {
        margin-right: 0 !important;
    }
}



.add-child {
    float: left;
}

.sub-title {
    padding-left: 26px;
    color: #005f99 !important;
    font-size: 0.9rem;
    margin: 15px 0 5px 0;
}

.col-4 {
    padding-left: 26px;
    span {
        color: red;
        display: inline-block;
        padding: 0 0 0 5px;
    }
}

.delete {
    margin: 12px 0 0 0;
    display: inline-block;
    color: #005f99 !important;
    text-decoration: underline;
    font-size: 0.9rem;
}

button {
    width: 120px;
}

.btn_clear {
    padding: 0;
    position: relative;
    right: 30px;
    a {
        position: absolute;
        top: 14px;
        display: inline-block;
        cursor: pointer;
    }
}

label{
    font-size: 1rem;
}

mat-datepicker-toggle{
    position: absolute;
    right: 15px !important;
    top: -2px;
}

.title{
    padding-top:10px;
    margin-left: 5px;
}