<div class="addon-print">
  <div class="title-style left-border-image mt-5 mb-3">Benefit Illustration</div>
  <table class="tbody-align">
    <tr>
      <td class="field-col">
        End of Policy Year
      </td>
      <td class="field-col">
        Age
      </td>
      <td class="field-col">
        Premium Paid
      </td>
      <td class="field-col">
        Death/PTD Benefit
      </td>
      <td class="field-col">
        Surrender Value
      </td>
      <td class="field-col">
        Maturity Benefit
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let item of showDatas;let i = index">
        <tr>
          <td class="field-value">{{item.endOfPolicyYear}}</td>
          <td class="field-value">{{item.age}}</td>
          <td class="field-value">{{(item.premiumPaid | number) || "-"}}</td>
          <td class="field-value">{{item.deathBenefit | number}}</td>
          <td class="field-value">{{(item.surrenderValue | number) || "-"}}</td>
          <td class="field-value">{{(item.maturityBenefit | number) || "-"}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<hr class="mb-5">
<ng-container *ngIf="showDatas.length > 0">
  <!-- <app-education-life-griph-print [parentData]="showDatas"></app-education-life-griph-print> -->
</ng-container>