.input-group {
    .form-control-sm {
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #E4E6EF;
        padding: 0px 0.75rem;
        width: 100%;
    }
    .mat-datepicker-toggle {
        position: absolute;
        right: 5px;
        top: -2px;
    }
}