<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-header" *ngIf="!isPopup">
                <div class="card-title">
                    <h3 class="card-label left-border-image">Lead List</h3>
                </div>
                <div class="card-toolbar">
                    <!-- <button type="button" class="btn btn-primary btn-circle" (click)="navigateToDetail('create')">
                        <span class="flaticon2-plus"></span>
                    </button> -->
                    <!-- <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="getList()">
                        <span class="flaticon2-magnifier-tool search-tool"></span>
                    </button> -->
                    <span class="flaticon2-magnifier-tool search-tool" (click)="getList()"></span>
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="cancel()">
                        <span class="">Cancel</span>
                    </button>
                </div>
            </div>
            <div class="card-body px-10 py-3">
                <form action="#" class="form" [formGroup]="LeadForm">
                    <div class="row" style="align-items: center;">
                        <app-start-end-date [formInput]="LeadForm" remove-host [colClass]="'col-xl-4 col-sm-6'"></app-start-end-date>
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Lead ID</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="leadId" autocomplete="off" [class.is-invalid]="isControlInvalid('leadId')" [class.is-valid]="isControlValid('leadId')" formControlName="leadId" />
                                </div>
                            </div>
                        </div>


                        <!-- </div>
                    <div class="row"> -->
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Product</label>
                                <div class="col-sm-8">
                                    <!-- <input type="text" class="form-control form-control-sm " name="productId"
                                        autocomplete="off" [class.is-invalid]="isControlInvalid('productId')"
                                        [class.is-valid]="isControlValid('productId')" formControlName="productId" /> -->
                                    <ng-select class="ng-custom-select" [class.is-invalid]="isControlInvalid('productId')" [class.is-valid]="isControlValid('productId')" [items]="productOption" bindLabel="value" bindValue="code" formControlName="productId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Source</label>
                                <div class="col-sm-8">
                                    <!-- <input type="text" class="form-control form-control-sm " name="sourceCode"
                                        autocomplete="off" [class.is-invalid]="isControlInvalid('sourceCode')"
                                        [class.is-valid]="isControlValid('sourceCode')" formControlName="sourceCode" /> -->
                                    <ng-select class="ng-custom-select" [class.is-invalid]="isControlInvalid('sourceCode')" [class.is-valid]="isControlValid('sourceCode')" [items]="sourceOption" bindLabel="value" bindValue="code" formControlName="sourceCode">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Lead Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="contactName" autocomplete="off" [class.is-invalid]="isControlInvalid('contactName')" [class.is-valid]="isControlValid('contactName')" formControlName="contactName" />
                                </div>
                            </div>
                        </div>

                        <!-- </div>
                    <div class="row"> -->

                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Existing Customer</label>
                                <div class="col-sm-8" (click)="viewExistingCustomer()">
                                    <input type="text" class="form-control form-control-sm " name="existingCustomerName" autocomplete="off" [class.is-invalid]="isControlInvalid('existingCustomerName')" [class.is-valid]="isControlValid('existingCustomerName')" formControlName="existingCustomerName"
                                        readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Status</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select" [class.is-invalid]="isControlInvalid('statusCode')" [class.is-valid]="isControlValid('statusCode')" [items]="statusOption" bindLabel="value" bindValue="code" formControlName="statusCode">
                                    </ng-select>
                                </div>
                            </div>

                        </div>

                        <div class="col-xl-4 col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Campaign Name </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " name="campaignName" autocomplete="off" [class.is-invalid]="isControlInvalid('campaignName')" [class.is-valid]="isControlValid('campaignName')" formControlName="campaignName" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-body customer-card-body" *ngIf="show">
                <ng-container *ngIf="isTableView;else cardView">
                    <app-material-table-view [data]="LeadList" [colum]="ELEMENT_COL" [displayedColumns]="displayedColumns" (emitter)="actionBtn($event)" (rowselect)="rowSelected($event)" [selectable]="isPopup">
                    </app-material-table-view>
                </ng-container>
                <ng-template #cardView>
                    <ng-container *ngFor="let item of LeadList">
                        <div class="data-title">
                            <div class="header-text">
                                <ng-container *ngIf="item.smallIcon;else defaultImg">
                                    <img class="prod-logo" [src]="DEFAULT_DOWNLOAD_URL+item.smallIcon" alt="" (error)="updateURL($event)">
                                </ng-container>
                                <ng-template #defaultImg>
                                    <img class="prod-logo" src="assets/icon/general_product.svg">
                                </ng-template>
                                    <label>{{item.productName}}</label>
                            </div>
                            <div class="header-action">
                                <a title="Edit Form Page" class="btn btn-primary btn-cus btn-sm" (click)="onActionEdit()">
                                    <span class="flaticon-edit"></span>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </ng-template>
            </div>

        </div>
    </div>
</div>