.input-group {
    .form-control-sm {
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #e4e6ef;
        padding: 0px 0.75rem;
        width: 100%;
    }
    .mat-datepicker-toggle {
        position: absolute;
        right: 5px;
        top: -2px;
    }
}

.remove-p {
    margin-bottom: 0px;
}

.col-form-label {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-group.row {
    align-items: center;
}

.ng-clear-wrapper .ng-clear {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 0.3rem;
    font-size: 1.2rem;
    color: #999;
}

.ng-clear-wrapper .ng-clear:hover {
    color: #D0021B;
}
