.activated {
    background-color: #ff8100 !important;
    color: #fff !important;
}


//star-date

.input-group {
    .form-control-sm {
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #E4E6EF;
        padding: 0px;
        width: 100%;
    }
    

}

.remove-p {
    margin-bottom: 0px;
}

.col-form-label {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-group.row {
    align-items: center;
}




