<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Fire Product Details :</h3>
        </div>
    </div>
    <div class="card-body customer-card-body">
        <ul class="list-group">
            <li class="list-group-item">
                {{"FORM.policy_effective_from_date" | translate}} :
                <span> {{showData.startDate | date : "dd/MM/yyyy"}}</span>
            </li>
            <li class="list-group-item">
                {{"FORM.policy_effective_to_date" | translate}} :
                <span> {{showData.endDate | date : "dd/MM/yyyy"}}</span>
            </li>
            <li class="list-group-item">
                {{"FORM.policy_duration" | translate}} :
                <span> {{showData.policyDuration }} {{"FORM.days" | translate}}</span>
            </li>
            <li class="list-group-item">
                {{"FORM.policy_type" | translate}} :
                <span> {{showData.policyType == "T-001" ? "Normal" : "Declaration" }}</span>
            </li>
            <li class="list-group-item">
                {{"FORM.currency" | translate}} :
                <span> {{showData.policyDuration  == "T-001" ? "MMK" : "USD" }}</span>
            </li>

            <!--  -->
        </ul>
    </div>
</div>