<div class="row">
    <div class="col-12">
        <div class="card card-custom" style="margin-bottom: 15px;">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label left-border-image">Exchange Rate</h3>
                </div>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-primary btn-circle" style="margin-right: 1rem;" (click)="addData()">
                        <span class="flaticon2-plus"></span>
                    </button>
                    <!-- <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="getData()">
                        <span class="flaticon2-magnifier-tool search-tool"></span>
                    </button> -->
                    <span class="flaticon2-magnifier-tool search-tool" (click)="getData()"></span>
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="cancel()">
                        <span class="">Cancel</span>
                        </button>
                </div>
                <!-- <app-currency-add-form (formSubmit)="saveData($event)" [isModal]="false"></app-currency-add-form> -->
            </div>

            <div class="card-body ">
                <form action="#" class="form" [formGroup]="exchangeForm">
                    <div class="row" style="align-items: center;">
                        <app-start-end-date [formInput]="exchangeForm" remove-host [colClass]="'col-sm-4'"></app-start-end-date>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Currency</label>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm" name="title" placeholder="Currency Type" autocomplete="off" formControlName="currency">
                                        <option value="usd">USD</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-custom px-10 py-3">
            <div class="card-body">
                <app-material-table-view [data]="currencyList" [colum]="ELEMENT_COL" [displayedColumns]="displayedColumns" (emitter)="actionBtn($event)">
                </app-material-table-view>
            </div>
        </div>
    </div>
</div>