.inputs-aside {
    width: 30%;
    overflow: hidden;
   
}

button {
    width: 50%;
    border-radius: unset;
    color: #fff;
}

.menu-aside{
    button {
        width: 100%;
        border-radius: unset;
        color: #fff;
        text-align: left;
    }
}



