.inputs-aside {
    width: 30%;
    overflow: hidden;
}

button {
    width: 50%;
    border-radius: unset;
    color: #fff;
}

.menu-aside {
    button {
        width: 100%;
        border-radius: unset;
        color: #fff;
        text-align: left;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .input-main {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        .input-sub {
            min-width: 420px;
        }
    }
}
