<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
            {{config.label == 'Customer ID'? 'Customer List' : config.label | dyn_translate: config.labelMM}}
            <span class="text-muted font-weight-bold font-size-sm mt-1">Please select in table list</span>
        </div>
    </div>

    <div class="overlay overlay-block cursor-default modal-body">
        <ng-container *ngIf="config.type == 'user'">
            <app-customer-list (selectedUser)="selectedUser($event)" [isCustom]="customForm" [isPopup]="true" [isDynamic]="true">
            </app-customer-list>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">{{"FORM.btn_cancel" | translate }}</button>
        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">{{"FORM.btn_save" | translate }}</button>
    </div>
</div>