<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Fire Risk</h3>
    </div>
  </div>
  <div class="card-body customer-card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center fire-table">
        <thead>
          <tr>
            <th>{{"FORM.building_description" | translate}} </th>
            <th style="text-align: right;">{{"FORM.sum_insured" | translate}}</th>
            <th style="text-align: right;">{{"FORM.premium" | translate}} </th>
            <!-- <th>Other Building </th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of listData">
            <tr>
              <td>{{item.buildingDescription}}</td>
              <td style="text-align: right;">{{item.riskSi | number}}</td>
              <!-- <td style="text-align: right;">{{item.premium | number}}</td> -->
              <td style="text-align: right;">{{item.totalPremium | number}}</td>
              <!-- <td>
                <span class="text-primary" style="text-decoration: underline;white-space: nowrap;cursor: pointer;"
                  (click)="createPolicyBtn(item)">Other Info</span>
              </td> -->
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Risk Detail Information</h3>
    </div>
  </div>
  <div class="card-body customer-card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center fire-table">
        <thead>
          <tr>
            <th>
              {{"TABLE.Building Description" | translate}}
            </th>
            <th>
              {{"TABLE.Type of Building" | translate}}
            </th>
            <th>
              {{"TABLE.Occupation of Building" | translate}}
            </th>
            <th>
              {{"TABLE.Building Class" | translate}}
            </th>
            <th>
              {{"TABLE.Total Square Feet" | translate}}
            </th>
            <th>
              {{"TABLE.Year of Construction" | translate}}
            </th>
            <th>
              {{"TABLE.Proposed Building SI" | translate}}
            </th>
            <th>
              {{"TABLE.Proposed Furniture" | translate}}
            </th>
            <th>
              {{"TABLE.Proposed Machinery SI" | translate}}
            </th>
            <th>
              {{"TABLE.Proposed Stock SI" | translate}}
            </th>
            <th>
              {{"TABLE.Total SI" | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of listData;">
            <tr>
              <td>{{data.buildingDescription}}</td>
              <td>{{data.typeOfBuildingValue}}</td>
              <td>{{data.occupationOfBuildingValue}}</td>
              <td>{{data.buildingClassValue}}</td>
              <td>{{data.totalSquareFoot}}</td>
              <td>{{data.yearOfConstruction}}</td>
              <td>{{data.buildingSi | number:'1.2-2' }}</td>
              <td>{{data.proposedFurniture | number:'1.2-2' }}</td>
              <td>{{data.proposedMachinerySI | number:'1.2-2' }}</td>
              <td>{{data.proposeStockValue | number:'1.2-2' }}</td>
              <td>{{data.riskSi | number:'1.2-2' }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Additional Cover Information</h3>
    </div>
  </div>
  <div class="card-body customer-card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center fire-table">
        <thead>
          <tr>
            <th class="field-col">
              {{"TABLE.Building Description" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Fire Premium" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.STHTC" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Impact Damage" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.RSMD" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Burglary" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Air Craft Damage" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.EQ" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Spontaneous Combus" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Subsidence and Landslid" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.War Risk" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Explosion" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Flood and Inundate" | translate }}
            </th>
            <th class="field-col">
              {{"TABLE.Total Premium" | translate }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="addOnData.length>0">
          <ng-container *ngFor="let data of addOnData;">
            <tr>
              <td>{{data.description}}</td>
              <td>{{data.firepremium || 0 | number:'1.2-2' }}</td>
              <td>{{data.STHTC | number:'1.2-2' }}</td>
              <td>{{data.IMPD | number:'1.2-2' }}</td>
              <td>{{data.RSMD | number:'1.2-2' }}</td>
              <td>{{data.BURGLARY | number:'1.2-2' }}</td>
              <td>{{data.ACD | number:'1.2-2' }}</td>
              <td>{{data.EQ | number:'1.2-2' }}</td>
              <td>{{data.SPONTCOMB | number:'1.2-2' }}</td>
              <td>{{data.SUBLSLD | number:'1.2-2' }}</td>
              <td>{{data.WARRISK | number:'1.2-2' }}</td>
              <td>{{data.EXPLOSION | number:'1.2-2' }}</td>
              <td>{{data.FLOOD | number:'1.2-2' }}</td>
              <td>{{data.premium | number:'1.2-2' }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>