@import "../../../assets/sass/pages/login/login-1.scss";

:host {
  height: 100%;
}

.change-language {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;

  img {
    width: 40px;
  }
}

#kt_login {
  background-color: #005991 !important;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center bottom 5%, right bottom;
  // background-size: 40% 55%, 22% 20%;
  background-size: 36% 50%,19% 17%, 26% 49%;

}
.ptb-05 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

@media (max-width: 740px) and (max-height: 819px) {
  #kt_login {
    background-size: 32% 52%, 22% 17%;
  }

  .f-center {
    margin-top: 5% !important;
  }
}

@media (max-width: 1100px) and (min-height: 650px) {
  #kt_login {
    background-size: 36% 49%,23% 16% ,29% 52%;
  }

  .f-center {
    margin-top: 27% !important;
  }
}

@media (min-width: 741px) and (max-width: 1009px) {
  #kt_login {
    background-size: 33% 50%,21% 17%,27% 53%;
  }
  .f-center{
    margin-top: 7%;
  }
}
@media (min-width: 1460px) and (max-width: 1540px) {
  #kt_login {
    background-size: 29% 52%,19% 17%,26% 54%;
  }
  .f-center{
    margin-top: 21%;
  }
}

@media (min-width: 1460px) and (max-width: 1540px) {
  #kt_login {
    background-size: 29% 52%,19% 17%,26% 54%;
  }
  .f-center{
    margin-top: 21%;
  }
}

@media (min-height: 701px) and (min-height: 780px) {
  #kt_login {
    background-position: left bottom, bottom 5%, right 85%;
  }

  .f-center {
    justify-content: center;
    align-items: center;
  }
}

@media (min-height: 820px) {
  #kt_login {
    background-position: left bottom, bottom 5%, right 75%;
  }

  .f-center {
    justify-content: center;
    align-items: center;
  }
}