<div class="moter-print">

  <div class="sign-row">
    <div class="sign-box">
      <label>DATE</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>PROPOSER SIGNATURE</label>
      <div class="sign-area"></div>
    </div>
  </div>

  <div class="sign-row">
    <div class="sign-box">
      <label>NRC</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>Date of Birth</label>
      <div class="sign-area"></div>
    </div>
  </div>

</div>