.title-style {
  font-size: 1.5rem;
  background-color: #85bceb52;
  text-align: center;
  padding: 5px;
}

.line-space {
  font-size: 12pt;
  line-height: 30px;
  margin-left: 5px;
}

table td {
  border: 1px solid #005f99eb;
  border-collapse: collapse;
}

.field-header {
  text-align: center !important;
  padding: 5px 5px;
  font-size: 12pt;
  background-color: #e9f8fe;
}

.field-value,
.field-label {
  text-align: center !important;
  padding: 5px 5px;
  font-size: 12pt;
}

.field-value-number {
  text-align: right !important;
  padding: 5px 5px;
  font-size: 12pt;
}

.declare-title {
  margin-left: 10px;
  font-size: 1.5rem;
}

.declare-p{
  font-size: 12pt;
  text-align: justify;
}

.notice{
  color: red;
}

.sign-row {
  display: flex;
  justify-content: space-between;
  font-size: 12pt;

  .sign-area {
    width: 140px;
    height: 80px;
    border-bottom: 1px #000 dashed;
  }

  .sign-date {
    padding-top: 50px;
  }
}