

<div class="addon-print" *ngIf="policyHolder">
  <div class="title-style mt-5 mb-3">Policyholder</div>
  <div class="row" >
    <div class="col-sm-3 text-bold">
      Name
    </div>
    <div class="col-sm-6">
      {{policyHolder.title}} {{policyHolder.firstName}}{{policyHolder.middleName}}{{policyHolder.lastName}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      ID
    </div>
    <div class="col-sm-6">
    {{policyHolder.cprNumber}} 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Date of Birth
    </div>
    <div class="col-sm-6">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Mobile
    </div>
    <div class="col-sm-6">
      {{policyHolder.partyAddress[0].mobileNo}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Email
    </div>
    <div class="col-sm-6">
      {{policyHolder.partyAddress[0].eMailId}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Address
    </div>
    <div class="col-sm-6">
      {{policyHolder.partyAddress[0].address1}}/{{policyHolder.partyAddress[0].address2}}/{{policyHolder.partyAddress[0].address3}}/{{policyHolder.partyAddress[0].city}}/{{policyHolder.partyAddress[0].district}}/{{policyHolder.partyAddress[0].state}}
    </div>
  </div>
  
</div>

<div class="addon-print">
  <div class="title-style mt-5 mb-3">Policy Information Detail</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Policy Effective Date
      </td>
      <td class="value-col">{{motorDetail.mPeriodOfInsuranceFrom | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Policy Expiry Date
      </td>
      <td class="value-col">{{motorDetail.mPeriodOfInsuranceTo | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Policy Duration Days
      </td>
      <td class="value-col">{{motorDetail.policyDuration}} Days</td>
    </tr>
    <tr>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Currency</td>
      <td class="value-col" colspan="10">{{motorDetail.currency}}</td>
     
    </tr>
  </table>
</div>


<div class="addon-print">
  <div class="title-style mt-5 mb-3">Risk Detail Information</div>
  <table class="tbody-align">
    <tr>
      <td class="field-col">
        Vehicle No. 
      </td>
      <td class="field-col">
        Make/ Model
      </td>
      <td class="field-col">
        CC/ Tonnage
      </td>
      <td class="field-col">
        Year of Manufacture
      </td>
      <td class="field-col">
       Type of Vehicle
      </td>
      <td class="field-col">
        Type of Coverage 
      </td>
      <td class="field-col">
        Excess
      </td>
      <td class="field-col">
        Windscreen SI
      </td>
      <td class="field-col">
        Total SI
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of listData;">
        <tr>
          <td class="field-value">{{data.vehicleNo}}</td>
          <td class="field-value">{{data.model}}</td>
          <td class="field-value">{{data.tonnage}}</td>
          <td class="field-value">{{data.yearOfManufacture}}</td>
          <td class="field-value">{{data.typeOfVehicle}}</td>
          <td class="field-value">{{data.typeOfCoverage}}</td>
          <td class="field-value">{{data.excess}}</td>
          <td class="field-value">{{data.windscreenSI}}</td>
          <td class="field-value">{{data.totalSI | number}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>





<div class="addon-print">
  <div class="title-style mt-5 mb-3">Basic Cover Information</div>
  <table class="tbody-align">
    <tr>
      <td class="field-col">
        OD
      </td>
      <td class="field-col">
        Thrid Party
      </td>
      <td class="field-col">
        SRCC
      </td>
      <td class="field-col">
        Wind Screen
      </td>
      <td class="field-col">
        Total Premium of Basic Cover 
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of listData;">
        <tr>
          <td class="field-value">{{data.OD}}</td>
          <td class="field-value">{{data.thirdParty}}</td>
          <td class="field-value">{{data.srcc}}</td>
          <td class="field-value">{{data.windScreen}}</td>
          <td class="field-value">{{data.totalPremiumofBasicCover}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>






<div class="addon-print">
  <div class="title-style  mt-5 mb-3">Additional Cover Information</div>
  <table class="tbody-align">
    <tr>
      <td class="field-col">
        War Risk
      </td>
      <td class="field-col">
        Act of God
      </td>
      <td class="field-col">
        Theft
      </td>
      <td class="field-col">
        No Betterment Endorsement
      </td>
      <td class="field-col">
        Cross Border
      </td>
      <td class="field-col">
        Loss of Luggage
      </td>
      <td class="field-col">
        Medical Expense
      </td>
      <td class="field-col">
        Passenger Liability  
      </td>
      <td class="field-col">
        Paid Driver 
      </td>
      <td class="field-col">
        Excess 
      </td>
      <td class="field-col">
        Total Premium of Additional Cover  
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of listData;">
        <tr>
          <td class="field-value">{{data.warRisk}}</td>
          <td class="field-value">{{data.actOfGod}}</td>
          <td class="field-value">{{data.theft}}</td>
          <td class="field-value">{{data.noBettermentEndorsement}}</td>
          <td class="field-value">{{data.crossBorder}}</td>
          <td class="field-value">{{data.lossOfLuggage}}</td>
          <td class="field-value">{{data.medicalExpense}}</td>
          <td class="field-value">{{data.passengerLiability}}</td>
          <td class="field-value">{{data.paidDriver}}</td>
          <td class="field-value">{{data.excess}}</td>
          <td class="field-value">{{data.totalPremium}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="addon-print">
  <div class="title-style mt-5 mb-3">Insurance Detail</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Total SI</td>
      <td class="value-col" colspan="4">{{motorDetail.mTotalRiskSi}}</td>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Total Premium</td>
      <td class="value-col" colspan="4">{{motorDetail.mVehicleSi}}</td>
    </tr>
  </table>
</div>


<div class="addon-print">
  <div class="row">
    <div class="title-style text-bold mt-5 mb-3">Declaration By Proposer</div>
  </div>
  <div class="row">
    <div class="col">
       <p>I hereby declare that the statements made by me in this Proposal are true to the best of my knowledge and belief and I hereby agree that this declaration  shall from  the basic of the contract between me and KBZ MS Insurance Co.,Ltd. in the event of the Proposal being accepted</p>
    </div>
  </div>
</div>



<div class="moter-print">

  <div class="sign-row">
    <div class="sign-box">
      <label>DATE</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>PROPOSER SIGNATURE</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>
</div>