<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Fire Risk</h3>
        </div>
    </div>
    <div class="card-body customer-card-body">

        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center">
                <thead>
                    <tr>
                        <th>{{"FORM.building_description" | translate}}</th>
                        <th>{{"FORM.type_of_building" | translate}}</th>
                        <th>{{"FORM.building_occupation" | translate}}</th>
                        <th>{{"FORM.class" | translate}}</th>
                        <th>{{"FORM.premium_rate" | translate}}</th>
                        <th>{{"FORM.action" | translate}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="surrounding.length>0">
                    <tr *ngFor="let data of surrounding">
                        <th>
                            {{data.buildingDescription}}
                        </th>
                        <th>
                            {{data.typeOfBuilding}}
                        </th>
                        <th>
                            {{data.occupationOfBuilding}}
                        </th>
                        <th>
                            {{data.buildingClass}}
                        </th>
                        <th>
                            {{data.premiumRate}}
                        </th>
                        <th>
                            <a title="Edit Form Page" class="btn btn-primary btn-cus btn-sm mx-1" (click)="onActionView(data,'edit')">
                                <span class="flaticon-edit"></span>
                            </a>
                            <a title="Delete Form Page" class="btn btn-primary btn-cus btn-sm mx-1" (click)="onActionView(data,'delete')">
                                <span class="flaticon-delete"></span>
                            </a>
                        </th>
                    </tr>
                </tbody>


            </table>
        </div>
    </div>