<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label left-border-image">By Agent Weekly</h3>
                </div>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;"
                        (click)="getAllReports()">
                        <span class="flaticon2-magnifier-tool"></span>
                    </button>
                    <button type="button" [disabled]="!isData" (click)="generateReportExcel()"
                        class="btn btn-primary ml-2" style="min-width: 50px;">
                        <span class="">Generate</span>
                    </button>
                    <button type="button" (click)="cancelReport()" class="btn btn-primary ml-2"
                        style="min-width: 50px;">
                        <span class="">Cancel</span>
                    </button>
                </div>
            </div>
            <div class="card-body px-10 py-3">
                <form action="#" class="form" [formGroup]="createFormGroup">
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-6 from-date">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">From Date</label>
                                <div class="col-sm-6 input-date">
                                    <input type="text" readonly class="form-control form-control-sm"
                                        formControlName="fromDate" [min]="fromMinDate" [max]="fromMaxDate"
                                        [matDatepicker]="picker1" (dateChange)="doValid('FromDate')" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                                </div>
                                <button type="button" style="margin: 0 !important;" (click)="clearDate('FromDate')"
                                    class="btn btn-primary btn-elevate mx-2">Clear</button>
                            </div>
                        </div>
                        <div class="col-sm-6 from-date">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">To Date</label>
                                <div class="col-sm-6 input-date">
                                    <input type="text" readonly class="form-control form-control-sm"
                                        formControlName="toDate" [min]="fromMinDate" [max]="fromMaxDate"
                                        [matDatepicker]="picker" (dateChange)="doValid('ToDate')" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                </div>
                                <button type="button" style="margin: 0 !important;" (click)="clearDate('ToDate')"
                                    class="btn btn-primary btn-elevate mx-2">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;"
                        *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                        <div class="col-sm-6"
                            *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Company</label>
                                <div class="col-sm-8">
                                    <ng-select class="ng-custom-select" placeholder="Please Select"
                                        (change)="changeOptions($event, 'channel')" [items]="selectOptions.companies"
                                        bindLabel="name" bindValue="id" formControlName="companyId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Channel</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.channels.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'region')"
                                        [items]="selectOptions.channels" bindLabel="name" bindValue="id"
                                        formControlName="channelId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;"
                        *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Region</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.regions.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'cluster')"
                                        [items]="selectOptions.regions" bindLabel="name" bindValue="id"
                                        formControlName="regionId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Cluster</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.cluster.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'branch')"
                                        [items]="selectOptions.cluster" bindLabel="name" bindValue="id"
                                        formControlName="clusterId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center;"
                        *ngIf="createFormGroup.value.fromDate != '' && createFormGroup.value.toDate != '' ">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Branch</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.branches.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'agent')"
                                        [items]="selectOptions.branches" bindLabel="name" bindValue="id"
                                        formControlName="branchId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Agent Name</label>
                                <div class="col-sm-8">
                                    <ng-select [readonly]="selectOptions.agents.length == 0 " class="ng-custom-select"
                                        placeholder="Please Select" (change)="changeOptions($event, 'office')"
                                        [items]="selectOptions.agents" bindLabel="agentName" bindValue="agentId"
                                        formControlName="agentId">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="isData">
    <div class="col-12">
        <div style="width: 100%;
        overflow: hidden; position: relative;">
            <div style="width: 40%;float: left; position: relative;">
                <br *ngIf="createFormGroup.value.agentId">
                <br *ngIf="createFormGroup.value.companyId">
                <br *ngIf="createFormGroup.value.channelId">
                <br *ngIf="createFormGroup.value.regionId">
                <br *ngIf="createFormGroup.value.clusterId">
                <br *ngIf="createFormGroup.value.branchId">
                <h3 class="card-label left-border-image" style="font-size: 1.15rem;">{{ title }}</h3>
            </div>
            <div style="width: 30%; float: left; position: relative;">
                <br *ngIf="createFormGroup.value.agentId">
                <br *ngIf="createFormGroup.value.companyId">
                <br *ngIf="createFormGroup.value.channelId">
                <br *ngIf="createFormGroup.value.regionId">
                <br *ngIf="createFormGroup.value.clusterId">
                <br *ngIf="createFormGroup.value.branchId">
                <div>
                    <span *ngIf="createFormGroup.value.fromDate">From Date: {{
                        formatDateDDMMYYY(createFormGroup.value.fromDate) }} </span>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <span *ngIf="createFormGroup.value.toDate">To Date: {{
                        formatDateDDMMYYY(createFormGroup.value.toDate) }}</span>
                </div>
            </div>
            <div class="search-display">
                <br *ngIf="createFormGroup.value.agentId">
                <br *ngIf="createFormGroup.value.companyId">
                <span *ngIf="createFormGroup.value.agentId">Agent: {{ agentName }} </span>
                <span *ngIf="createFormGroup.value.companyId">Company: {{ companyName }} </span>
                <span *ngIf="createFormGroup.value.channelId">Channel: {{ channelName }} </span>
                <span *ngIf="createFormGroup.value.regionId">Region: {{ regionName }} </span>
                <span *ngIf="createFormGroup.value.clusterId">Cluster: {{ clusterName }} </span>
                <span *ngIf="createFormGroup.value.branchId">Branch: {{ branchName }}</span>
            </div>
        </div>
        <div style="width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;">
            <table border="1">
                <tr style="border-top: 1px solid #000;" *ngIf="productList.length > 0">
                    <th colspan="4"></th>
                    <th *ngFor="let product of productList; let i = index">{{ product.headerWeekRange }}</th>
                </tr>
                <tr>
                    <th>Agent Name</th>
                    <th>Branch Name</th>
                    <th>Activities Name</th>
                    <th>Target</th>
                    <th *ngFor="let product of productList; let i = index">{{ product.headerWeekName }}</th>
                </tr>
                <tr *ngFor="let data of dataList; let i = index">
                    <td>{{ data.agentName }}</td>
                    <td>{{ data.branchName }}</td>
                    <td>{{ data.activitiesName }}</td>
                    <td>{{ data.totalTargetValue }}</td>
                    <td *ngFor="let daily of dataList[i].productDataList; let j = index; ">{{ daily.weeklyValue }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div *ngIf="!isData" style="color: gray; text-align: center;"> There is no data </div>