<div class="title">
    <form action="#" class="form" [formGroup]="formGroup">
        <h3 class="card-label left-border-image ">Education Savings</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-12" style="padding-left: 26px; margin: 5px 0 10px 0;">Information on children's age and
                    university years
                    collected earlier</div>
            </div>
        </div>

        <div class="row">
            <h4 class="col-4 sub-title">Child {{ selectedIndex + 1 }}</h4>
            <a class="col-1 delete" *ngIf="selectedIndex > 0" (click)="deleteDeleteById()">Delete</a>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" style="padding-top: 1rem;">{{"FORM.child_name" | translate}}</label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="actualDateStr" autocomplete="off"
                        formControlName="childName">
                </div>
            </div>
        </div>
        <div class="row" style="padding: 5px 0px;">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" style="padding-top: 1rem;">{{"FORM.date_of_birth" | translate}} <span>*</span></label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" readonly class="form-control form-control-sm date-input"
                            formControlName="dateOfBirth" [min]="fromMinDate" [max]="fromMaxDate"
                            [matDatepicker]="picker" (dateChange)="doValid()" autocomplete="off"
                            [class.is-invalid]="isControlInvalid('dateOfBirth')"
                            [class.is-valid]="isControlValid('dateOfBirth')">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </div>

                </div>
            </div>
            <div class="col-2" style="padding: 0;">
                <button type="button" style="width: auto;
                float: left;
                margin: 0 !important;" (click)="clearDOB()" class="btn btn-primary btn-elevate mx-2">{{"FORM.btn_clear"
                    | translate}}</button>
            </div>
        </div>
        <div class="row" style="padding: 5px 0px;">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" style="padding-top: 1rem;">{{"FORM.higher_education" | translate}}</label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <mat-radio-group formControlName="highEducation">
                        <mat-radio-button class="example-margin" value="bachelor">Bachelor</mat-radio-button>
                        <mat-radio-button class="example-margin" value="master">Master</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 5px 0px;">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" style="padding-top: 1rem;">{{"FORM.sum_insured" | translate}} <span>*</span></label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <input type="text" (keyup)="updateCommaInput($event, 'sumAssured')"
                        class="form-control form-control-sm" name="sumAssured" autocomplete="off"
                        [class.is-invalid]="isControlInvalid('sumAssured')"
                        [class.is-valid]="isControlValid('sumAssured')" formControlName="sumAssured"
                        (ngModelChange)="calculateEducationExpense($event)" [readonly]="!formGroup.value.dateOfBirth">
                </div>
                <div class="error-message" *ngIf="isSumAssured">Sum Assured must be between 5,000,000 and 100,000,000</div>
                <div class="error-message" *ngIf="isCustomerAge">Customer age must be between 18 and 56 years</div>
            </div>
        </div>
        <div class="row" style="padding: 5px 0px;">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label" style="padding-top: 1rem;">{{"FORM.education_expenses" | translate}}</label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <input type="text" readonly class="form-control form-control-sm" name="educationExpense"
                        autocomplete="off" formControlName="educationExpense">
                </div>
            </div>
        </div>

        <div class="btn-about">
            <button type="button" *ngIf="selectedIndex == 0 && educations.length > 0"
                class="btn btn-primary btn-elevate mx-2" style="margin-bottom: 10px;" (click)="viewAll()">{{"FORM.view_all"|translate}}</button>
            <button type="button" *ngIf="selectedIndex >= 0" class="btn btn-primary btn-elevate mx-2"
                (click)="backToStartAction()" style="width: auto; margin-bottom: 10px;">{{"FORM.back_main_page"|translate}}</button>
            <button type="button" *ngIf="selectedIndex > 0" class="btn btn-primary btn-elevate mx-2"
                (click)="backAction()" style="margin-bottom: 10px;">{{"FORM.btn_back" | translate }}</button>
            <button type="button" (click)="saveEducation()" class="btn btn-primary btn-elevate mx-2"
                style="margin-bottom: 10px;">{{"FORM.btn_save" | translate }}</button>
            <button type="button" [disabled]="!formGroup.value.id" *ngIf="selectedIndex + 1 >= nextCount"
                (click)="addChild('add')" class="btn btn-primary btn-elevate mx-2"
                style="width: auto; margin-bottom: 10px;">{{"FORM.add_child" | translate}}</button>
            <button type="button" [disabled]="!formGroup.value.id" *ngIf="selectedIndex + 1 < nextCount"
                (click)="addChild('next')" class="btn btn-primary btn-elevate mx-2"
                style="margin-bottom: 10px;">{{"FORM.btn_next" | translate }}</button>
        </div>
    </form>
</div>