<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
            Travel
        </div>

    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <div class="toggle-box" *ngIf="prodDetailForm">
            <div class="toggle-header">
                <h4 class="left-border-image">{{prodDetailForm.pageTitle}}</h4>
                <div class="tool-box">
                    <button type="button" *ngIf="activeBox=='DETAIL'" class="icon" (click)="toggleAccordion('DETAIL')">
                        <span class="flaticon2-back"></span>
                    </button>
                    <button type="button" *ngIf="activeBox!='DETAIL'" class="icon ml-2"
                        (click)="toggleAccordion('DETAIL')">
                        <span class="flaticon2-down"></span>
                    </button>
                </div>
            </div>
            <div class="toggle-body" [ngClass]="activeBox=='DETAIL' ? 'active' : 'inactive'">
                <dynamic-form #dynForm [tempData]="tempData['travelDetail'] || {}" [config]="prodDetailForm.controls"
                    (submit)="saveDetailTemp($event)" [editStage]="false">
                </dynamic-form>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-elevate" (click)="saveData(dynForm,prodDetailForm)">{{"FORM.btn_next" | translate }}</button>
                </div>
            </div>

            <!--  -->
        </div>

        <div class="toggle-box" *ngIf="travelerForm">
            <div class="toggle-header">
                <h4 class="left-border-image">{{travelerForm.pageTitle}}</h4>
                <div class="tool-box">
                    <button type="button" [disabled]="!stepData.step1" *ngIf="activeBox=='TRAVELER'" class="icon"
                        (click)="toggleAccordion('TRAVELER')">
                        <span class="flaticon2-back"></span>
                    </button>
                    <button type="button" [disabled]="!stepData.step1" *ngIf="activeBox!='TRAVELER'" class="icon ml-2"
                        (click)="toggleAccordion('TRAVELER')">
                        <span class="flaticon2-down"></span>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="stepData.step1">
                <div class="toggle-body" [ngClass]="activeBox=='TRAVELER' ? 'active' : 'inactive'">
                    <dynamic-form #dynFormTraveler [tempData]="tempData['traveler'] || {}"
                        [config]="travelerForm.controls" (submit)="saveTravelerTemp($event)" [editStage]="false">
                    </dynamic-form>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-elevate"
                            (click)="saveData(dynFormTraveler,travelerForm)">{{"FORM.btn_next" | translate }}</button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="toggle-box" *ngIf="benefiForm">
            <div class="toggle-header">
                <h4 class="left-border-image">{{benefiForm.pageTitle}}</h4>
                <div class="tool-box">
                    <button type="button" [disabled]="!stepData.step2" *ngIf="activeBox=='BENEFI'" class="icon"
                        (click)="toggleAccordion('BENEFI')">
                        <span class="flaticon2-back"></span>
                    </button>
                    <button type="button" [disabled]="!stepData.step2" *ngIf="activeBox!='BENEFI'" class="icon ml-2"
                        (click)="toggleAccordion('BENEFI')">
                        <span class="flaticon2-down"></span>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="stepData.step2">
                <div class="toggle-body" [ngClass]="activeBox=='BENEFI' ? 'active' : 'inactive'">
                    <div class="form-group">
                        <!-- <button type="button" class="btn btn-default" (click)="reset()">Reset Data</button> -->
                        <button type="button" class="btn btn-primary mx-2" (click)="newData()">{{"FORM.add_new_data" | translate }}</button>
                      </div>
                      <hr>
                      <div class="table-responsive angular-bootstrap-table">
                        <table class="table table-head-custom table-vertical-center">
                          <thead>
                            <tr>
                              <th>{{"TABLE.No" | translate}}</th>
                              <ng-container *ngFor="let item of tableReform">
                                <th>{{"TABLE."+item.title | translate}}</th>
                              </ng-container>
                              <th>{{"TABLE.Action" | translate}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="tempData['benefi']">
                              <tr
                                *ngFor="let item of tempData['benefi'];let i = index">
                                <td>{{i+1}}</td>
                                <ng-container *ngFor="let control of tableReform">
      
                                  <td *ngIf="control.type != 'file'">{{ getOtherData(control.cols,item)}}</td>
                                  <td *ngIf="control.type == 'file'">
                                    <a href="javascript:;" (click)="download(control.cols,item)">
                                      {{getOtherData(control.cols,item)}}
                                    </a>
                                  </td>
                                </ng-container>
                                <td style="white-space: nowrap;">
                                  <a title="Edit Data" class="btn btn-icon btn-light btn-hover-danger btn-sm mx-1"
                                    (click)="newData(item,i)">
                                    <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" [cacheSVG]="true"
                                      class="svg-icon svg-icon-md svg-icon-primary">
                                    </span>
                                  </a>
                                  <a title="Delete UI" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                                    (click)="deleteData(i,item)">
                                    <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" [cacheSVG]="true"
                                      class="svg-icon svg-icon-md svg-icon-danger">
                                    </span>
                                  </a>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                      <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-elevate"
                            (click)="nextCover()">{{"FORM.btn_next" | translate }}</button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="toggle-box">
            <div class="toggle-header">
                <h4 class="left-border-image">Cover Details</h4>
                <div class="tool-box">
                    <button type="button" [disabled]="!stepData.step3" *ngIf="activeBox=='COVER'" class="icon"
                        (click)="toggleAccordion('COVER')">
                        <span class="flaticon2-back"></span>
                    </button>
                    <button type="button" [disabled]="!stepData.step3" *ngIf="activeBox!='COVER'" class="icon ml-2"
                        (click)="toggleAccordion('COVER')">
                        <span class="flaticon2-down"></span>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="stepData.step3">
                <div class="toggle-body" [ngClass]="activeBox=='COVER' ? 'active' : 'inactive'">
                    <app-coverage-page [product]="product" [isPopup]="true" [optionId]="oldData.id" [editData]="editData"
                        [resourcesId]="resourceId"(actionEvent)="coverDone()"></app-coverage-page>
                </div>
            </ng-container>
        </div>

    </div>
    <div class="modal-footer">
        <!-- [disabled]="validCancel" -->
        <button type="button" class="btn btn-light btn-elevate mr-2" 
            (click)="closeModal()">{{"FORM.btn_cancel" | translate }}</button>
        <button type="button" class="btn btn-primary btn-elevate" [disabled]="!stepData.step4 && isApplication"
            (click)="calPremimun()">{{"FORM.btn_save" | translate }}</button>
    </div>
</div>