<div class="customer">    
    <div>
        <label style="font-weight: bold;line-height: 25px;">FNA ID</label>
        <label>{{ passValueData.fnaId }}</label>
    </div>
    <div>
        <label style="font-weight: bold;line-height: 25px;">{{"FORM.lead_id" | translate }}</label>
        <label>{{ passValueData.leadId }}</label>
    </div>
    <div>
        <label style="font-weight: bold;line-height: 25px;">{{"FORM.customer_name" | translate }}</label>
        <label>{{ passValueData.customerName }}</label>
    </div>
    <div>
        <label style="font-weight: bold;line-height: 25px;">{{"FORM.date" | translate}}</label>
        <label>{{ passValueData.createdAt }}</label> 
    </div>
</div>


<div [ngSwitch]="fnaSwitch">
    <div class="row btn-bram-group">
        <button type="button" class="btn col-3" 
            [ngStyle]="{'background-color': fnaSwitch === 'aboutBRAM' ? '#005f99' : '#A6A6A6' }">{{"FORM.about_bpm" | translate}}</button>
        <button type="button" class="btn col-3"
            [ngStyle]="{'background-color': fnaSwitch === 'inputs' ? '#005f99' : '#A6A6A6' }">{{"FORM.input" | translate}}</button>
        <button type="button" class="btn col-3"
            [ngStyle]="{'background-color': fnaSwitch === 'outputs' ? '#005f99' : '#A6A6A6' }">{{"FORM.output" | translate}}</button>
        <button type="button" class="btn col-3"
            [ngStyle]="{'background-color': fnaSwitch === 'product' ? '#005f99' : '#A6A6A6' }">{{"FORM.product_recommendation" | translate}}</button>
    </div>
    <div class="fna-bram">
        <app-about-bram [fnaId]="fnaId" *ngSwitchDefault (changeSwitch)="fnaBramEvent($event)"></app-about-bram>
        <app-inputs [fnaId]="fnaId" *ngSwitchCase="'inputs'" (changeSwitch)="fnaBramEvent($event)"></app-inputs>
        <app-outputs [fnaId]="fnaId" *ngSwitchCase="'outputs'" (changeSwitch)="fnaBramEvent($event)"></app-outputs>
        <app-product [fnaId]="fnaId" [passValueData]="passValueData" *ngSwitchCase="'product'"
            (changeSwitch)="fnaBramEvent($event)"></app-product>
    </div>
</div>