<!-- <button type="button" class="btn btn-outline-primary mt-5" style="position:absolute; top:0px;"
    (click)="createPdf()">Generate</button> -->
<div class="addon-print" *ngIf="policyHolder">
    <div class="title-style text-bold mt-5 mb-3">Policyholder Information Details</div>
    <div class="row form-txt line-sp" style="padding-top:10px;">
        <div class="col-sm-3 text-bold">
            Name
        </div>
        <div class="col-sm-6">
            {{policyHolder.titleValue}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            ID
        </div>
        <div class="col-sm-6">
            {{policyHolder.idType}} - {{policyHolder.cprNumber}}
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Date of Birth
        </div>
        <div class="col-sm-6">
            {{policyHolder.dateOfBirth}}
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Mobile
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].mobileNo}}
            </ng-container>
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Email
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].eMailId}}
            </ng-container>
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Address
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].address1}} , {{policyHolder.partyAddress[0].address2}} ,
                {{policyHolder.partyAddress[0].address3}} , {{policyHolder.townshipName}} ,
                {{policyHolder.districtName}} , {{policyHolder.stateName}}
            </ng-container>
        </div>
    </div>

</div>

<div class="addon-print">
    <div class="title-style text-bold mt-5 mb-5">Policy Information Details</div>
    <table width="100%">
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;">
                Policy Effective Date
            </td>
            <td class="field-pd">{{policyInfo.policyInceptionDate | date: 'dd/MM/YYYY'}}</td>
            <td class="field-col" style="background-color:#e9f8fe;">
                Policy Expiry Date
            </td>
            <td class="field-pd">{{policyInfo.policyExpiryDate | date: 'dd/MM/YYYY'}}</td>
            <td class="field-col" style="background-color:#e9f8fe;">
                Policy Duration
            </td>
            <td class="field-pd">{{policyInfo.policyDurationValue}}</td>
        </tr>
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;">
                Travel Plan
            </td>
            <td class="field-pd" colspan="2">{{policyInfo.travelPlanValue}}</td>
            <td class="field-col" style="background-color:#e9f8fe;">
                Currency
            </td>
            <td class="field-pd" colspan="2">{{policyInfo.currency || "MMK"}}</td>
        </tr>
        <!-- <tr>
            <td class="field-col" style="background-color:#e9f8fe;">
                No. of Traveler
            </td>
            <td class="field-pd" colspan="10">{{numberOfTraveller}}</td>
        </tr>
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;">
                Vehicle Information
            </td>
            <td class="field-value" colspan="10">
                <div *ngFor="let data of riskInfo; let i=index">
                    {{data.travelDetail?data.travelDetail.vehicleTypeValue:""}}
                    {{data.travelDetail? data.travelDetail.vehicleNo :""}}{{i+1==riskInfo.length?'':','}} </div>
            </td>

        </tr>
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;">
                Travel Area
            </td>
            <td class="field-value" colspan="10">
                <div *ngFor="let data of riskInfo; let i=index">
                    {{data.travelDetail.travelArea}}{{i+1==riskInfo.length?'':','}} </div>
            </td>
        </tr> -->
    </table>
</div>

<div class="addon-print">
    <div class="title-style text-bold mt-5 mb-5">Travel Information Details</div>
    <table class="tbody-align" width="100%">
        <tr>
            <td class="field-col">
                No.
            </td>
            <td class="field-col">
                No. of Traveler
            </td>
            <td class="field-col">
                Vehicle Information
            </td>
            <td class="field-col">
                Travel Area
            </td>
        </tr>
        <tbody class="tbody-align val-col">
            <ng-container *ngFor="let data of riskInfo; let i=index;">
                <tr>
                    <td class="field-pd">{{i+1}}</td>
                    <td class="field-pd">{{data.travelRisk.noOfTraveller}}</td>
                    <td class="field-pd"> {{data.travelDetail?data.travelDetail.vehicleTypeValue:""}}
                        {{data.travelDetail? data.travelDetail.vehicleNo :""}} </td>
                    <td class="field-pd">{{data.travelDetail.travelArea}}</td>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="addon-print">
    <div class="title-style text-bold mt-5 mb-5">Risk Information Details</div>
    <table class="tbody-align" width="100%">
        <tr>
            <td class="field-col">
                No.
            </td>
            <td class="field-col">
                Traveler Name
            </td>
            <td class="field-col">
                ID Type
            </td>
            <td class="field-col">
                ID Number
            </td>
            <!-- <td class="field-col">
                No. of Traveler
            </td>
            <td class="field-col">
                Vehicle Information
            </td> -->
            <td class="field-col">
                Insured Unit
            </td>
        </tr>
        <tbody class="tbody-align val-col">
            <ng-container *ngFor="let data of riskInfo; let i=index;">
                <tr>
                    <td class="field-value">{{i+1}}</td>
                    <td class="field-value">{{data.travelRisk.travellerName}}</td>
                    <td class="field-value">{{data.travelerDetail.idType}} </td>
                    <td class="field-value">{{data.travelerDetail.idType =='NRC'? data.travelerDetail.nrc
                        :data.travelerDetail.idNumber}}</td>
                    <!-- <td class="field-value">{{data.travelRisk.noOfTraveller}}</td>
                    <td class="field-value">{{data.travelDetail?data.travelDetail.vehicleTypeValue:""}}
                        {{data.travelDetail? data.travelDetail.vehicleNo:""}}</td> -->
                    <td class="field-value">{{data.travelRisk? data.travelRisk.insuredUnitValue:""}} -
                        {{data.travelRisk.insuredUnitValue == '1' ? "Unit":"Units"}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="addon-print" *ngIf="beneficiaries.length>0">
    <div class="title-style text-bold mt-5 mb-5">Beneficiaries Information Details</div>
    <table class="tbody-align" width="100%">
        <tr>
            <td class="field-col">
                Risk No.
            </td>
            <td class="field-col">
                No.
            </td>
            <td class="field-col">
                Name
            </td>
            <td class="field-col">
                Relationship
            </td>
            <td class="field-col">
                ID
            </td>
            <td class="field-col">
                Date of Birth
            </td>
            <td class="field-col">
                Share %
            </td>
        </tr>
        <tbody class="tbody-align val-col">

            <ng-container *ngFor="let data of tempArray; let no=index ">
                <ng-container *ngFor="let bene of data;let i=index">
                    <tr>
                        <td class="field-pd" *ngIf="i==0" [attr.rowspan]="data.length">{{no+1}}</td>
                        <td class="field-pd" *ngIf="i==0">{{i+1}}</td>
                        <td class="field-pd" *ngIf="i>=1">{{i+1}}</td>
                        <td class="field-pd">{{bene.beneficiaryName}}</td>
                        <td class="field-pd">{{bene.relationshipValue}}</td>
                        <td class="field-pd">{{bene.idType}} - {{bene.idType !='NRC' ? bene.idNumber : bene.nrc }}
                        </td>
                        <td class="field-pd">{{bene.dateOfBirth | date: 'dd/MM/YYYY' }}</td>
                        <td class="field-pd">{{bene.share}} % </td>
                    </tr>
                </ng-container>
            </ng-container>

        </tbody>
    </table>
</div>
<div class="pagebreak"> </div>
<div class="addon-print">
    <div class="title-style text-bold mt-5 mb-5">Insurance Information Details</div>
    <table width="100%">
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;">
                Total SI
            </td>
            <td class="value-col" colspan="4">{{totalSI || 0}} {{policyInfo.currency || "MMK"}}</td>
            <td class="field-col" style="background-color:#e9f8fe;">
                Total Premium
            </td>
            <td class="value-col" colspan="4">{{premiumAmt || 0}}</td>
        </tr>
    </table>
</div>

<div class="addon-print">
    <div class="row">
        <div class="text-bold mt-10 mb-5 ml-4" style="margin-left:10px;font-size: 1.5rem;">Declaration By Proposer</div>
    </div>
    <div class="row">
        <div class="col">
            <p style="font-size:12pt;">
                I hereby declare that the statements made by me in this Proposal are true to the best of my knowledge
                and belief and I hereby agree that this declaration shall from the basic of the contract between me and
                KBZMS General Insurance Co., Ltd. in the event of the Proposal being accepted.
            </p>
        </div>
    </div>
</div>

<div class="moter-print">
    <div class="sign-row mt-5">
        <div class="sign-box">
            <br>
            <label class="mt-2">Date</label>
            <div class="sign-area sign-date">{{signatureDate | date : "dd/MM/yyyy"}}</div>
        </div>
        <div class="sign-box">
            <label class="text-bold">PROPOSER'S NAME AND SIGNATURE</label>
            <br>
            <label> {{policyHolder.titleValue}} {{policyHolder.firstName}} {{policyHolder.middleName}}
                {{policyHolder.lastName}}</label>
            <div class="sign-area">
                <ng-container *ngIf="fileId">
                    <img [src]="DEFAULT_DOWNLOAD_URL+'?id='+fileId" alt="" class="sign-img">
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" *ngIf="isMobile">
    <button type="button" class="btn btn-outline-primary btn-elevate mr-2" (click)="createPdf()">Print</button>
    <button type="button" class="btn btn-outline-secondary btn-elevate mr-2" (click)="modal.dismiss()">Close</button>

</div>