<div class="addon-print" *ngIf="policyHolder">
    <div class="title-style text-bold mt-5 mb-3">Policy Holder</div>
    <div class="row form-txt line-sp" style="padding-top:10px;">
        <div class="col-sm-3 text-bold">
            Name
        </div>
        <div class="col-sm-6">
            {{policyHolder.title}}{{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            ID
        </div>
        <div class="col-sm-6">
            {{policyHolder.cprNumber}}
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Date of Birth
        </div>
        <div class="col-sm-6">
            {{policyHolder.dateOfBirth}}
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Mobile
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].mobileNo}}
            </ng-container>
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Email
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].eMailId}}
            </ng-container>
        </div>
    </div>
    <div class="row form-txt line-sp">
        <div class="col-sm-3 text-bold">
            Address
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].address1}}/{{policyHolder.partyAddress[0].address2}}/{{policyHolder.partyAddress[0].address3}}/{{policyHolder.townshipName}}/{{policyHolder.districtName}}/{{policyHolder.stateName}}
            </ng-container>
        </div>
    </div>

</div>

<div class="addon-print">
    <div class="title-style text-bold mt-5 mb-5">Policy Information Detail</div>
    <table width="100%">
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Policy Effective Date
            </td>
            <td class="value-col">{{policyInfo.policyInceptionDate | date: 'dd/MM/YYYY'}}</td>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Policy Expiry Date
            </td>
            <td class="value-col">{{policyInfo.policyExpiryDate | date: 'dd/MM/YYYY'}}</td>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Policy Duration
            </td>
            <td class="value-col">{{policyInfo.policyDurationValue}}</td>
        </tr>
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Travel Plan
            </td>
            <td class="value-col" colspan="2">{{policyInfo.travelPlanValue}}</td>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Currency
            </td>
            <td class="value-col" colspan="2">{{policyInfo.currency || "MMK"}}</td>
        </tr>
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                No. of Traveler
            </td>
            <td class="value-col" colspan="10">{{numberOfTraveller}}</td>
            <!-- <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Vehicle Information
            </td>
            <td class="value-col" colspan="2">{{policyInfo.vehicleInformation}}</td> -->
        </tr>
    </table>
</div>


<div class="addon-print">
    <div class="title-style text-bold mt-5 mb-5">Risk Detailed Information</div>
    <table class="tbody-align" width="100%">
        <tr>
            <td class="field-col">
                No.
            </td>
            <td class="field-col">
                Traveler Name
            </td>
            <td class="field-col">
                ID Type
            </td>
            <td class="field-col">
                ID Number
            </td>
            <td class="field-col">
                No. of Traveler
            </td>
            <td class="field-col">
                Vehicle Information
            </td>
            <td class="field-col">
                Insured Unit
            </td>
        </tr>
        <tbody class="tbody-align val-col">
            <ng-container *ngFor="let data of riskInfo; let i=index;">
                <tr>
                    <td class="field-value">{{i+1}}</td>
                    <td class="field-value">{{data.travelRisk.travellerName}}</td>
                    <td class="field-value">{{data.travelerDetail.idType}} </td>
                    <td class="field-value">{{data.travelerDetail.idType =='NRC'? data.travelerDetail.idNrc
                        :data.travelerDetail.idNumber}}</td>
                    <td class="field-value">{{data.travelRisk.noOfTraveller}}</td>
                    <td class="field-value">{{data.travelDetail?data.travelDetail.vehicleTypeValue:""}} -
                        {{data.travelDetail? data.travelDetail.vehicleNo:""}}</td>
                    <td class="field-value">{{data.travelRisk? data.travelRisk.insuredUnitValue:""}} - Units</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="addon-print">
    <div class="title-style text-bold mt-5 mb-5">Insurance Detail</div>
    <table width="100%">
        <tr>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Total SI
            </td>
            <td class="value-col" colspan="4">{{totalSI || 0}} - Units</td>
            <td class="field-col" style="background-color:#e9f8fe;color: #12609c;">
                Total Premium
            </td>
            <td class="value-col" colspan="4">{{premiumAmt || 0}}</td>
        </tr>
    </table>
</div>

<div class="addon-print">
    <div class="row">
        <div class="text-bold mt-10 mb-5 ml-4" style="margin-left:10px;font-size: 1.5rem;">Declaration By Proposer</div>
    </div>
    <div class="row">
        <div class="col">
            <p style="font-size:12pt;">
                I hereby declare that the statements made by me in this Proposal are true to the best of my knowledge
                and belief and I hereby agree that this declaration shall from the basic of the contract between me and
                KBZ MS Insurance Co., Ltd. in the event of the Proposal being accepted.
            </p>
        </div>
    </div>
</div>

<div class="moter-print">

    <div class="sign-row">
        <div class="sign-box">
            <label class="text-bold">DATE</label>
            <div class="sign-area"></div>
        </div>
        <div class="sign-box">
            <label class="text-bold">PROPOSER SIGNATURE</label>
            <div class="sign-area">
                <ng-container *ngIf="signId">
                    <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" class="sign-img">
                </ng-container>
            </div>
        </div>
    </div>


</div>