<div class="addon-print" *ngIf="policyHolder">
    <div class="title-style mt-5 mb-3">Policy Holder</div>
    <div class="row">
        <div class="col-sm-3 text-bold">
            Name
        </div>
        <div class="col-sm-6">
            {{policyHolder.title}}{{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-bold">
            ID
        </div>
        <div class="col-sm-6">
            {{policyHolder.cprNumber}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-bold">
            Date of Birth
        </div>
        <div class="col-sm-6">
            {{policyHolder.dateOfBirth}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-bold">
            Mobile
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].mobileNo}}
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-bold">
            Email
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].eMailId}}
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-bold">
            Address
        </div>
        <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
            <ng-container *ngIf="policyHolder.partyAddress.length > 0">
                {{policyHolder.partyAddress[0].address1}}/{{policyHolder.partyAddress[0].address2}}/{{policyHolder.partyAddress[0].address3}}/{{policyHolder.partyAddress[0].townshipName}}/{{policyHolder.districtName}}/{{policyHolder.stateName}}/{{policyHolder.cityName}}
            </ng-container>
        </div>
    </div>

</div>

<div class="addon-print">
    <div class="title-style mt-5 mb-3">Policy Information Detail</div>
    <table width="100%">
        <tr>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Policy Effective Date
            </td>
            <td class="value-col">{{policyInfo.startDate | date: 'dd/MM/YYYY'}}</td>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Policy Expiry Date
            </td>
            <td class="value-col">{{policyInfo.endDate | date: 'dd/MM/YYYY'}}</td>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Policy Duration
            </td>
            <td class="value-col">{{policyInfo.policyDuration}} Days</td>
        </tr>
        <tr>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Travel Plan
            </td>
            <td class="value-col" colspan="2">{{policyInfo.travelPlan}}</td>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Currency
            </td>
            <td class="value-col" colspan="2">{{policyInfo.currency}}</td>
        </tr>
        <tr>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                No. of Traveler
            </td>
            <td class="value-col" colspan="2">{{policyInfo.noOfTraveller}}</td>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Vehicle Information
            </td>
            <td class="value-col" colspan="2">{{policyInfo.vehicleInformation}}</td>
        </tr>
    </table>
</div>


<div class="addon-print">
    <div class="title-style mt-5 mb-3">Risk Detailed Information</div>
    <table class="tbody-align" width="100%">
        <tr>
            <td class="field-col">
                No.
            </td>
            <td class="field-col">
                Traveler Name
            </td>
            <td class="field-col">
                ID Type
            </td>
            <td class="field-col">
                ID Number
            </td>
            <td class="field-col">
                Insured Unit
            </td>
        </tr>
        <tbody class="tbody-align val-col">
            <ng-container *ngFor="let data of listData; let i=index;">
                <tr>
                    <td class="field-value">{{i+1}}</td>
                    <td class="field-value">{{data.travellerName}}</td>
                    <td class="field-value">{{data.idType}}</td>
                    <td class="field-value">{{data.idNumber}}</td>
                    <td class="field-value">{{data.insuredUnit}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="addon-print">
    <div class="title-style mt-5 mb-3">Insurance Detail</div>
    <table width="100%">
        <tr>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Total SI
            </td>
            <td class="value-col" colspan="4">{{totalSI}}</td>
            <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">
                Total Premium
            </td>
            <td class="value-col" colspan="4">{{totalPremium}}</td>
        </tr>
    </table>
</div>

<div class="addon-print">
    <div class="row">
        <div class="title-style text-bold mt-5 mb-3 ml-4">Declaration By Proposer</div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                I hereby declare that the statements made by me in this Proposal are true to the best of my knowledge
                and belief and I hereby agree that this declaration shall from the basic of the contract between me and
                KBZ MS Insurance Co., Ltd. in the event of the Proposal being accepted.
            </p>
        </div>
    </div>
</div>

<div class="moter-print">

    <div class="sign-row">
        <div class="sign-box">
            <label>DATE</label>
            <div class="sign-area"></div>
        </div>
        <div class="sign-box">
            <label>PROPOSER SIGNATURE</label>
            <div class="sign-area">
                <ng-container *ngIf="signId">
                    <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" class="sign-img">
                </ng-container>
            </div>
        </div>
    </div>


</div>