<div class="row my-row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-mt-5">
    <div class="card card-custom my-card">
      <div class="card-header card-50">
        <div class="card-title my-card-title">
          <div class="my-center">
            <img src="./assets/images/dashboard-user.png" class="user-image" alt="" />
            <br>
            <label class="text-dark center">Jemmy Tree</label><br>
            <label class="text-dark center">Senior LP Manager</label>
          </div>
        </div>
      </div>
      <div class="card-body customer-card-body card-50" style="margin-top: 10px;">
        <div class="row my-row mb-5">
          <div class="col-10">
            <label>Premium2021 Yangon Branch</label>
          </div>
          <div class="col-2">
            <img src="./assets/images/alert.png" class="icon-image" alt="" />
          </div>
        </div>

        <div class="mb-5">
          <label style="padding-left: 50px;"><span class="font-weight-bolder text-dark center font-24">200,000</span>
            <span><sup>MMk</sup></span></label>
        </div>
        <div>
          <div class="row my-row">
            <div class="col-12">
              <label class="font-weight-bolder text-dark underline">Products</label>
            </div>
          </div>
          <div class="row my-row">
            <div class="col-6">Motor</div>
            <div class="col-6">: 50000 MMK</div>
          </div>
          <div class="row my-row">
            <div class="col-6">Fire</div>
            <div class="col-6">: 30000 MMK</div>
          </div>
          <div class="row my-row">
            <div class="col-6">Education</div>
            <div class="col-6">: 20000 MMK</div>
          </div>
          <div class="row my-row">
            <div class="col-6">SportMan</div>
            <div class="col-6">: 100000 MMK</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-mt-5">
    <div class="card card-custom my-card">
      <div class="my-p-10">
        <div><span>SALES PERFORMANCE</span></div>
        <div class="width-100">
          <span>JAN | Y2021 |</span>
          <span class="float-right">View All</span>
        </div>
      </div>
     
      <div style="margin-top: 10px;">
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-profile-card" (click)="goToLPManager()">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>Tony Tang</span>
                </div>
                <div>
                  <span>220 MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-30 pl-10">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>700 MMK</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-mt-5">
    <div class="card card-custom my-card">
    <div class="my-p-10">
      <span>LEADS CONVERSION - Yangon Branch</span>
      <h5>56%</h5>
      <app-column-chart></app-column-chart>
    </div>


    <div class="container">
      <span>ACTIVE AGENTS TODAY</span>
      <h5>4</h5>
    </div>

    <div class="container">
      <span>THINGS TO FOLLOW UP TODAY</span>
      <div class="row my-row">
        <div class="col-6">
          <div class="box-1">
            <div><span>TASKS TODAY</span></div>
            <br>
            <div class="my-center">
              <h5>15</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="box-2">
            <div><span>LEADS TODAY</span></div>
            <br>
            <div class="my-center">
              <h5>58</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>