<div class="row my-row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-mt-5">
    <div class="card card-custom my-card">
      <div class="flex">
        <div class="my-center">
          <img src="./assets/images/dashboard-user.png" class="user-image" alt="" />
        </div>
        <div class="my-p-15">
          <label class="text-dark center">{{ data.agentInfo?.employeeName }}</label><br>
          <label class="text-dark center">Senior LP Manager</label>
        </div>
      </div>
    </div>
    <div class="card card-custom my-card">
        <div class="row my-row">
          <div class="col-10">
            <label>Premium - {{ data.yearlyTotalPremium?.year }} {{ data.yearlyTotalPremium?.month }} 
              {{ data.agentInfo?.totalPremium }} <span>MMk</span>
            </label>
          </div>
        </div>
        <div id="chart">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend" [colors]="chartOptions.colors" [grid]="chartOptions.grid"></apx-chart>
        </div>
        <div>
          <ng-container *ngFor="let product of data.yearlyProductPremium">
            <div class="row my-row">
              <div class="col-6">{{ product.productName }}</div>
              <div class="col-6 text-right">{{ product.premium }} MMK</div>
            </div>
          </ng-container>
        </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-mt-5">
    <div class="card card-custom my-card-fixed-height">
      <div class="my-p-10">
        <div><span>SALES PERFORMANCE</span></div>
        <div class="width-100">
          <span>JAN | Y2021 |</span>
          <span class="float-right">View All</span>
        </div>
      </div>

      <div style="margin-top: 10px;">
        <ng-container *ngFor="let agent of data.subAgentMonthlySale">
          <div class="my-profile-card" (click)="goToLPManager(agent)">
            <div class="flex">
              <div>
                <img src="./assets/images/dashboard-user.png" class="user-icon" alt="" />
              </div>
              <div class="pl-5">
                <div>
                  <span>{{ agent.name }}</span>
                </div>
                <div>
                  <span>{{ agent.premium }} MMK</span>
                </div>
              </div>
              <div class="my-border-left ml-4 pl-2">
                <div>
                  <span>Team</span>
                </div>
                <div>
                  <span>{{ agent.teamPremium }} MMK</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-mt-5" *ngIf="leadObj">
    <div class="card card-custom my-card">
      <div class="my-p-10">
        <span>LEADS CONVERSION - Yangon Branch</span>
        <h5>{{ leadObj.leadWinRate }} %</h5>
        <div id="chart">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend" [colors]="chartOptions.colors" [grid]="chartOptions.grid"></apx-chart>
        </div>
      </div>

      <div class="container">
        <span>ACTIVE AGENTS TODAY</span>
        <h5>{{ leadObj.todayActiveAgent }} </h5>
      </div>

      <div class="container">
        <span>THINGS TO FOLLOW UP TODAY</span>
        <div class="row my-row">
          <div class="col-6">
            <div class="box-1">
              <div><span>TASKS TODAY</span></div>
              <br>
              <div class="my-center">
                <h5>{{ leadObj.taskToday }}</h5>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="box-2">
              <div><span>LEADS TODAY</span></div>
              <br>
              <div class="my-center">
                <h5>{{ leadObj.leadToday }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>