.top-box {
  color: #B5B5C3;
  margin-left: 50px;

  span {
    color: #000;
    //  font-weight: 700;
  }
}

.my-center {
  text-align: center;
}

.user-image{
  width: 120px;
}

.user-icon {
  width: 35px;
}

.icon-image {
  width: 20px;
}

.font-24 {
  font-size: 24px !important;
}

.font-14 {
  font-size: 14px !important;
}
.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.my-border-left {
  border-left: 1px solid #7e8299;
}

.my-card-title {
  justify-content: center;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.my-p-15{
  padding: 40px 15px 15px 15px;
}

.my-profile-card {
  padding: 8px 8px 8px 15px;
  cursor: pointer;
}

.my-border-bottom {
  border-bottom: 1px solid rgb(218, 217, 217);
}

.my-border-none {
  border: none;
}

.my-p-10 {
  padding: 10px;
}

.my-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.my-mt-5 {
  margin-top: 5px;
  ;
}

.my-p-10 {
  padding: 15px 15px 0px 15px;
}

.my-box {
  width: 100px;
  height: 100px;
  color: #FFF;
  margin-right: 8px;
  padding : 8px;
}

.box-1 {
  @extend .my-box;
  background-color: yellow;
}
.box-2 {
  @extend .my-box;
  background-color: orange;
}
.box-3 {
  @extend .my-box;
  background-color: rgb(104, 104, 250);
}

.container {
  width: 100%;
  min-height: 200px;
}

.fist-panel-container {
  width: 100%;
  height: 50%;
}

.my-card {
  overflow-y: auto;
  background-color: #FFF !important;
  border : 1px solid lightgrey !important;
  margin : 5px;
}

.my-card-fixed-height {
  max-height: calc(100vh - 215px);
  min-height: 443px;
  overflow-y: auto;
  background-color: #FFF !important;
  border : 1px solid lightgrey !important;
  margin : 5px;
}

.primary-color{
  color       : #005f99 !important;
}

.card-50 {
  height: 230px;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

.cursor{
  cursor: pointer;
}

.red{
  color : red !important;
}