.fna-bram-tab {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 36px;
    margin: 0;
    table {
        width: 100%;
        margin-bottom: 38px;
        box-shadow: none;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    th,
    td {
        vertical-align: middle;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        padding-left: 16px !important;
        text-align: center;
        overflow: hidden;
        //padding-top: 14px !important;
    }
    th {
        color: #000;
        font-weight: bold;
        font-size: 1.1rem !important;
        text-align: center;
    }
}
.btn {
    border-radius: 0 !important;
    border-color: unset;
    border: unset;
}

.table2 {
    box-shadow: none;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    td:first-child {
        color: #000;
        font-weight: bold;
        font-size: 1.1rem !important;
        text-align: center;
        vertical-align: middle;
        padding: 0 !important;
    }
}

.btn-next {
    width: 100%;
    overflow: hidden;
    margin: 47px 0 0 0;
    div {
        width: 250px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 15px;
        button {
            max-width: 120px;
            min-width: 100px;
            float: left;
        }

        button:nth-child(2) {
            float: right;
        }
    }
}


// .high {
//     background: red;
// }
// .medium {
//     background: orange;
// }
// .low {
//     background: green;
// }





