<div class="box-grid" style="background: #fff;">
  <div class="financial-grid">
    <div style="width: 97%; border-bottom: medium dashed #d9d9d9;">
      <h3 class="card-label left-border-image">Financial Needs Analysis</h3>
      <div class="financial">
        <div>
          <label>Customer :</label>
          <label>{{ passValue.customerName }}</label>
        </div>
        <div>
          <label>Created By : </label>
          <label>{{ passValue.conductedBy }}</label>
        </div>
        <div>
          <label>Created : </label>
          <label>{{ passValue.createdAt }}</label>
        </div>
      </div>
      <div class="fna-progress">
        <div class="progress">
          <span style="width:100%; height: 100%;" [ngClass]="bgColor" [ngStyle]="{'height': percentage }"><span
              class="sub-progress">
              <div class="text-rotate" [ngStyle]="{'bottom': totalPercentageText }">{{ percentage }}</div>
            </span></span>
        </div>

        <!-- <div class="progress">
        <span style="width:100%; height: 100%;">
            <span class="sub-progress"
               [ngClass]="bgColor"> 
                <div class="text-rotate">{{ percentage }}</div>
            </span>
        </span>
    </div> -->
      </div>
    </div>
    <div [ngStyle]="{'color':fnaTextColor? '#22aae1' : '#f5821f' }"><label>FNA Progress
      </label></div>
  </div>
  <div class="chart-grid" [ngSwitch]="fnaSwitch">
    <div *ngIf="selected == '' " class="fna-segment">
      <div>
        <button type="button" class="btn"
          [ngStyle]="{'background-color': fnaSwitch === 'aboutLLP' ? '#005f99' : '#A6A6A6' }">About LPP</button>
        <button type="button" class="btn"
          [ngStyle]="{'background-color': fnaSwitch === 'product' ? '#005f99' : '#A6A6A6' }">Product
          Recommendation</button>
      </div>
    </div>
    <app-llp-analysis *ngSwitchDefault [aboutLLP]="aboutLLP" (change)="fnaEvent($event)"></app-llp-analysis>
    <app-product-analysis [fnaId]="oldId" [product]="product" *ngSwitchCase="'product'"
      (changeProduct)="changeProduct($event)">
    </app-product-analysis>
    <app-education [fnaId]="oldId" [education]="education" *ngSwitchCase="'Education'"
      (changeAnalysis)="fnaEvent($event)">
    </app-education>
    <app-health [fnaId]="oldId" [health]="health" *ngSwitchCase="'Health'" (changeAnalysis)="fnaEvent($event)">
    </app-health>
    <app-income [fnaId]="oldId" [fnaIncome]="fnaIncome" *ngSwitchCase="'Income'" (changeAnalysis)="fnaEvent($event)">
    </app-income>
    <app-retirement [fnaId]="oldId" [retirement]="retirement" [customerDob]="passValue.customerDob"
      *ngSwitchCase="'Retirement'" (changeAnalysis)="fnaEvent($event)">
    </app-retirement>
    <app-asset [fnaId]="oldId" [fnaAssets]="fnaAssets" *ngSwitchCase="'Asset'" (changeAnalysis)="fnaEvent($event)">
    </app-asset>
  </div>
</div>