<div class="card card-custom gutter-b">
    <div class="card-body customer-card-body">
        <div class="table-responsive angular-bootstrap-table mt-5">
            <table class="table table-head-custom table-vertical-center">
                <thead>
                    <tr>
                        <th>{{"FORM.risk_no" | translate }}</th>
                        <th>{{"FORM.travel_plan" | translate }}</th>
                        <th>{{"FORM.insured_unit" | translate }}</th>
                        <th>{{"FORM.travel_duration" | translate }}</th>
                        <th>{{"FORM.no_of_traveller" | translate }}</th>
                        <th>{{"FORM.total_unit" | translate }}</th>
                        <th>{{"FORM.traveller_name" | translate }}</th>
                        <th>{{"FORM.premium" | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listData;let i = index">
                        <tr>
                            <td>{{ i+ 1 }}</td>
                            <td>{{replaceT(item.travelPlan) | titlecase}}</td>
                            <td>{{replaceT(item.insuredUnit) | titlecase}}</td>
                            <td>{{replaceT(item.travelDuration) | titlecase}}</td>
                            <td>{{item.noOfTraveller}}</td>
                            <td>{{item.totalUnit}}</td>
                            <td>{{item.travellerName}}</td>
                            <td>{{item.premium | number}}</td>
                           
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>