<div class="example-preview" *ngIf="data.length > 0">
    <div class="example-container table-responsive angular-bootstrap-table">
        <table mat-table [dataSource]="dataSource" matSort class="table table-head-custom table-vertical-center"
            style="margin-bottom: 0px;">

            <ng-container *ngFor="let item of colum; let i = index">
                <ng-container matColumnDef="{{item.field}}">
                    <ng-container *ngIf="item.type == 'field';else actTemp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.title}} </th>
                        <td mat-cell *matCellDef="let element"
                            [ngStyle]="{'text-align': item.amtFormat ? 'right': 'left'}">
                            <ng-container *ngIf="item.isImg">
                                <img [src]="Default_DOWNLOAD_URL+'/'+element[item.field]" alt="" srcset=""
                                    class="table-img">
                            </ng-container>
                            <ng-container *ngIf="item.amtFormat">
                                {{(element[item.field] > 0 ? (element[item.field] | number: '1.2-2') : '0')}}
                            </ng-container>
                            <ng-container *ngIf="item.isAttachment">
                                {{element[item.field]}}
                            </ng-container>
                            <ng-container *ngIf="item.isTitle">
                                {{element[item.field] ? (element[item.field]+"" | titlecase) : ""}}
                            </ng-container>
                            <ng-container *ngIf="item.isUpper">
                                {{ element[item.field] ? (element[item.field]+"" | uppercase) : ""}}
                            </ng-container>
                            <ng-container *ngIf="item.isDate">
                                {{FormatedDate(element[item.field])}}
                            </ng-container>
                            <ng-container *ngIf="item.isFromatDate">
                                {{element[item.field] | date : "dd/MM/yyyy" }}
                            </ng-container>
                            <ng-container *ngIf="item.isActivityStatus">
                                <span
                                    class="label label-custom-round label-inline label-{{activityStatusColor[element[item.field]]}}">{{
                                    activityStatus[element[item.field]] }}</span>
                            </ng-container>
                            <ng-container *ngIf="item.isLeadStatus">
                                <span
                                    class="label label-custom-round label-inline label-{{leadStatusColor[element[item.field]]}}">{{
                                    leadStatus[element[item.field]] }}</span>
                            </ng-container>
                            <ng-container *ngIf="item.isRenewStatus">
                                <span
                                    class="label label-custom-round label-inline label-{{renewStatusColor[element[item.field]]}}">{{
                                    renewStatus[element[item.field]] }}</span>
                            </ng-container>
                            <ng-container *ngIf="item.isCustomerStatus">
                                <span
                                    class="label label-custom-round label-inline label-{{customerStatusColor[element[item.field]]}}">{{
                                    customerStatus[element[item.field]] }}</span>
                            </ng-container>
                            <ng-container *ngIf="item.isProdStatus">
                                <span
                                    class="label label-custom-round label-inline label-{{prodStatusColor[element[item.field]]}}">{{
                                    prodStatus[element[item.field]] }}</span>
                            </ng-container>
                            <ng-container *ngIf="item.isQuotationDay">
                                <ng-container *ngIf="element[item.field]">{{element[item.field]}}
                                    {{(element['quotationRule']+"s") | lowercase}} after creation dates</ng-container>
                            </ng-container>
                            <ng-container *ngIf="item.isPolicyDay">
                                <ng-container *ngIf="element[item.field]">{{element[item.field]}}
                                    {{(element['policyRule']+"s") | lowercase}} after creation dates</ng-container>
                            </ng-container>
                            <ng-container *ngIf="item.isAllowBackDate">
                                {{element[item.field] == "30days" ? "30 days" : (element[item.field] | titlecase) }}
                            </ng-container>
                            <ng-container *ngIf="item.isPaymentFrequencyType">
                                {{ getFreq(element[item.field]) }}
                            </ng-container>
                            <ng-container *ngIf="item.isStatus">
                                <span
                                    class="label label-custom-round label-inline label-{{statusColor[element[item.field]]}}">
                                    {{ element[item.field] == "in_progress" ? "In Progress" : (element[item.field] |
                                    titlecase ) }}</span>
                                <!-- {{ getFreq(element[item.field]) }} -->
                            </ng-container>
                            <ng-container
                                *ngIf="!item.isDate && !item.isTitle && !item.amtFormat && !item.isFromatDate && !item.isActivityStatus && !item.isQuotationDay && !item.isAllowBackDate && !item.isPaymentFrequencyType && !item.isUpper && !item.isStatus && !item.isProdStatus && !item.isImg && !item.isCustomerStatus  && !item.isLeadStatus && !item.isRenewStatus">
                                {{item.prefix ? item.prefix : ""}}{{element[item.field]}}
                            </ng-container>
                        </td>
                        <ng-container *ngIf="calField.includes(item.field) && calTotal; else footer">
                            <td mat-footer-cell *matFooterCellDef style="padding: 0 10px;">{{ (totalAmount[item.field]
                                || '') | number: '1.2-2' }}</td>
                        </ng-container>

                        <ng-template #footer>
                            <td mat-footer-cell *matFooterCellDef style="padding-left: 10px;">
                                <label *ngIf="i == 0">Total</label>
                            </td>
                        </ng-template>

                    </ng-container>
                    <ng-template #actTemp>
                        <th mat-header-cell *matHeaderCellDef> {{item.title | titlecase}} </th>
                        <td mat-cell *matCellDef="let element">
                            <app-action-button *ngIf="item.type == 'action'" [data]="element"
                                (emitter)="actionBtn($event)" [viewBtn]="item.btn">
                            </app-action-button>
                            <span *ngIf="item.type == 'text'" class="text-primary"
                                style="text-decoration: underline;white-space: nowrap;cursor: pointer;"
                                (click)="createPolicyBtn(element)">{{item.field | titlecase}}</span>
                        </td>
                        <ng-container *ngIf="calTotal">
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                    </ng-template>
                </ng-container>
            </ng-container>

            <!-- Position Column -->
            <!-- 'hidden-row': selectable && !row.config -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <ng-container *ngIf="selectable;else noSelectTable">
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
                    [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
                    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
            </ng-container>
            <ng-template #noSelectTable>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </ng-template>

            <ng-container *ngIf="calTotal">
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </ng-container>

        </table>

    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" style-paginator showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
<div class="text-center" *ngIf="data.length == 0">
    <span style="color: gray;">There is no data</span>
</div>