<div [ngClass]="colClass" ng [formGroup]="formInput" *ngIf="formInput">
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{"FORM.start_date" | translate}}</label>
        <div class="col-sm-8">
            <div class="input-group ">
                <input matInput class="form-control-sm date-input" formControlName="startDate" [matDatepicker]="startDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate disabled="false"></mat-datepicker>
                <span class="ng-clear-wrapper" (click)="clearDate('startDate')" title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="colClass" [formGroup]="formInput" *ngIf="formInput">
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{"FORM.end_date" | translate}}</label>
        <div class="col-sm-8">
            <div class="input-group ">
                <input matInput class="form-control-sm date-input" formControlName="endDate" [matDatepicker]="endDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate disabled="false"></mat-datepicker>
                <span class="ng-clear-wrapper" (click)="clearDate('endDate')" title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>

            </div>
        </div>
    </div>
</div>


<!--expired date-->
<div [ngClass]="colClass" ng [formGroup]="formInput" *ngIf="formInput">
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{"FORM.expired_start_date" | translate}}</label>
        <div class="col-sm-8">
            <div class="input-group ">
                <input matInput class="form-control-sm date-input" formControlName="expiredStart" [matDatepicker]="expiredStart" readonly>
                <mat-datepicker-toggle matSuffix [for]="expiredStart"></mat-datepicker-toggle>
                <mat-datepicker #expiredStart disabled="false"></mat-datepicker>
                <span class="ng-clear-wrapper" (click)="clearDate('expiredStart')" title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="colClass" ng [formGroup]="formInput" *ngIf="formInput">
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{"FORM.expired_end_date" | translate}}</label>
        <div class="col-sm-8">
            <div class="input-group ">
                <input matInput class="form-control-sm date-input" formControlName="expiredEnd" [matDatepicker]="expiredEnd" readonly>
                <mat-datepicker-toggle matSuffix [for]="expiredEnd"></mat-datepicker-toggle>
                <mat-datepicker #expiredEnd disabled="false"></mat-datepicker>
                <span class="ng-clear-wrapper" (click)="clearDate('expiredEnd')" title="Clear all"><span aria-hidden="true" class="ng-clear">×</span></span>
            </div>
        </div>
    </div>
</div>
