

<div class="addon-print" *ngIf="policyHolder">
  <div class="title-style mt-5 mb-3">Policy Holder</div>
  <div class="row" >
    <div class="col-sm-3 text-bold">
      Name
    </div>
    <div class="col-sm-6">
      {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      ID
    </div>
    <div class="col-sm-6">
    {{policyHolder.cprNumber}} 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Date of Birth
    </div>
    <div class="col-sm-6">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Mobile
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].mobileNo}}
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Email
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].eMailId}}
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bold">
      Address
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].address1}}/{{policyHolder.partyAddress[0].address2}}/{{policyHolder.partyAddress[0].address3}}/{{policyHolder.townshipName}}/{{policyHolder.districtName}}/{{policyHolder.stateName}}
      </ng-container>
    </div>
  </div>
  
</div>

<div class="addon-print">
  <div class="title-style mt-5 mb-3">Policy Information Detail</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Policy Effective Date
      </td>
      <td class="value-col">{{detail.startDate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Policy Expiry Date
      </td>
      <td class="value-col">{{detail.endDate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Policy Duration Days
      </td>
      <td class="value-col">{{detail.policyDuration}} - {{policyUnit[detail.policyUnit]}}</td>
    </tr>
    <tr>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Policy Type</td>
      <td class="value-col" colspan="2">{{detail.policyType == "T-NM" ? "Normal" : "Declaration"}}</td>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Currency</td>
      <td class="value-col" colspan="2">{{detail.currency}}</td>
     
    </tr>
    <tr>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Risk Address</td>
      <td class="value-col" colspan="10">{{address.f_house_no}}/{{address.f_block_no}}/{{address.f_area_name}}/{{address.stateValue}}/{{address.districtValue}}/{{address.townshipValue}}</td>
    </tr>
  </table>
</div>


<div class="addon-print">
  <div class="title-style mt-5 mb-3">Risk Detail Information</div>
  <table class="tbody-align">
    <tr>
      <td class="field-col">
        Building Description 
      </td>
      <td class="field-col">
        Type of Building
      </td>
      <td class="field-col">
        Occupation of Building
      </td>
      <td class="field-col">
        Building Class
      </td>
      <td class="field-col">
       Total Square Feet
      </td>
      <td class="field-col">
        Year of Construction 
      </td>
      <td class="field-col">
        Proposed Building SI
      </td>
      <td class="field-col">
        Proposed Furniture
      </td>
      <td class="field-col">
        Proposed Machinery SI
      </td>
      <td class="field-col">
        Proposed Stock SI
      </td>
      <td class="field-col">
        Total SI
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of listData;">
        <tr>
          <td class="field-value">{{data.buildingDescription}}</td>
          <td class="field-value">{{data.typeOfBuildingValue}}</td>
          <td class="field-value">{{data.occupationOfBuildingValue}}</td>
          <td class="field-value">{{data.buildingClassValue}}</td>
          <td class="field-value">{{data.totalSquareFoot}}</td>
          <td class="field-value">{{data.yearOfConstruction}}</td>
          <td class="field-value">{{data.buildingSi|| 0 | number}}</td>
          <td class="field-value">{{data.proposedFurniture|| 0 | number}}</td>
          <td class="field-value">{{data.proposedMachinerySI|| 0 | number}}</td>
          <td class="field-value">{{data.proposeStockValue|| 0 | number}}</td>
          <td class="field-value">{{data.riskSi|| 0 | number}}</td>
        </tr>
        <tr>
          <td class="field-value" colspan="6"> Total Si</td>
          <td class="field-value"> {{ totalbuildingSi | number}}</td>
          <td class="field-value"> {{ totalproposedFurniture | number}}</td>
          <td class="field-value"> {{ totalproposedMachinerySI | number}}</td>
          <td class="field-value"> {{ totalproposeStockValue | number}}</td>
          <td class="field-value"> {{ totalriskSi | number}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>


<div class="addon-print">
  <div class="title-style  mt-5 mb-3">Additional Cover Information</div>
  <table class="tbody-align">
    <tr>
      <td class="field-col">
        Building Description
      </td>
      <td class="field-col">
        Fire Premium
      </td>
      <td class="field-col">
        STHTC
      </td>
      <td class="field-col">
        Impact Damage
      </td>
      <td class="field-col">
        RSMD
      </td>
      <td class="field-col">
        Burglary
      </td>
      <td class="field-col">
        Air Craft Damage
      </td>
      <td class="field-col">
        EQ
      </td>
      <td class="field-col">
        Spontaneous Combus
      </td>
      <td class="field-col">
        Subsidence and Landslid
      </td>
      <td class="field-col">
        War Risk
      </td>
      <td class="field-col">
        Explosion 
      </td>
      <td class="field-col">
        Flood and Inundati 
      </td>
      <td class="field-col">
        Total Premium 
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of addOnData;">
        <tr>
          <td class="field-value">{{data.description}}</td>
          <td class="field-value">{{data.firepremium || 0}}</td>
          <td class="field-value">{{data.STHTC | number }}</td>
          <td class="field-value">{{data.IMPD | number}}</td>
          <td class="field-value">{{data.RSMD}}</td>
          <td class="field-value">{{data.BURGLARY | number }}</td>
          <td class="field-value">{{data.ACD | number }}</td>
          <td class="field-value">{{data.EQ | number }}</td>
          <td class="field-value">{{data.SPONTCOMB | number }}</td>
          <td class="field-value">{{data.SUBLSLD | number }}</td>
          <td class="field-value">{{data.WARRISK | number }}</td>
          <td class="field-value">{{data.EXPLOSION| number }}</td>
          <td class="field-value">{{data.FLOOD | number }}</td>
          <td class="field-value">{{data.premium | number }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="addon-print">
  <div class="title-style mt-5 mb-3">Insurance Detail</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Total SI</td>
      <td class="value-col" colspan="4">{{totalSi | number}}</td>
      <td class="field-col" style="background-color: rgb(221, 235, 247);color: rgb(31, 78, 120);">Total Premium</td>
      <td class="value-col" colspan="4">{{premiumAmt}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="row">
    <div class="title-style text-bold mt-5 mb-3">Declaration By Proposer</div>
  </div>
  <div class="row">
    <div class="col">
       <p>I hereby declare that the statements made by me in this Proposal are true to the best of my knowledge and belief and I hereby agree that this declaration  shall from  the basic of the contract between me and KBZ MS Insurance Co.,Ltd. in the event of the Proposal being accepted</p>
    </div>
  </div>
</div>

<div class="moter-print">

  <div class="sign-row">
    <div class="sign-box">
      <label>DATE</label>
      <div class="sign-area"></div>
    </div>
    <div class="sign-box">
      <label>PROPOSER SIGNATURE</label>
      <div class="sign-area">
        <ng-container *ngIf="signId">
          <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>


</div>