<button type="button" class="btn btn-outline-primary mt-5" style="position:absolute; top:0px;"
  (click)="createPdf()">Generate</button>
<div class="addon-print" *ngIf="policyHolder">
  <div class="title-style text-bold mt-5 mb-3">Policyholder Information Details</div>
  <div class="row form-txt line-sp" style="padding-top: 10px;">
    <div class="col-sm-3 text-bold">
      Name
    </div>
    <div class="col-sm-6">
      {{policyHolder.titleValue}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold ">
      ID
    </div>
    <div class="col-sm-6">
      {{policyHolder.idType}} - {{policyHolder.cprNumber}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Date of Birth
    </div>
    <div class="col-sm-6">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Mobile
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].mobileNo}}
      </ng-container>
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Email
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].eMailId}}
      </ng-container>
    </div>
  </div>
  <div class="row form-txt line-sp">
    <div class="col-sm-3 text-bold">
      Address
    </div>
    <div class="col-sm-6" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].address1}} , {{policyHolder.partyAddress[0].address2}} ,
        {{policyHolder.partyAddress[0].address3}} , {{policyHolder.townshipName}} , {{policyHolder.districtName}} ,
        {{policyHolder.stateName}}
      </ng-container>
    </div>
  </div>

</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Policy Information Details</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;">Policy Effective Date
      </td>
      <td class="field-pd">{{detail.startDate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: #e9f8fe;">Policy Expiry Date
      </td>
      <td class="field-pd">{{detail.endDate | date: 'dd/MM/YYYY'}}</td>
      <td class="field-col" style="background-color: #e9f8fe;">Policy Duration
      </td>
      <td class="field-pd">{{detail.policyDuration}} - {{policyUnit[detail.policyUnit]}}</td>
    </tr>
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;">Policy Type</td>
      <td class="field-pd" colspan="2">{{detail.policyType == "T-NM" ? "Normal" : "Declaration"}}</td>
      <td class="field-col" style="background-color: #e9f8fe;">Currency</td>
      <td class="field-pd" colspan="2">{{detail.currency}}</td>

    </tr>
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;">Risk Address</td>
      <td class="field-pd" colspan="10">
        {{address.f_house_no}}/{{address.f_block_no}}/{{address.f_area_name}}/{{address.stateValue}}/{{address.districtValue}}/{{address.townshipValue}}
      </td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Risk Information Details</div>
  <table class="tbody-align" width="100%">
    <tr>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Building Description
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Type of Building
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Occupation of Building
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Building Class
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Total Square Feet
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Build Year
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Proposed Building SI
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Proposed Furniture
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Proposed Machinery SI
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Proposed Stock SI
      </td>
      <td class="field-pd" style="background-color: #e9f8fe;">
        Total SI
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of listData;">
        <tr>
          <td class="field-pd">{{data.buildingDescription}}</td>
          <td class="field-pd">{{data.typeOfBuildingValue}}</td>
          <td class="field-pd">{{data.occupationOfBuildingValue}}</td>
          <td class="field-pd">{{data.buildingClassValue}}</td>
          <td class="field-pd">{{data.totalSquareFoot}}</td>
          <td class="field-pd">{{data.yearOfConstruction}}</td>
          <td class="value-col">{{data.buildingSi|| 0 | number : '1.2-2'}}</td>
          <td class="value-col">{{data.proposedFurniture|| 0 | number : '1.2-2'}}</td>
          <td class="value-col">{{data.proposedMachinerySI|| 0 | number : '1.2-2'}}</td>
          <td class="value-col">{{data.proposeStockValue|| 0 | number : '1.2-2'}}</td>
          <td class="value-col">{{data.riskSi|| 0 | number : '1.2-2'}}</td>
        </tr>

      </ng-container>
      <tr>
        <td colspan="6" class="field-pd"> Total SI</td>
        <td class="value-col"> {{ totalbuildingSi | number : '1.2-2'}}</td>
        <td class="value-col"> {{ totalproposedFurniture | number : '1.2-2'}}</td>
        <td class="value-col"> {{ totalproposedMachinerySI | number : '1.2-2'}}</td>
        <td class="value-col"> {{ totalproposeStockValue | number : '1.2-2'}}</td>
        <td class="value-col"> {{ totalriskSi | number : '1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 
<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Additional Cover Information</div>
  <table class="tbody-align" width="100%">
    <tr>
      <td class="field-col">
        Building Description
      </td>
      <td class="field-col">
        Fire Premium
      </td>
      <td class="field-col">
        STHTC
      </td>
      <td class="field-col">
        Impact Damage
      </td>
      <td class="field-col">
        RSMD
      </td>
      <td class="field-col">
        Burglary
      </td>
      <td class="field-col">
        Air Craft Damage
      </td>
      <td class="field-col">
        EQ
      </td>
      <td class="field-col">
        Spontaneous Combus
      </td>
      <td class="field-col">
        Subsidence and Landslid
      </td>
      <td class="field-col">
        War Risk
      </td>
      <td class="field-col">
        Explosion 
      </td>
      <td class="field-col">
        Flood and Inundate 
      </td>
      <td class="field-col">
        Total Premium 
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of addOnData;">
        <tr>
          <td class="field-value">{{data.description}}</td>
          <td class="value-col">{{data.firepremium || 0 | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.STHTC | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.IMPD | number  : '1.2-2'}}</td>
          <td class="value-col">{{data.RSMD | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.BURGLARY | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.ACD | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.EQ | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.SPONTCOMB | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.SUBLSLD | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.WARRISK | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.EXPLOSION| number  : '1.2-2' }}</td>
          <td class="value-col">{{data.FLOOD | number  : '1.2-2' }}</td>
          <td class="value-col">{{data.premium | number  : '1.2-2' }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div> -->

<div class="pagebreak" *ngIf="listData.length>0"> </div>

<!-- <div id="cover-table">  -->
<div class="addon-print">
  <div class="title-style text-bold mt-5 mb-5">Cover Information Details</div>
  <table width="100%">
    <tr>
      <td class="field-col text-bold">
        Building Description
      </td>
      <td class="field-col text-bold">
        Additional Cover Name
      </td>
      <td class="field-col text-bold">
        Additional Cover Premium
      </td>
    </tr>
    <tbody class="tbody-align val-col">
      <ng-container *ngFor="let data of addOnData;">

        <ng-container *ngIf="data.STHTC  != 0 || data.IMPD  != 0 ||  data.RSMD  != 0 || data.BURGLARY  != 0 || data.ACD  != 0 ||
        data.EQ  != 0 || data.SPONTCOMB!= 0 || data.SUBLSLD  != 0 || data.FLOOD  != 0 || data.FLOOD  != 0 || data.FLOOD  != 0
        ; else noData">
          <tr>
            <td rowspan="12" class="field-pd"> {{data.description}}</td>
            <!-- <td rowspan="11" class="field-value align-left" *ngIf="data.STHTC  !=0">STHTC</td>
            <td rowspan="11" class="field-value align-right" *ngIf="data.STHTC  !=0">{{data.STHTC | number:'1.2-2'}}</td> -->
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.STHTC  != 0">STHTC</td>
            <td class="value-col" *ngIf="data.STHTC  != 0">{{data.STHTC | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.IMPD  != 0">Impact Damage</td>
            <td class="value-col" *ngIf="data.IMPD  != 0">{{data.IMPD | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.RSMD  != 0">RSMD</td>
            <td class="value-col" *ngIf="data.RSMD  != 0">{{data.RSMD | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.BURGLARY  != 0">Burglary</td>
            <td class="value-col" *ngIf="data.BURGLARY  != 0">{{data.BURGLARY | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.ACD  != 0">Air Craft Damage</td>
            <td class="value-col" *ngIf="data.ACD  != 0">{{data.ACD | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.EQ  != 0">EQ</td>
            <td class="value-col" *ngIf="data.EQ  != 0">{{data.EQ | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.SPONTCOMB  != 0"> Spontaneous Combus</td>
            <td class="value-col" *ngIf="data.SPONTCOMB  != 0">{{data.SPONTCOMB | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.SUBLSLD  != 0"> Subsidence and Landslid</td>
            <td class="value-col" *ngIf="data.SUBLSLD  != 0">{{data.SUBLSLD | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.WARRISK  != 0">War Risk</td>
            <td class="value-col" *ngIf="data.WARRISK  != 0">{{data.WARRISK | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.EXPLOSION  != 0"> Explosion </td>
            <td class="value-col" *ngIf="data.EXPLOSION  != 0">{{data.EXPLOSION | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-pd" *ngIf="data.FLOOD  != 0"> Flood and Inundate </td>
            <td class="value-col" *ngIf="data.FLOOD  != 0">{{data.FLOOD | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="field-col" colspan="2" *ngIf="data.premium  != 0">Sub Total Premium</td>
            <td class="value-col" *ngIf="data.premium  != 0">{{data.premium | number:'1.2-2'}}</td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <ng-container>
            <tr>
              <td class="field-pd"> {{data.description}}</td>
              <td class="field-pd">-</td>
              <td class="value-col">-</td>
            </tr>
          </ng-container>
        </ng-template>
      </ng-container>
    </tbody>
  </table>
</div>

<!-- <div class="pagebreak" *ngIf="addOnData.length>1"> </div> -->
<div class="addon-print">
  <div class="title-style mt-5 mb-5 text-bold">Insurance Information Details</div>
  <table width="100%">
    <tr>
      <td class="field-col" style="background-color: #e9f8fe;">Approximate Total SI</td>
      <td class="value-col" colspan="4">{{totalSi | number : '1.2-2'}}</td>
      <td class="field-col" style="background-color: #e9f8fe;">Approximate Total Premium</td>
      <td class="value-col" colspan="4">{{premiumAmt}}</td>
    </tr>
  </table>
</div>

<div class="addon-print">
  <div class="row">
    <div class="text-bold mt-10 mb-3" style="margin-left:10px;font-size: 1.5rem;">Declaration By Proposer</div>
  </div>
  <div class="row">
    <div class="col">
      <p style="font-size: 12pt;">I hereby declare that the statements made by me in this Proposal are true to the best
        of my knowledge and belief and I hereby agree that this declaration shall from the basic of the contract between
        me and KBZMS General Insurance Co.,Ltd. in the event of the Proposal being accepted.</p>
    </div>
  </div>
</div>

<div class="moter-print">
  <div class="sign-row mt-5">
    <div class="sign-box">
      <br>
      <label class="mt-2">Date</label>
      <div class="sign-area sign-date">{{signatureDate | date : "dd/MM/yyyy"}}</div>
    </div>
    <div class="sign-box">
      <label class="text-bold">PROPOSER'S NAME AND SIGNATURE</label>
      <br>
      <label> {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}}
        {{policyHolder.lastName}}</label>
      <div class="sign-area">
        <ng-container *ngIf="fileId">
          <img [src]="DEFAULT_DOWNLOAD_URL+'?id='+fileId" alt="" class="sign-img">
        </ng-container>
      </div>
    </div>
  </div>
</div>