<div *ngIf="policyHolder">
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Policy Holder Information Details
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Name
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;">
      {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      ID
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;">
      {{policyHolder.cprNumber}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Date of Birth
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;" *ngIf="policyHolder.partyAddress">
      {{policyHolder.dateOfBirth}}
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Mobile
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].mobileNo}}
      </ng-container>
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Email
    </div>
    <div style="flex: 0 0 50%; max-width: 50%;" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].eMailId}}
      </ng-container>
    </div>
  </div>
  <div
    style="display: flex; flex-wrap: wrap; margin-right: -12.5px; font-size: 12pt; line-height: 30px; margin-left: 5px;">
    <div style="font-weight: 500; flex: 0 0 25%; max-width: 25%;">
      Address
    </div>
    <div style="flex: 0 0 75%; max-width: 75%;" *ngIf="policyHolder.partyAddress">
      <ng-container *ngIf="policyHolder.partyAddress.length > 0">
        {{policyHolder.partyAddress[0].address1}} , {{policyHolder.partyAddress[0].address2}} ,
        {{policyHolder.partyAddress[0].address3}} , {{policyHolder.townshipName}} , {{policyHolder.districtName}} ,
        {{policyHolder.stateName}}
      </ng-container>
    </div>
  </div>
</div>

<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Policy Information Details
  </div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Effective Date</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{detail.startDate | date: 'dd/MM/YYYY'}}</td>

      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Expiry Date</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{detail.endDate | date: 'dd/MM/YYYY'}}</td>

      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Duration Days</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        {{detail.policyDuration}} - {{policyUnit[detail.policyUnit]}}</td>
    </tr>
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Policy Type</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;"
        colspan="2">
        {{detail.policyType == "T-NM" ? "Normal" : "Declaration"}}</td>

      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Currency</td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;"
        colspan="2">
        {{detail.currency}}</td>
    </tr>
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; background-color:#e9f8fe; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit;">
        Risk Address</td>
      <td style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell;
      vertical-align: inherit;" colspan="10">
        {{address.f_house_no}}/{{address.f_block_no}}/{{address.f_area_name}}/{{address.stateValue}}/{{address.districtValue}}/{{address.townshipValue}}
      </td>
    </tr>
  </table>
</div>

<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Risk Information Details
  </div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Building Description
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Type of Building
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Occupation of Building
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Building Class
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Total Square Feet
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Build Year
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Proposed Building SI
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Proposed Furniture
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Proposed Machinery SI
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Proposed Stock SI
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Total SI
      </td>
    </tr>
    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
      <ng-container *ngFor="let data of listData;">
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;">
            {{data.buildingDescription}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;">
            {{data.typeOfBuildingValue}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;">
            {{data.occupationOfBuildingValue}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;">
            {{data.buildingClassValue}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;">
            {{data.totalSquareFoot}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;">
            {{data.yearOfConstruction}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.buildingSi|| 0 | number : '1.2-2'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.proposedFurniture|| 0 | number : '1.2-2'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.proposedMachinerySI|| 0 | number : '1.2-2'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.proposeStockValue|| 0 | number : '1.2-2'}}</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.riskSi|| 0 | number : '1.2-2'}}</td>
        </tr>

      </ng-container>
      <tr>
        <td colspan="6"
          style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
          Total SI</td>
        <td
          style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
          {{ totalbuildingSi | number : '1.2-2'}}</td>
        <td
          style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
          {{ totalproposedFurniture | number : '1.2-2'}}</td>
        <td
          style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
          {{ totalproposedMachinerySI | number : '1.2-2'}}</td>
        <td
          style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
          {{ totalproposeStockValue | number : '1.2-2'}}</td>
        <td
          style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
          {{ totalriskSi | number : '1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div id="cover-table">  -->
<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Cover Information Details</div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Building Description
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Additional Cover Name
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;">
        Additional Cover Premium
      </td>
    </tr>
    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
      <ng-container *ngFor="let data of addOnData;">
        <tr>
          <td rowspan="12"
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;">
            {{data.description}}</td>
          <!-- <td rowspan="11" class="field-value align-left" *ngIf="data.STHTC  !=0">STHTC</td>
          <td rowspan="11" class="field-value align-right" *ngIf="data.STHTC  !=0">{{data.STHTC | number:'1.2-2'}}</td> -->
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.STHTC  !=0">STHTC</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.STHTC  !=0">{{data.STHTC | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.IMPD  !=0">Impact Damage</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.IMPD  !=0">{{data.IMPD | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.RSMD  !=0">RSMD</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.RSMD  !=0">{{data.RSMD | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.BURGLARY  !=0">Burglary</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.BURGLARY  !=0">{{data.BURGLARY | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.ACD  !=0">Air Craft Damage</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.ACD  !=0">{{data.ACD | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.EQ  !=0">EQ</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.EQ  !=0">{{data.EQ | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.SPONTCOMB  !=0"> Spontaneous Combus</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.SPONTCOMB  !=0">{{data.SPONTCOMB | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.SUBLSLD  !=0"> Subsidence and Landslid</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.SUBLSLD  !=0">{{data.SUBLSLD | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.WARRISK  !=0">War Risk</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.WARRISK  !=0">{{data.WARRISK | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.EXPLOSION  !=0"> Explosion </td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.EXPLOSION  !=0">{{data.EXPLOSION | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding:5px 5px; font-size: 12pt;"
            *ngIf="data.FLOOD  !=0"> Flood and Inundate </td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;"
            *ngIf="data.FLOOD  !=0">{{data.FLOOD | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color: #e9f8fe;"
            colspan="2">Sub Total Premium</td>
          <td
            style="border: 1px solid #005f99eb; border-collapse: collapse; padding: 5px 5px; text-align: right; font-size: 12pt;">
            {{data.premium | number:'1.2-2'}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div>
  <div
    style="font-size: 1.5rem; background-color: #85bceb52; text-align: center; padding: 5px; font-weight: 500; margin-bottom: 1.25rem; margin-top: 1.25rem">
    Insurance Information Details
  </div>
  <table width="100%" style="border: 1px solid #005f99eb; border-collapse: collapse;">
    <tr>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color:#e9f8fe;">
        Approximate Total SI
      </td>
      <td style="padding: 5px 5px; text-align: right; font-size: 12pt;" colspan="4">
        {{totalSi | number : '1.2-2'}}
      </td>
      <td
        style="border: 1px solid #005f99eb; border-collapse: collapse; text-align: center; padding: 5px 5px; font-size: 12pt; display: table-cell; vertical-align: inherit; background-color:#e9f8fe;">
        Approximate Total Premium
      </td>
      <td style="padding: 5px 5px; text-align: right; font-size: 12pt;" colspan="4">
        {{premiumAmt}}
      </td>
    </tr>
  </table>
</div>

<div>
  <div style="display: flex; flex-wrap: wrap; margin-right: -12.5px; margin-left: -12.5px;">
    <div style="margin-left:10px; font-size:1.5rem; font-weight: 500; margin-top: 2.5rem; margin-bottom: 1.25rem;">
      Declaration By Proposer</div>
  </div>
  <div style="display: flex; flex-wrap: wrap; margin-right: -12.5px; margin-left: -12.5px;">
    <div style="flex-basis: 0; flex-grow: 1; max-width: 100%;">
      <p style="font-size: 12pt; padding: 0px 10px; text-align: justify;">
        I hereby declare that the statements made by me in this Proposal are true to the best
        of my knowledge and belief and I hereby agree that this declaration shall from the basic of the contract between
        me and KBZMS General Insurance Co.,Ltd. in the event of the Proposal being accepted
      </p>
    </div>
  </div>
</div>

<div>
  <div style="display: flex; justify-content: space-between; margin-top: 15px; font-size: 12pt; margin-top: 1.25rem;">
    <div>
      <br>
      <label
        style="display: inline-block; margin-top: 0.5rem; margin-bottom: 0.5rem; font-family: inherit; line-height: normal;">
        DATE</label>
      <div style="width: 150px; min-height: 30px; border-bottom: 1px #000 dashed;">
        {{signatureDate | date : "dd/MM/yyyy"}}</div>
    </div>

    <div>
      <label
        style="font-weight: 500; display: inline-block; margin-bottom: 0.5rem; font-family: inherit; line-height: normal;">
        PROPOSER NAME AND SIGNATURE</label>
      <br>
      <label style="display: inline-block; margin-bottom: 0.5rem; font-family: inherit; line-height: normal;">
        {{policyHolder.title}} {{policyHolder.firstName}} {{policyHolder.middleName}} {{policyHolder.lastName}}</label>
      <div style="width: 150px; min-height: 30px; border-bottom: 1px #000 dashed;">
        <ng-container *ngIf="signId">
          <img [src]="DEFAULT_DOWNLOAD_URL+signId" alt="" style="width: 150px;">
        </ng-container>
      </div>
    </div>
  </div>
</div>