/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.ngx-otp-input,
.ngx-otp-input:focus {
  border: 0px !important;
  border-radius: 5px !important;
  border: 0.5px solid black !important;
  background-color: #fff;
  width: 40px !important;
  height: 40px !important;
  color: var(--new-very-dark);
}

.ngx-otp-input-container {
  display: flex;
  justify-content: space-between;
  // .ngx-otp-input:not(:last-child) {
  //     margin-right: 35px !important;
  // }
}

.data {
  padding: 0;
  .customer-card-body {
    padding: 2rem 2.25rem !important;
    .data-list {
      margin: 0 0 30px 0;
      .data-header {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid #e3e3e3;
        div:first-child {
          width: 100%;
          overflow: hidden;
          padding: 0;
          float: left;
          img {
            width: 22px;
            height: 26px;
            margin: 0 0.75rem 15px 0;
            float: left;
          }
          label {
            padding: 8px 0 0 0;
            color: #404040;
            font-size: 0.9rem !important;
          }
        }
        div:nth-child(2) {
          padding: 0;
          float: right;
          .actions {
            width: 35px;
            height: 30px;
            border-radius: 5px;
            background: #005f99;
            float: right;
            margin-right: 35%;
            img {
              width: 17px;
              margin: 2px 10px;
            }
          }
        }
      }
      .data-content {
        border-bottom: 1px solid #e3e3e3;
        padding: 15px;
        label {
          width: 100%;
          line-height: 15px 0 0 0;
          font-size: 0.9rem !important;
        }
        div {
          padding: 0;
        }
        div:first-child {
          label:first-child {
            color: #005f99;
            font-weight: bold;
          }
        }

        div:nth-child(2) {
          text-align: center;
          padding: 10px 0;
          label:nth-child(2) {
            color: #ff8100;
            font-weight: 400;
          }
        }
        div:nth-child(3) {
          text-align: center;
          padding: 20px 0;
          span {
            color: #00acea;
          }
        }
      }
    }
  }
}
