<apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [markers]="chartOptions.markers"
  ></apx-chart>
  <!-- <div class="row mt-3">
    <div class="col-sm-6 mx-auto">
      <button class="btn btn-block btn-secondary" (click)="backPage()"> Previous </button>
    </div>
    <div class="col-sm-6 mx-auto">
      <button class="btn btn-block btn-primary" (click)="nextPage()"> Save & Next </button>
    </div>
  </div> -->