<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Health Product Details :</h3>
    </div>
  </div>
  <div class="card-body customer-card-body">
    <ul class="list-group">
      <li class="list-group-item">
        {{"FORM.Period of Insurance" | translate}}(From) :
        <span> {{showData.insuranceStartDate | date : "dd/MM/yyyy"}}</span>
      </li>
      <li class="list-group-item">
        {{"FORM.Period of Insurance" | translate }}(To) :
        <span> {{showData.insuranceEndDate | date : "dd/MM/yyyy"}}</span>
      </li>
      <li class="list-group-item">
        {{"FORM.Basic Cover" | translate }} :
        <span> {{showData.basicCoverId == "HEALTH" ? "Health Insurance" : "Critical Illness"}}</span>
      </li>
      <li class="list-group-item">
        {{"FORM.Date of Birth" | translate }}:
        <span> {{showData.dateOfBirth | date : "dd/MM/yyyy"}}</span>
      </li>
      <li class="list-group-item">
        {{"FORM.Payment Frequency" | translate }}:
        <span> {{showData.paymentFrequency == 'L' ? "Lump Sum" : "Semi-Annually"}}</span>
      </li>
      <li class="list-group-item">
        {{"FORM.Sum Insured of Main Cover" | translate }} :
        <span> {{showData.sumInsuredMainCover}} Unit{{showData.sumInsuredMainCover > 1 ? "s":""}}</span>
      </li>
      <li class="list-group-item">
        {{"FORM.Medical Card No." | translate }} :
        <span> {{showData.medicalCardNo}}</span>
      </li>
      <!--  -->
    </ul>
  </div>
</div>