<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
            Fire Risk
            <!-- <small style="text-decoration: underline;cursor: pointer;" *ngIf="oldData"
                (click)="viewOther('form')">(View
                Other Building)</small> -->
            <!-- <small style="text-decoration: underline;cursor: pointer;" *ngIf="viewPage != 'form'" (click)="viewOther('other')">(View
                Risk Detail)</small> -->
        </div>

    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <div class="toggle-box">
            <div class="toggle-header">
                <h3 class="left-border-image">Risk Detail</h3>
                <div class="tool-box">
                    <button type="button" *ngIf="activeBox=='DETAIL'" class="icon" (click)="toggleAccordion('DETAIL')">
                        <span class="flaticon2-back"></span>
                    </button>
                    <button type="button" *ngIf="activeBox!='DETAIL'" class="icon ml-2"
                        (click)="toggleAccordion('DETAIL')">
                        <span class="flaticon2-down"></span>
                    </button>
                </div>
            </div>
            <div class="toggle-body" [ngClass]="activeBox=='DETAIL' ? 'active' : 'inactive'">

            </div>
        </div>
    </div>

</div>