<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4 left-border-image" id="example-modal-sizes-title-lg">
      Select ( {{type | titlecase }} ) in list
    </div>

  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <!-- <form class="form">  -->
    <div class="form-group" *ngIf="type == 'quotation' || type == 'policy'">
      <select class="form-control form-control-sm" [(ngModel)]="type" (change)="getDatalist()">
        <option *ngFor="let item of types" value="{{item}}">{{item | titlecase}}</option>
      </select>
    </div>
      <app-material-table-view [selectable]="true" [data]="dataList" [colum]="tableData[type].ELEMENT_COL"
        [displayedColumns]="tableData[type].displayedColumns" (emitter)="actionBtn($event)">
      </app-material-table-view>
    <!-- <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center">
        <thead>
          <ng-container *ngFor="let item of tableData[type]">
            <th>
              {{item.col}}
            </th>
          </ng-container>
        </thead>
        <tbody>
          <ng-container *ngFor="let prod of dataList;let i = index">
            <tr (click)="selectedProd(prod.id || prod.empId,i)" class="{{ (prod.id || prod.empId) == selected ? 'bg-primary text-white' : '' }}"
              [ngClass]="{'pointer': type != 'page'}">
              <ng-container *ngFor="let item of tableData[type]">
                <td>
                  {{prod[item.key]}}
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
       </table>
       </div> -->
  </div>
  <div class="modal-footer">
    <!-- <button type="button" *ngIf="id" class="btn btn-danger btn-elevate mr-2"
      (click)="deleteEditModal()">Delete</button> -->
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">{{"FORM.btn_cancel" | translate }}</button>
    <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="!selected.id && !selected.empId">{{"FORM.btn_save" | translate }}</button>
  </div>
</div>