<div class="row">
  <div class="col-12 text-right pb-5">
    <button class="btn btn-light-dark new-btn-dark-gray mr-2 btn-round" [ngClass]="{'activated' : !isTeam}"
      (click)="changeView('myview')">{{"FORM.my_view" | translate}}</button>
    <button class="btn btn-light-dark new-btn-dark-gray btn-round" [ngClass]="{'activated' : isTeam}"
      (click)="changeView('team')">{{"FORM.team_veiw" | translate}}</button>
  </div>
  <div class="col-12">
    <div class="card card-custom gutter-b data">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label left-border-image">{{"FORM.renewal_list" | translate}}</h3>
        </div>
        <div class="card-toolbar">
          <span class="flaticon2-magnifier-tool search-tool" (click)="getList()"></span>
          <button type="button" class="btn btn-primary ml-2" style="min-width: 50px;" (click)="cancel()">
            <span class="">{{"FORM.btn_cancel" | translate}}</span>
          </button>
        </div>
      </div>
      <div class="card-body px-10 py-3">
        <form action="#" class="form" [formGroup]="actForm">

          <div class="row" style="align-items: center;">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{"FORM.policy_no" | translate}}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm " name="policyNumber" autocomplete="off"
                    [class.is-invalid]="isControlInvalid('policyNumber')" [class.is-valid]="isControlValid('policyNumber')"
                    formControlName="policyNumber" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{"FORM.policy_holder" | translate}}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm " name="policyHolder" autocomplete="off"
                    [class.is-invalid]="isControlInvalid('policyHolder')" [class.is-valid]="isControlValid('policyHolder')"
                    formControlName="policyHolder" />
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="align-items: center;">
            <app-start-end-date [formInput]="actForm" remove-host [colClass]="'col-md-6'">
            </app-start-end-date>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card card-custom gutter-b">

      <div class="card-body customer-card-body">
        <app-material-table-view [data]="renewList" [colum]="ELEMENT_COL" [displayedColumns]="displayedColumns"
          (emitter)="actionBtn($event)">
        </app-material-table-view>

      </div>
    </div>
  </div>
</div>