<div class="form-group">
    <div class="row" style="align-items: center;">
        <div class="col-sm-12">
            <label class="col-sm-12  left-border-image">Calculated Building Sl  <span style="margin-left: 20px;"> {{default}} </span> </label>
        </div>

    </div>
    <hr>
    <div class="px5 py5">
        <div class="row" style="align-items: center;">

            <div class="col-sm-8">
                <label class="col-sm-6  left-border-image">Contents including FFF</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isContents" [color]="primary" class="toggle ft-right" (change)="toggleChange('contents')"></mat-slide-toggle>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary mx-2 ft-right" (click)="add('contents')">Add</button>
            </div>
        </div>

        <div *ngIf="isContents">
            <app-tables [contents]="true" [tableData]="tableData"></app-tables>
            <div class="row" style="align-items: center;">

                <div class="col-sm-12">
                    <label class="col-sm-12 col-form-label tx-right">Total Sum Insured for Contents including FFF
                    <span style="margin-left: 29px;">{{total}}</span>
                </label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>

        <div class="row" style="align-items: center;">

            <div class="col-sm-8">
                <label class="col-sm-6  left-border-image">Plant and Machinery</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isPlant" [color]="primary" class="toggle ft-right" (change)="toggleChange('plants')"></mat-slide-toggle>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary mx-2 ft-right" (click)="add('plants')">Add</button>
            </div>
        </div>

        <div *ngIf="isPlant">
            <app-tables [plant]="true" [tableData]="tableData"></app-tables>
            <div class="row" style="align-items: center;">

                <div class="col-sm-12">
                    <label class="col-sm-12 col-form-label tx-right">Total Sum Insured for Plants and Machinery
                    <span style="margin-left: 29px;">{{total}}</span>
                </label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row" style="align-items: center;">

            <div class="col-sm-8">
                <label class="col-sm-6 left-border-image">Stock</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isStock" [color]="primary" class="toggle ft-right" (change)="toggleChange('stock')"></mat-slide-toggle>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary mx-2 ft-right" (click)="add('stock')">Add</button>
            </div>
        </div>

        <div *ngIf="isStock">
            <app-tables [stock]="true" [tableData]="tableData"></app-tables>
            <div class="row" style="align-items: center;">

                <div class="col-sm-12">
                    <label class="col-sm-12 col-form-label tx-right">Total Sum Insured for Stock
                    <span style="margin-left: 29px;">{{total}}</span>
                </label>
                </div>
            </div>
            <hr>
            <div>
                <div class="row" style="align-items: center;">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Total Stock Value</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm " name="score" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>