<div class="form-group">
    <div class="row" style="align-items: center;">
        <!-- <div class="col-sm-12">
            <label class="col-sm-12  left-border-image">Calculated Building Sl <span style="margin-left: 20px;">
                    {{default}} </span> </label>
        </div> -->

    </div>
    <hr *ngIf="productDetail.policyType == 'T-NM' ">
    <div class="px5 py5" *ngIf="productDetail.policyType == 'T-NM' ">
        <div class="row" style="align-items: center;">

            <div class="col-sm-8">
                <label class="col-sm-6  left-border-image">Contents including FFF</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isContents" [color]="primary" class="toggle ft-right"
                    (toggleChange)="toggleChange('contents')"></mat-slide-toggle>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-sm mx-2 ft-right"
                    (click)="add('contents',null,'Add')">Add</button>
            </div>
        </div>

        <div *ngIf="isContents && contentsData">
            <app-tables [isApplication]='isApplication'[contents]="true" [tableData]="contentsData" (emitter)="actionBtn($event)"></app-tables>
            <div class="row" style="align-items: center;">

                <div class="col-sm-12">
                    <label class="col-sm-12 col-form-label tx-right">Total Sum Insured for Contents including FFF
                        <span style="margin-left: 29px;">{{totalContent | number}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr *ngIf="productDetail.policyType == 'T-NM'">
    <div *ngIf="productDetail.policyType == 'T-NM'">
        <div class="row" style="align-items: center;">

            <div class="col-sm-8">
                <label class="col-sm-6  left-border-image">Plant and Machinery</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isPlant" [color]="primary" class="toggle ft-right"
                    (toggleChange)="toggleChange('plants')"></mat-slide-toggle>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-sm mx-2 ft-right"
                    (click)="add('plants',null,'Add')">Add</button>
            </div>
        </div>

        <div *ngIf="isPlant && plantData">
            <app-tables [isApplication]='isApplication'[plant]="true" [tableData]="plantData" (emitter)="actionBtn($event)"></app-tables>
            <div class="row" style="align-items: center;">

                <div class="col-sm-12">
                    <label class="col-sm-12 col-form-label tx-right">Total Sum Insured for Plants and Machinery
                        <span style="margin-left: 29px;">{{totalPlant | number}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row" style="align-items: center;">

            <div class="col-sm-8">
                <label class="col-sm-6 left-border-image">Stock</label>
            </div>
            <div class="col-sm-2">
                <mat-slide-toggle [(ngModel)]="isStock" [color]="primary" class="toggle ft-right"
                    (toggleChange)="toggleChange('stock')"></mat-slide-toggle>
            </div>
            <div class="col-sm-2" *ngIf="stockData.length == 0">
                <button type="button" class="btn btn-primary btn-sm mx-2 ft-right"
                    (click)="add('stock',null,'Add')">Add</button>
            </div>
        </div>

        <div *ngIf="isStock && stockData">
            <app-tables [isApplication]='isApplication'[stock]="true" [tableData]="stockData" (emitter)="actionBtn($event)"></app-tables>
            <div class="row" style="align-items: center;">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">Proposed Stock SI</label>
                        <div class="col-md-8">
                            <input type="tel" currencyMask
                                [options]="{ prefix: '', thousands: ',', precision: 0,allowNegative:false,align:'left' }"
                                class="form-control form-control-sm " name="proposeStockValue" autocomplete="off"
                                [value]="stockData.length > 0 ? stockData[0].agreedSi : 0" [disabled]="true" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label tx-right">Total Sum Insured for Stock
                        <span style="margin-left: 29px;">{{totalStock | number}}</span>
                    </label>
                </div>
            </div>
            <hr>

        </div>
    </div>