// body {
//     background-color: #ff4242;
//     font-family: "Lora", serif;
//   }
h2 {
    text-align: center;
    color: #fff;
    font-size: 8pt !important;
    font-family: "Lora", serif;
    font-weight: 700;
    margin-top: 60px;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}

h2 span {
    font-weight: 400;
}

.pagination {
    margin: 0;
    padding: 10px 5px 5px 5px;
    background-color: #fff;
    //border-radius: 20px;
    // box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center !important;
}

.pagination li {
    display: inline-block;
    list-style: none;
}

.pagination li a {
    display: block;
    width: 38px;
    //height: 22px;
    line-height: 15px;
    background-color: #fff;
    text-align: center;
    //text-decoration: none;
    color: #252525;
    // border-radius: 4px;
    margin: 3px;
    //box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 8pt !important;
    font-weight: 600;
}

.pagination li a:hover,
.pagination li.active a {
    color: #c5232a;
    background-color: #fff;
    // font-size: 12pt !important;
    // font-weight: 700;
}

.pagination li.active a {
    color: #c5232a;
    //background-color: #fff;
    font-size: 9.5pt !important;
    font-weight: 600;
}

// .pagination li:first-child button {
//   border-radius: 10px 0 0 10px;
// }
// .pagination li:last-child button {
//   border-radius: 0 10px 10px 0;
// }
.pagination li.disabled a {
    color: #252525;
    background: #fff;
    box-shadow: none;
    cursor: no-drop;
    pointer-events: none;
}



.pager{
    width : 100%;
    padding-top: 15px;
}

.pager_atom{
    margin: 6px 15px 0px 0px;
}

.pager_atom_btn{
    margin-right : 15px;
}

.right{
    float:right;
}
.pager_btn_wrapper{
    display : flex;
}

.mr_15{
    margin-right: 15px;
}

.mt_5{
    margin-top: 5px;
}
.common_btn{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    cursor: pointer;
}

.pager_primary_btn{
    @extend .common_btn;
    background-color: #005f99;
    color : #FFF;
}

.pager_primary_btn_selected{
    @extend .common_btn;
    background-color: #00acea;
    color : #FFF;
}

.pager_icon{
    width: 32px !important;
    cursor: pointer;
    margin-top: 4px;
}

.ml_15{
    margin-left: 15px;
}

.ml_30{
    margin-left: 30px;
}

.menu_bg{
    background-color: inherit;
}

.mb_10{
    margin-bottom: 10px;
}
